<p id="notice"><%= notice %></p>

<h1>Listing Regim Especials</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Tipus regim especial</th>
      <th>Referencia document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regim_especials.each do |regim_especial| %>
      <tr>
        <td><%= regim_especial.edifici_id %></td>
        <td><%= regim_especial.tipus_regim_especial %></td>
        <td><%= regim_especial.referencia_document %></td>
        <td><%= link_to 'Show', regim_especial %></td>
        <td><%= link_to 'Edit', edit_regim_especial_path(regim_especial) %></td>
        <td><%= link_to 'Destroy', regim_especial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regim especial', new_regim_especial_path %>
