<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @regim_especial.edifici_id %>
</p>

<p>
  <strong>Tipus regim especial:</strong>
  <%= @regim_especial.tipus_regim_especial %>
</p>

<p>
  <strong>Referencia document:</strong>
  <%= @regim_especial.referencia_document %>
</p>

<%= link_to 'Edit', edit_regim_especial_path(@regim_especial) %> |
<%= link_to 'Back', regim_especials_path %>
