<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @aigua.edifici_id %>
</p>

<p>
  <strong>Connexio directa:</strong>
  <%= @aigua.connexio_directa %>
</p>

<p>
  <strong>Connexio aforament:</strong>
  <%= @aigua.connexio_aforament %>
</p>

<p>
  <strong>Captacio propia:</strong>
  <%= @aigua.captacio_propia %>
</p>

<p>
  <strong>Comptador unic:</strong>
  <%= @aigua.comptador_unic %>
</p>

<p>
  <strong>Comptadors individuals habitatge:</strong>
  <%= @aigua.comptadors_individuals_habitatge %>
</p>

<p>
  <strong>Comptadors individuals centralitzats:</strong>
  <%= @aigua.comptadors_individuals_centralitzats %>
</p>

<p>
  <strong>Grup pressio:</strong>
  <%= @aigua.grup_pressio %>
</p>

<p>
  <strong>Muntants plom:</strong>
  <%= @aigua.muntants_plom %>
</p>

<p>
  <strong>Muntants ferro:</strong>
  <%= @aigua.muntants_ferro %>
</p>

<p>
  <strong>Muntants coure:</strong>
  <%= @aigua.muntants_coure %>
</p>

<p>
  <strong>Muntants plastic:</strong>
  <%= @aigua.muntants_plastic %>
</p>

<%= link_to 'Edit', edit_aigua_path(@aigua) %> |
<%= link_to 'Back', aigues_path %>
