<p id="notice"><%= notice %></p>

<h1>Listing Regim Propietats</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Tipus regim propietat</th>
      <th>Document escriptura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regim_propietats.each do |regim_propietat| %>
      <tr>
        <td><%= regim_propietat.edifici_id %></td>
        <td><%= regim_propietat.tipus_regim_propietat %></td>
        <td><%= regim_propietat.document_escriptura %></td>
        <td><%= link_to 'Show', regim_propietat %></td>
        <td><%= link_to 'Edit', edit_regim_propietat_path(regim_propietat) %></td>
        <td><%= link_to 'Destroy', regim_propietat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regim propietat', new_regim_propietat_path %>
