<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @estructura.edifici_id %>
</p>

<p>
  <strong>Parets pedra:</strong>
  <%= @estructura.parets_pedra %>
</p>

<p>
  <strong>Parets formigo armat:</strong>
  <%= @estructura.parets_formigo_armat %>
</p>

<p>
  <strong>Parets tova:</strong>
  <%= @estructura.parets_tova %>
</p>

<p>
  <strong>Parets tapia:</strong>
  <%= @estructura.parets_tapia %>
</p>

<p>
  <strong>Parets fabrica mao:</strong>
  <%= @estructura.parets_fabrica_mao %>
</p>

<p>
  <strong>Parets bloc ceramic:</strong>
  <%= @estructura.parets_bloc_ceramic %>
</p>

<p>
  <strong>Parets bloc formigo:</strong>
  <%= @estructura.parets_bloc_formigo %>
</p>

<p>
  <strong>Parets entramat fusta:</strong>
  <%= @estructura.parets_entramat_fusta %>
</p>

<p>
  <strong>Pilars mao:</strong>
  <%= @estructura.pilars_mao %>
</p>

<p>
  <strong>Pilars ferro colat:</strong>
  <%= @estructura.pilars_ferro_colat %>
</p>

<p>
  <strong>Pilars acer:</strong>
  <%= @estructura.pilars_acer %>
</p>

<p>
  <strong>Pilars formigo armat:</strong>
  <%= @estructura.pilars_formigo_armat %>
</p>

<p>
  <strong>Bigues fusta:</strong>
  <%= @estructura.bigues_fusta %>
</p>

<p>
  <strong>Bigues metaliques:</strong>
  <%= @estructura.bigues_metaliques %>
</p>

<p>
  <strong>Bigues formigo armat:</strong>
  <%= @estructura.bigues_formigo_armat %>
</p>

<p>
  <strong>Forjat fusta:</strong>
  <%= @estructura.forjat_fusta %>
</p>

<p>
  <strong>Forjat metalic:</strong>
  <%= @estructura.forjat_metalic %>
</p>

<p>
  <strong>Forjat formigo armat:</strong>
  <%= @estructura.forjat_formigo_armat %>
</p>

<p>
  <strong>Forjat ceramica armada:</strong>
  <%= @estructura.forjat_ceramica_armada %>
</p>

<p>
  <strong>Entrebigat taulell:</strong>
  <%= @estructura.entrebigat_taulell %>
</p>

<p>
  <strong>Entrebigat revolto ceramic:</strong>
  <%= @estructura.entrebigat_revolto_ceramic %>
</p>

<p>
  <strong>Entrebigat revolto formigo:</strong>
  <%= @estructura.entrebigat_revolto_formigo %>
</p>

<p>
  <strong>Forjat reticular:</strong>
  <%= @estructura.forjat_reticular %>
</p>

<p>
  <strong>Llosa formigo:</strong>
  <%= @estructura.llosa_formigo %>
</p>

<p>
  <strong>Forjat sanitari:</strong>
  <%= @estructura.forjat_sanitari %>
</p>

<p>
  <strong>Solera:</strong>
  <%= @estructura.solera %>
</p>

<p>
  <strong>Forjat horitzontal coberta capa pendent:</strong>
  <%= @estructura.forjat_horitzontal_coberta_capa_pendent %>
</p>

<p>
  <strong>Forjat horitzontal coberta envanets:</strong>
  <%= @estructura.forjat_horitzontal_coberta_envanets %>
</p>

<p>
  <strong>Forjat inclinat coberta formigo:</strong>
  <%= @estructura.forjat_inclinat_coberta_formigo %>
</p>

<p>
  <strong>Encavallada bigues formigo:</strong>
  <%= @estructura.encavallada_bigues_formigo %>
</p>

<p>
  <strong>Encavallada bigues metall:</strong>
  <%= @estructura.encavallada_bigues_metall %>
</p>

<p>
  <strong>Encavallada bigues fusta:</strong>
  <%= @estructura.encavallada_bigues_fusta %>
</p>

<p>
  <strong>Coberta taulell ceramic:</strong>
  <%= @estructura.coberta_taulell_ceramic %>
</p>

<p>
  <strong>Coberta taulell fusta:</strong>
  <%= @estructura.coberta_taulell_fusta %>
</p>

<p>
  <strong>Coberta sandwich:</strong>
  <%= @estructura.coberta_sandwich %>
</p>

<p>
  <strong>Escala fusta:</strong>
  <%= @estructura.escala_fusta %>
</p>

<p>
  <strong>Escala metall:</strong>
  <%= @estructura.escala_metall %>
</p>

<p>
  <strong>Escala ceramica:</strong>
  <%= @estructura.escala_ceramica %>
</p>

<p>
  <strong>Escala llosa armada:</strong>
  <%= @estructura.escala_llosa_armada %>
</p>

<%= link_to 'Edit', edit_estructura_path(@estructura) %> |
<%= link_to 'Back', estructures_path %>
