<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @industrial.edifici_id %>
</p>

<p>
  <strong>Nom industrial:</strong>
  <%= @industrial.nom_industrial %>
</p>

<p>
  <strong>Nif industrial:</strong>
  <%= @industrial.nif_industrial %>
</p>

<p>
  <strong>Tipus via industrial:</strong>
  <%= @industrial.tipus_via_industrial %>
</p>

<p>
  <strong>Via industrial:</strong>
  <%= @industrial.via_industrial %>
</p>

<p>
  <strong>Numero industrial:</strong>
  <%= @industrial.numero_industrial %>
</p>

<p>
  <strong>Bloc industrial:</strong>
  <%= @industrial.bloc_industrial %>
</p>

<p>
  <strong>Escala industrial:</strong>
  <%= @industrial.escala_industrial %>
</p>

<p>
  <strong>Pis industrial:</strong>
  <%= @industrial.pis_industrial %>
</p>

<p>
  <strong>Cp industrial:</strong>
  <%= @industrial.cp_industrial %>
</p>

<p>
  <strong>Poblacio industrial:</strong>
  <%= @industrial.poblacio_industrial %>
</p>

<p>
  <strong>Provincia industrial:</strong>
  <%= @industrial.provincia_industrial %>
</p>

<p>
  <strong>Pais industrial:</strong>
  <%= @industrial.pais_industrial %>
</p>

<%= link_to 'Edit', edit_industrial_path(@industrial) %> |
<%= link_to 'Back', industrials_path %>
