<p id="notice"><%= notice %></p>

<h1>Listing Dades Edifici Nous</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Tipus via edifici</th>
      <th>Via edifici</th>
      <th>Numero edifici</th>
      <th>Bloc edifici</th>
      <th>Escala edifici</th>
      <th>Cp edifici</th>
      <th>Poblacio edifici</th>
      <th>Provincia edifici</th>
      <th>Ref cadastral</th>
      <th>Us edifici</th>
      <th>Any inici construccio</th>
      <th>Any fi construccio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dades_edifici_nous.each do |dades_edifici_nou| %>
      <tr>
        <td><%= dades_edifici_nou.edifici_id %></td>
        <td><%= dades_edifici_nou.tipus_via_edifici %></td>
        <td><%= dades_edifici_nou.via_edifici %></td>
        <td><%= dades_edifici_nou.numero_edifici %></td>
        <td><%= dades_edifici_nou.bloc_edifici %></td>
        <td><%= dades_edifici_nou.escala_edifici %></td>
        <td><%= dades_edifici_nou.cp_edifici %></td>
        <td><%= dades_edifici_nou.poblacio_edifici %></td>
        <td><%= dades_edifici_nou.provincia_edifici %></td>
        <td><%= dades_edifici_nou.ref_cadastral %></td>
        <td><%= dades_edifici_nou.us_edifici %></td>
        <td><%= dades_edifici_nou.any_inici_construccio %></td>
        <td><%= dades_edifici_nou.any_fi_construccio %></td>
        <td><%= link_to 'Show', dades_edifici_nou %></td>
        <td><%= link_to 'Edit', edit_dades_edifici_nou_path(dades_edifici_nou) %></td>
        <td><%= link_to 'Destroy', dades_edifici_nou, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dades edifici nou', new_dades_edifici_nou_path %>
