<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @dades_edifici_nou.edifici_id %>
</p>

<p>
  <strong>Tipus via edifici:</strong>
  <%= @dades_edifici_nou.tipus_via_edifici %>
</p>

<p>
  <strong>Via edifici:</strong>
  <%= @dades_edifici_nou.via_edifici %>
</p>

<p>
  <strong>Numero edifici:</strong>
  <%= @dades_edifici_nou.numero_edifici %>
</p>

<p>
  <strong>Bloc edifici:</strong>
  <%= @dades_edifici_nou.bloc_edifici %>
</p>

<p>
  <strong>Escala edifici:</strong>
  <%= @dades_edifici_nou.escala_edifici %>
</p>

<p>
  <strong>Cp edifici:</strong>
  <%= @dades_edifici_nou.cp_edifici %>
</p>

<p>
  <strong>Poblacio edifici:</strong>
  <%= @dades_edifici_nou.poblacio_edifici %>
</p>

<p>
  <strong>Provincia edifici:</strong>
  <%= @dades_edifici_nou.provincia_edifici %>
</p>

<p>
  <strong>Ref cadastral:</strong>
  <%= @dades_edifici_nou.ref_cadastral %>
</p>

<p>
  <strong>Us edifici:</strong>
  <%= @dades_edifici_nou.us_edifici %>
</p>

<p>
  <strong>Any inici construccio:</strong>
  <%= @dades_edifici_nou.any_inici_construccio %>
</p>

<p>
  <strong>Any fi construccio:</strong>
  <%= @dades_edifici_nou.any_fi_construccio %>
</p>

<%= link_to 'Edit', edit_dades_edifici_nou_path(@dades_edifici_nou) %> |
<%= link_to 'Back', dades_edifici_nous_path %>
