<p id="notice"><%= notice %></p>

<h1>Listing Ventilacions</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Habitatge natural conductes</th>
      <th>Habitatge natural obertures</th>
      <th>Habitatge mecanica conductes</th>
      <th>Habitatge mecanica obertures</th>
      <th>Habitatge mecanica control</th>
      <th>Traster natural conductes</th>
      <th>Traster natural obertures</th>
      <th>Traster mecanica conductes</th>
      <th>Traster mecanica obertures</th>
      <th>Traster mecanica control</th>
      <th>Magatzem natural conductes</th>
      <th>Magatzem natural obertures</th>
      <th>Magatzem mecanica conductes</th>
      <th>Magatzem mecanica obertures</th>
      <th>Magatzem mecanica control</th>
      <th>Garatge natural conductes</th>
      <th>Garatge natural obertures</th>
      <th>Garatge mecanica conductes</th>
      <th>Garatge mecanica obertures</th>
      <th>Garatge mecanica control</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventilacions.each do |ventilacio| %>
      <tr>
        <td><%= ventilacio.edifici_id %></td>
        <td><%= ventilacio.habitatge_natural_conductes %></td>
        <td><%= ventilacio.habitatge_natural_obertures %></td>
        <td><%= ventilacio.habitatge_mecanica_conductes %></td>
        <td><%= ventilacio.habitatge_mecanica_obertures %></td>
        <td><%= ventilacio.habitatge_mecanica_control %></td>
        <td><%= ventilacio.traster_natural_conductes %></td>
        <td><%= ventilacio.traster_natural_obertures %></td>
        <td><%= ventilacio.traster_mecanica_conductes %></td>
        <td><%= ventilacio.traster_mecanica_obertures %></td>
        <td><%= ventilacio.traster_mecanica_control %></td>
        <td><%= ventilacio.magatzem_natural_conductes %></td>
        <td><%= ventilacio.magatzem_natural_obertures %></td>
        <td><%= ventilacio.magatzem_mecanica_conductes %></td>
        <td><%= ventilacio.magatzem_mecanica_obertures %></td>
        <td><%= ventilacio.magatzem_mecanica_control %></td>
        <td><%= ventilacio.garatge_natural_conductes %></td>
        <td><%= ventilacio.garatge_natural_obertures %></td>
        <td><%= ventilacio.garatge_mecanica_conductes %></td>
        <td><%= ventilacio.garatge_mecanica_obertures %></td>
        <td><%= ventilacio.garatge_mecanica_control %></td>
        <td><%= link_to 'Show', ventilacio %></td>
        <td><%= link_to 'Edit', edit_ventilacio_path(ventilacio) %></td>
        <td><%= link_to 'Destroy', ventilacio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventilacio', new_ventilacio_path %>
