<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @ventilacio.edifici_id %>
</p>

<p>
  <strong>Habitatge natural conductes:</strong>
  <%= @ventilacio.habitatge_natural_conductes %>
</p>

<p>
  <strong>Habitatge natural obertures:</strong>
  <%= @ventilacio.habitatge_natural_obertures %>
</p>

<p>
  <strong>Habitatge mecanica conductes:</strong>
  <%= @ventilacio.habitatge_mecanica_conductes %>
</p>

<p>
  <strong>Habitatge mecanica obertures:</strong>
  <%= @ventilacio.habitatge_mecanica_obertures %>
</p>

<p>
  <strong>Habitatge mecanica control:</strong>
  <%= @ventilacio.habitatge_mecanica_control %>
</p>

<p>
  <strong>Traster natural conductes:</strong>
  <%= @ventilacio.traster_natural_conductes %>
</p>

<p>
  <strong>Traster natural obertures:</strong>
  <%= @ventilacio.traster_natural_obertures %>
</p>

<p>
  <strong>Traster mecanica conductes:</strong>
  <%= @ventilacio.traster_mecanica_conductes %>
</p>

<p>
  <strong>Traster mecanica obertures:</strong>
  <%= @ventilacio.traster_mecanica_obertures %>
</p>

<p>
  <strong>Traster mecanica control:</strong>
  <%= @ventilacio.traster_mecanica_control %>
</p>

<p>
  <strong>Magatzem natural conductes:</strong>
  <%= @ventilacio.magatzem_natural_conductes %>
</p>

<p>
  <strong>Magatzem natural obertures:</strong>
  <%= @ventilacio.magatzem_natural_obertures %>
</p>

<p>
  <strong>Magatzem mecanica conductes:</strong>
  <%= @ventilacio.magatzem_mecanica_conductes %>
</p>

<p>
  <strong>Magatzem mecanica obertures:</strong>
  <%= @ventilacio.magatzem_mecanica_obertures %>
</p>

<p>
  <strong>Magatzem mecanica control:</strong>
  <%= @ventilacio.magatzem_mecanica_control %>
</p>

<p>
  <strong>Garatge natural conductes:</strong>
  <%= @ventilacio.garatge_natural_conductes %>
</p>

<p>
  <strong>Garatge natural obertures:</strong>
  <%= @ventilacio.garatge_natural_obertures %>
</p>

<p>
  <strong>Garatge mecanica conductes:</strong>
  <%= @ventilacio.garatge_mecanica_conductes %>
</p>

<p>
  <strong>Garatge mecanica obertures:</strong>
  <%= @ventilacio.garatge_mecanica_obertures %>
</p>

<p>
  <strong>Garatge mecanica control:</strong>
  <%= @ventilacio.garatge_mecanica_control %>
</p>

<%= link_to 'Edit', edit_ventilacio_path(@ventilacio) %> |
<%= link_to 'Back', ventilacions_path %>
