<%= simple_form_for([@edifici, @coberta]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
    <div class="row">
      <div class="medium-12 columns">
        <div class="titol-sistema"><%= t('.titol_coberta') %></div>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <div class="titol-subsistema"><%= t('.terrat') %></div>
        <%= f.input :terrat_transitable %>
        <%= f.input :terrat_no_transitable %>
        <% if @edifici.tipus_edifici == 'existent_plurifamiliar' || @edifici.tipus_edifici == 'existent_unifamiliar' %>
          <%= f.input :terrat_aillament_termic %>
          <%= f.input :terrat_lamina_impermeabilitzant %>
        <% end %>
      </div>
      <div class="medium-6 columns">
        <div class="titol-subsistema"><%= t('.coberta_inclinada') %></div>
        <%= f.input :coberta_teula_arab %>
        <%= f.input :coberta_teula_plana %>
        <%= f.input :coberta_teula_ciment %>
        <%= f.input :coberta_pissarra %>
        <%= f.input :coberta_fibrociment %>
        <%= f.input :coberta_asfaltica %>
        <%= f.input :coberta_xapa_acer %>
        <%= f.input :coberta_xapa_coure %>
        <% if @edifici.tipus_edifici == 'existent_plurifamiliar' || @edifici.tipus_edifici == 'existent_unifamiliar' %>
          <%= f.input :coberta_aillament_termic %>
        <% end %>
      </div>
    </div>

    <hr class="form-divider">

    <div class="row">
      <div class="medium-12 columns">
        <div class="titol-subsistema"><%= t('.sobrecarregues_coberta') %></div>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.input :sobrecarregues_coberta_inclinada %>
      </div>
      <div class="medium-6 columns">
        <%= f.input :sobrecarregues_coberta_plana %>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="form-actions">
        <%= f.button :submit, t('.guardar'), :class => 'button small radius right botodreta' %>
      </div>
    </div>
  </div>
 
<% end %>
