<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @coberta.edifici_id %>
</p>

<p>
  <strong>Terrat transitable:</strong>
  <%= @coberta.terrat_transitable %>
</p>

<p>
  <strong>Terrat no transitable:</strong>
  <%= @coberta.terrat_no_transitable %>
</p>

<p>
  <strong>Terrat aillament termic:</strong>
  <%= @coberta.terrat_aillament_termic %>
</p>

<p>
  <strong>Terrat lamina impermeabilitzant:</strong>
  <%= @coberta.terrat_lamina_impermeabilitzant %>
</p>

<p>
  <strong>Coberta teula arab:</strong>
  <%= @coberta.coberta_teula_arab %>
</p>

<p>
  <strong>Coberta teula plana:</strong>
  <%= @coberta.coberta_teula_plana %>
</p>

<p>
  <strong>Coberta teula ciment:</strong>
  <%= @coberta.coberta_teula_ciment %>
</p>

<p>
  <strong>Coberta pissarra:</strong>
  <%= @coberta.coberta_pissarra %>
</p>

<p>
  <strong>Coberta fibrociment:</strong>
  <%= @coberta.coberta_fibrociment %>
</p>

<p>
  <strong>Coberta asfaltica:</strong>
  <%= @coberta.coberta_asfaltica %>
</p>

<p>
  <strong>Coberta xapa acer:</strong>
  <%= @coberta.coberta_xapa_acer %>
</p>

<p>
  <strong>Coberta xapa coure:</strong>
  <%= @coberta.coberta_xapa_coure %>
</p>

<p>
  <strong>Coberta aillament termic:</strong>
  <%= @coberta.coberta_aillament_termic %>
</p>

<%= link_to 'Edit', edit_coberta_path(@coberta) %> |
<%= link_to 'Back', cobertes_path %>
