<p id="notice"><%= notice %></p>

<h1>Listing Subministradors</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Nom subministrador</th>
      <th>Nif subministrador</th>
      <th>Tipus via subministrador</th>
      <th>Via subministrador</th>
      <th>Numero subministrador</th>
      <th>Bloc subministrador</th>
      <th>Escala subministrador</th>
      <th>Pis subministrador</th>
      <th>Cp subministrador</th>
      <th>Poblacio subministrador</th>
      <th>Provincia subministrador</th>
      <th>Pais subministrador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subministradors.each do |subministrador| %>
      <tr>
        <td><%= subministrador.edifici_id %></td>
        <td><%= subministrador.nom_subministrador %></td>
        <td><%= subministrador.nif_subministrador %></td>
        <td><%= subministrador.tipus_via_subministrador %></td>
        <td><%= subministrador.via_subministrador %></td>
        <td><%= subministrador.numero_subministrador %></td>
        <td><%= subministrador.bloc_subministrador %></td>
        <td><%= subministrador.escala_subministrador %></td>
        <td><%= subministrador.pis_subministrador %></td>
        <td><%= subministrador.cp_subministrador %></td>
        <td><%= subministrador.poblacio_subministrador %></td>
        <td><%= subministrador.provincia_subministrador %></td>
        <td><%= subministrador.pais_subministrador %></td>
        <td><%= link_to 'Show', subministrador %></td>
        <td><%= link_to 'Edit', edit_subministrador_path(subministrador) %></td>
        <td><%= link_to 'Destroy', subministrador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subministrador', new_subministrador_path %>
