<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @subministrador.edifici_id %>
</p>

<p>
  <strong>Nom subministrador:</strong>
  <%= @subministrador.nom_subministrador %>
</p>

<p>
  <strong>Nif subministrador:</strong>
  <%= @subministrador.nif_subministrador %>
</p>

<p>
  <strong>Tipus via subministrador:</strong>
  <%= @subministrador.tipus_via_subministrador %>
</p>

<p>
  <strong>Via subministrador:</strong>
  <%= @subministrador.via_subministrador %>
</p>

<p>
  <strong>Numero subministrador:</strong>
  <%= @subministrador.numero_subministrador %>
</p>

<p>
  <strong>Bloc subministrador:</strong>
  <%= @subministrador.bloc_subministrador %>
</p>

<p>
  <strong>Escala subministrador:</strong>
  <%= @subministrador.escala_subministrador %>
</p>

<p>
  <strong>Pis subministrador:</strong>
  <%= @subministrador.pis_subministrador %>
</p>

<p>
  <strong>Cp subministrador:</strong>
  <%= @subministrador.cp_subministrador %>
</p>

<p>
  <strong>Poblacio subministrador:</strong>
  <%= @subministrador.poblacio_subministrador %>
</p>

<p>
  <strong>Provincia subministrador:</strong>
  <%= @subministrador.provincia_subministrador %>
</p>

<p>
  <strong>Pais subministrador:</strong>
  <%= @subministrador.pais_subministrador %>
</p>

<%= link_to 'Edit', edit_subministrador_path(@subministrador) %> |
<%= link_to 'Back', subministradors_path %>
