<div class="sessions-container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="medium-12 columns">
      <h2 class="page-title"><%= t('.account_configuration') %></h2>
      <%= f.error_notification %>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <div class="edit-config-container">
        <h4><%= t('.personal_data') %></h4>
        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true, error_html: { class: 'error'} %>
          <%= f.input :last_name, required: true, error_html: { class: 'error'} %>
          <%= f.input :nif, required: true, error_html: { class: 'error'} %>
          <%= f.input :email, required: true, error_html: { class: 'error'} %>
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="edit-config-container">
        <h4><%= t('.change_password') %></h4>
        <p><%= t('.change_password_text') %></p>
        <div class="form-inputs">
          <%= f.input :password, autocomplete: "off", required: false, error_html: { class: 'error'} %>
          <%= f.input :password_confirmation, required: false, error_html: { class: 'error'} %>
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="edit-config-container">
        <h4><%= t('.save_changes') %></h4>
        <p><%= t('.save_changes_text') %></p>
        <div class="form-inputs">
          <%= f.input :current_password, required: true, error_html: { class: 'error'} %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, t('.save_changes'), :class => 'button success' %>
        </div>
      </div>
    </div>
    
  <% end %>

  <div class="row">
    <div class="medium-12 columns">
      <hr>
    </div>
  </div>

  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h3><%= t('.cancel_account') %></h3>
      <p><%= t('.cancel_account_text1') %></p>
      <p><%= t('.cancel_account_text2') %></p>
      <p><%= link_to t('.cancel_account_button'), registration_path(resource_name), data: { confirm: t('.cancel_verification') }, method: :delete, class: 'button alert' %></p>
    </div>
  </div>
</div>
