<div class="sessions-container session-background-image">
  
  <div class="row">
    <div class="medium-6 medium-offset-3 columns">
      <div class="session-form-container">
        <div class="session-title">
          <span class="login-title"><%= t('.register_title') %></span>
        </div>

        <div class="session-form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name, required: true, autofocus: true, error_html: { class: 'error'} %>
              <%= f.input :last_name, required: true, error_html: { class: 'error'} %>
              <%= f.input :nif, required: true, error_html: { class: 'error'} %>
              <%= f.input :email, required: true, error_html: { class: 'error'} %>
              <%= f.input :password, required: true, error_html: { class: 'error'} %>
              <%= f.input :password_confirmation, required: true, error_html: { class: 'error'} %>
              <%= f.input :role, :collection => [['Tècnic competent', 'tecnic'], ['Altres', 'altres']], required: true, error_html: { class: 'error'} %>
              <p>Les instruccions d’ús i manteniment han d’estar signades per un tècnic competent. Per aquesta raó cal especificar en aquest moment quin tipus d’usuari està creant el llibre de l’edifici.</p>
            </div>

            <div class="form-actions session-form-button">
              <%= f.button :submit, t('.register_button'), :class => 'button small radius right botodreta' %>
            </div>
          <% end %>
        </div>
      </div>
      <p><%= t('.registration_needed') %></p>
      <p><%= t('.if_registered') %> <%= link_to( t('.login_here'), new_user_session_path) %>.</p>
    </div>
  </div>
</div>
