<p id="notice"><%= notice %></p>

<div class="large-12 columns">
  <h1><%= t('.titol') %></h1>
</div>

<div class="large-12 columns">
  <ul class="small-block-grid-4">
    <% @edificis.each do |edifici| %>
      <li>
        <div class="item-edifici">
          <%= link_to(edifici.nom_edifici, edit_edifici_identificacio_path(edifici.id, edifici.identificacio.id), :class => 'link-item-edifici') %>
          <br/>
          <%= edifici.tipus_edifici %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<br>

<%= link_to 'New Edifici', new_edifici_path %>
