<p id="notice"><%= notice %></p>

<div class="large-12 columns">
  <h1><%= t('.titol') %></h1>
</div>

<div class="large-12 columns">
  <ul class="small-block-grid-4">
    <% @edificis.each do |edifici| %>
      <li>
        <div class="item-edifici">
          <% case edifici.tipus_edifici
            when "nou_plurifamiliar"
              checklist_controller = "checklist_edifici_nou_plurifamiliars"
            when "nou_unifamiliar"
              checklist_controller = "checklist_edifici_nou_unifamiliars"
            when "existent_plurifamiliar"
              checklist_controller = "checklist_edifici_existent_plurifamiliars"
            when "existent_unifamiliar"
              checklist_controller = "checklist_edifici_existent_unifamiliars"
          end %>
          <%= link_to(edifici.nom_edifici, {:controller => checklist_controller, :action => 'quadern', :id => edifici.id}, :class => 'link-item-edifici') %>
          <br/>
          <%= edifici.tipus_edifici %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<br>

<%= link_to 'New Edifici', new_edifici_path %>
