<p id="notice"><%= notice %></p>

<div class="large-12 columns">
  <h1><%= t('.titol') %></h1>
</div>

<div class="large-12 columns">
  <ul class="small-block-grid-4">
    <% @edificis.each do |edifici| %>
      <li>
        <div class="item-edifici">
          <% case edifici.tipus_edifici
            when "nou_plurifamiliar"
              action_tipus = "quadern_nou_plurifamiliar"
            when "nou_unifamiliar"
              action_tipus = "quadern_nou_unifamiliar"
            when "existent_plurifamiliar"
              action_tipus = "quadern_existent_plurifamiliar"
            when "existent_unifamiliar"
              action_tipus = "quadern_existent_unifamiliar"
          end %>
          <%= link_to(edifici.nom_edifici, {:controller => 'edificis', :action => action_tipus, :id => edifici.id}, :class => 'link-item-edifici') %>
          <br/>
          <%= edifici.tipus_edifici %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<br>

<%= link_to 'New Edifici', new_edifici_path %>
