<div class="projectes-background">
  
  <% flash.each do |key, value| %>
    <div class="row">
      <div class="large-6 columns end">
        <% if key == 'notice'
            key = 'success'
            end %>
        <div data-alert class="alert-box <%= key %> radius">
          <%= value %>
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
  <% end %>
    
  <div class="row">
    <div class="medium-12 columns">
      <div class="projectes-external-container">

        <div class="row">
          <div class="medium-12 columns">
            <div class="projectes-title-container">
              <span class="projectes-title"><%= t('.titol') %></span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="medium-12 columns">
            <div class="projectes-container">
              <div class="row">
                <div class="medium-3 columns">
                  
                    <%= link_to new_edifici_path, :class => "button small radius projectes-button" do %>
                      <%= t('.crear_nou') %><br/><%= t('.llibre_edifici') %>
                    <% end %>
                  
                    

                </div>
                <div class="medium-9 columns">
                  <div class="projectes-existents-container">
                    
                    <% if @edificis.count == 0 %>
                      <p><%= t('.no_projectes') %></p>
                    <% else %>
                      <div class="llistat-edificis">
                        <% @edificis.each do |edifici| %>
                          <% dades_pagament = Pagament.where(edifici_id: edifici.id).last %>
                          <% if dades_pagament != nil 
                              if dades_pagament.pagat == true
                                pagat = true
                              else
                                pagat = false
                              end
                            else
                              pagat = false
                            end
                          %>
                          <div class="item-llistat-edificis">
                            
                            <% if pagat == true %>
                              <div class="imatge-item-llistat-edificis">
                                <%= link_to image_tag(edifici.identificacio.foto_facana.url(:thumb)), edit_edifici_identificacio_path(edifici.id, edifici.identificacio.id) %>
                                  
                              </div>
                              <div class="text-item-llistat-edificis">
                                <%= link_to(edifici.nom_edifici, edit_edifici_identificacio_path(edifici.id, edifici.identificacio.id), :class => 'link-item-edifici') %> 
                            
                            <% else %>
                              <div class="imatge-item-llistat-edificis">
                                <%= image_tag(edifici.identificacio.foto_facana.url(:thumb)) %>
                                  
                              </div>
                              <div class="text-item-llistat-edificis">
                                <%= link_to(edifici.nom_edifici, validar_dades_path(edifici.id), :class => 'link-item-edifici') %> (<%= t('.no_pagat') %>)
                            <% end %>

                              <br>
                              <% case edifici.tipus_edifici 
                              when "nou_plurifamiliar" 
                                tipus_edifici = "Edifici nou plurifamiliar"
                              when "nou_unifamiliar"
                                tipus_edifici = "Edifici nou unifamiliar"
                              when "existent_plurifamiliar"
                                tipus_edifici = "Edifici existent plurifamiliar"
                              when "existent_unifamiliar"
                                tipus_edifici = "Edifici existent unifamiliar"
                              when "nou_terciari"
                                tipus_edifici = "Edifici nou terciari"
                              end %>
                              <span class="tipus-llistat-edificis"><%= tipus_edifici %></span> <span class="data-llistat-edificis">(<%= edifici.created_at.day.to_s %>-<%= edifici.created_at.month.to_s %>-<%= edifici.created_at.year.to_s %>)</span>

                              <div class="boto-item-llistat-edificis right">
                                <%= link_to edifici, method: :delete, data: { confirm: t('.eliminar') } do %>
                                  <span class="icon-cancel icones-icomoon" title="Eliminar"></span>                     
                                <% end %>
                              </div>

                              <div class="boto-item-llistat-edificis right">
                                <%= link_to duplicate_path(edifici, edifici.id) do %>
                                  <span class="icon-copy icones-icomoon" title="Duplicar"></span>
                                <% end %>
                              </div>

                              <div class="boto-item-llistat-edificis right">
                                <%= link_to edit_edifici_path(edifici) do %>
                                  <span class="icon-pencil icones-icomoon" title="Editar"></span>
                                <% end %>
                              </div>

                            </div>
                            
                          </div>
                        <% end %>
                      </div>

                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
