<div class="background-seccio">
  <div class="row">
    <div class="large-12 columns">
      <div class="titol-seccio">
        <%= t('.titol_operacions') %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="container-operacions-sistema">
        <div class="row">
          <div class="medium-3 columns">
            <%= link_to 'Actualitzar llistat', crear_llistat_path, :class => 'button radius small' %>
          </div>
          <div class="medium-9 columns">
            <p>Actualitzeu el llistat d'operacions de manteniment cada vegada que modifiqueu la descripció constructiva de l'edifici. Cal tenir en compte que aquesta acció esborrarà totes les operacions i les crearà de nou.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="container-operacions-sistema">
        <div class="titol-seccio-sistema">
          Fonamentació
        </div>
        <table class="taula-operacions">
          <thead>
            <tr>
              <th>Descripció</th>
              <th>Periodicitat</th>
              <th>Referència</th>
              <th>Responsable</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @referencies_fonamentacio.each do |referencia| %> 
              <% operacio = Operacio.find(referencia.operacio_id) %>
              <tr>
                <% if params[:locale] == 'ca' %> 
                  <td><%= operacio.descripcio_ca %></td>
                  <td><%= operacio.periodicitat_text_ca %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_ca %></td>
                <% elsif params[:locale] == 'es' %>
                  <td><%= operacio.descripcio_es %></td>
                  <td><%= operacio.periodicitat_text_es %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_es %></td>
                <% end %>
                <td>
                  <%= link_to edifici_referencia_path(@edifici, referencia), method: :delete, data: { confirm: t('.eliminar') } do %>
                    <span class="icon-cancel icones-icomoon"></span>                          
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="container-operacions-sistema">
        <div class="titol-seccio-sistema">
          Estructura
        </div>
        <table class="taula-operacions">
          <thead>
            <tr>
              <th>Descripció</th>
              <th>Periodicitat</th>
              <th>Referència</th>
              <th>Responsable</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @referencies_estructura.each do |referencia| %> 
              <% operacio = Operacio.find(referencia.operacio_id) %>
              <tr>
                <% if params[:locale] == 'ca' %> 
                  <td><%= operacio.descripcio_ca %></td>
                  <td><%= operacio.periodicitat_text_ca %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_ca %></td>
                <% elsif params[:locale] == 'es' %>
                  <td><%= operacio.descripcio_es %></td>
                  <td><%= operacio.periodicitat_text_es %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_es %></td>
                <% end %>
                <td>
                  <%= link_to edifici_referencia_path(@edifici, referencia), method: :delete, data: { confirm: t('.eliminar') } do %>
                    <span class="icon-cancel icones-icomoon"></span>                          
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="container-operacions-sistema">
        <div class="titol-seccio-sistema">
          Tancaments verticals
        </div>
        <table class="taula-operacions">
          <thead>
            <tr>
              <th>Descripció</th>
              <th>Periodicitat</th>
              <th>Referència</th>
              <th>Responsable</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @referencies_tancaments.each do |referencia| %> 
              <% operacio = Operacio.find(referencia.operacio_id) %>
              <tr>
                <% if params[:locale] == 'ca' %> 
                  <td><%= operacio.descripcio_ca %></td>
                  <td><%= operacio.periodicitat_text_ca %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_ca %></td>
                <% elsif params[:locale] == 'es' %>
                  <td><%= operacio.descripcio_es %></td>
                  <td><%= operacio.periodicitat_text_es %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_es %></td>
                <% end %>
                <td>
                  <%= link_to edifici_referencia_path(@edifici, referencia), method: :delete, data: { confirm: t('.eliminar') } do %>
                    <span class="icon-cancel icones-icomoon"></span>                          
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="container-operacions-sistema">
        <div class="titol-seccio-sistema">
          Coberta
        </div>
        <table class="taula-operacions">
          <thead>
            <tr>
              <th>Descripció</th>
              <th>Periodicitat</th>
              <th>Referència</th>
              <th>Responsable</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @referencies_coberta.each do |referencia| %> 
              <% operacio = Operacio.find(referencia.operacio_id) %>
              <tr>
                <% if params[:locale] == 'ca' %> 
                  <td><%= operacio.descripcio_ca %></td>
                  <td><%= operacio.periodicitat_text_ca %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_ca %></td>
                <% elsif params[:locale] == 'es' %>
                  <td><%= operacio.descripcio_es %></td>
                  <td><%= operacio.periodicitat_text_es %></td>
                  <td><%= operacio.document_referencia %></td>
                  <td><%= operacio.responsable_es %></td>
                <% end %>
                <td>
                  <%= link_to edifici_referencia_path(@edifici, referencia), method: :delete, data: { confirm: t('.eliminar') } do %>
                    <span class="icon-cancel icones-icomoon"></span>                          
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>



