<div id="modal-operacions" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.nova_operacio') %></h3>
  <div id="formulari-operacio" class="formulari-operacio">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="background-seccio">
  <div class="row">
    <div class="large-12 columns">
      <div class="titol-seccio">
        <%= t('.titol_operacions') %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="container-operacions-sistema">
        <div class="row">
          <div class="medium-3 columns">
            <%= link_to t('.actualitzar_llistat'), crear_llistat_path, :class => 'button radius small' %>
          </div>
          <div class="medium-9 columns">
            <p><%= t('.text_actualitzar_llistat') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render  partial: '/operacions/sistema', collection: @sistemes %>

</div>



