<p id="notice"><%= notice %></p>

<h1>Listing Pagaments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Edifici</th>
      <th>Numorder</th>
      <th>Import</th>
      <th>Codi retorn</th>
      <th>Codi autoritzacio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagaments.each do |pagament| %>
      <tr>
        <td><%= pagament.user_id %></td>
        <td><%= pagament.edifici_id %></td>
        <td><%= pagament.numorder %></td>
        <td><%= pagament.import %></td>
        <td><%= pagament.codi_retorn %></td>
        <td><%= pagament.codi_autoritzacio %></td>
        <td><%= link_to 'Show', pagament %></td>
        <td><%= link_to 'Edit', edit_pagament_path(pagament) %></td>
        <td><%= link_to 'Destroy', pagament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagament', new_pagament_path %>
