<div class="projectes-background">
	<div class="row">
		<div class="medium-6 medium-offset-3 columns">

			<% flash.each do |key, value| %>
		    <div class="row">
		      <div class="large-6 columns end">
		        <% if key == 'notice'
		            key = 'success'
		            end %>
		        <% value["nif"].each do |erro| %>
			        <div data-alert class="alert-box alert <%= key %> radius">
			          <%= erro %>
			          <a href="#" class="close">&times;</a>
		        	</div>
		       	<% end %>
		      </div>
		    </div>
		  <% end %>


	    <div class="projectes-external-container">
	      <div class="projectes-title-container">
	        <span class="projectes-title"><%= t('.titol') %></span>
	      </div>
	      <div class="projectes-form-container">
	      	<p><%= t('.explicacio') %></p>
	      	<div class="preu-llibre">
	      		<div class="row">
	      			<div class="medium-6 columns">
	      				<%= image_tag('document_llibre.png', :alt => t('.imatge_llibre'), :class => 'imatge-llibre right') %>
	      			</div>
	      			<div class="medium-6 columns">
			      		<div class="requadre-preu">
			      			42,96 €
			      		</div>
			      	</div>
			      </div>
	      	</div>

	      	<hr>

	      	<p><%= t('.explicacio2') %></p>
	      	
	      	<div class="row">
	      		<div class="medium-6 columns">
			      	<div class="comprovacio-nif">
			      		<%= simple_form_for([@edifici, @usuari_factura]) do |f| %>
  								<%= f.error_notification %>
  								<div class="form-inputs">
					          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
					          <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
					          <%= f.input :nif, :input_html => { :value => @nif_usuari } %>
				          </div>

        					<div class="form-actions">
			              <%= f.button :submit, t('.factura_personal'), :class => 'button small radius' %>
			            </div>
			          <% end %>
        			</div>
      			</div>

			      <div class="medium-6 columns">
			      	<div class="comprovacio-nif">
			      		<%= simple_form_for([@edifici, @empresa_factura]) do |f| %>
  								<%= f.error_notification %>
  								<div class="form-inputs">
					          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
					          <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
					          <%= f.input :nif %>
				          </div>

        					<div class="form-actions">
			              <%= f.button :submit, t('.factura_empresa'), :class => 'button small radius' %>
			            </div>
			          <% end %>
        			</div>
			      </div>
			    </div>
	      	
	      </div>
	    </div>
			<%= link_to t('.tornar_projectes'), edificis_path %>
		</div>
	</div>
</div>