<p id="notice"><%= notice %></p>

<h1>Listing Declaracions</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Notari</th>
      <th>N protocol</th>
      <th>Data declaracio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @declaracions.each do |declaracio| %>
      <tr>
        <td><%= declaracio.edifici_id %></td>
        <td><%= declaracio.notari %></td>
        <td><%= declaracio.n_protocol %></td>
        <td><%= declaracio.data_declaracio %></td>
        <td><%= link_to 'Show', declaracio %></td>
        <td><%= link_to 'Edit', edit_declaracio_path(declaracio) %></td>
        <td><%= link_to 'Destroy', declaracio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Declaracio', new_declaracio_path %>
