<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @declaracio.edifici_id %>
</p>

<p>
  <strong>Notari:</strong>
  <%= @declaracio.notari %>
</p>

<p>
  <strong>N protocol:</strong>
  <%= @declaracio.n_protocol %>
</p>

<p>
  <strong>Data declaracio:</strong>
  <%= @declaracio.data_declaracio %>
</p>

<%= link_to 'Edit', edit_declaracio_path(@declaracio) %> |
<%= link_to 'Back', declaracions_path %>
