<%= form_for(@laboratori) do |f| %>
  <% if @laboratori.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laboratori.errors.count, "error") %> prohibited this laboratori from being saved:</h2>

      <ul>
      <% @laboratori.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :edifici_id %><br>
    <%= f.number_field :edifici_id %>
  </div>
  <div class="field">
    <%= f.label :nom_laboratori %><br>
    <%= f.text_field :nom_laboratori %>
  </div>
  <div class="field">
    <%= f.label :nif_laboratori %><br>
    <%= f.text_field :nif_laboratori %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
