<p id="notice"><%= notice %></p>

<h1>Listing Laboratoris</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Nom laboratori</th>
      <th>Nif laboratori</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratoris.each do |laboratori| %>
      <tr>
        <td><%= laboratori.edifici_id %></td>
        <td><%= laboratori.nom_laboratori %></td>
        <td><%= laboratori.nif_laboratori %></td>
        <td><%= link_to 'Show', laboratori %></td>
        <td><%= link_to 'Edit', edit_laboratori_path(laboratori) %></td>
        <td><%= link_to 'Destroy', laboratori, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laboratori', new_laboratori_path %>
