<p id="notice"><%= notice %></p>

<h1>Listing Signatura Promotors</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Promotor rao social</th>
      <th>Promotor nom representant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signatura_promotors.each do |signatura_promotor| %>
      <tr>
        <td><%= signatura_promotor.edifici_id %></td>
        <td><%= signatura_promotor.promotor_rao_social %></td>
        <td><%= signatura_promotor.promotor_nom_representant %></td>
        <td><%= link_to 'Show', signatura_promotor %></td>
        <td><%= link_to 'Edit', edit_signatura_promotor_path(signatura_promotor) %></td>
        <td><%= link_to 'Destroy', signatura_promotor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signatura promotor', new_signatura_promotor_path %>
