<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @signatura_promotor.edifici_id %>
</p>

<p>
  <strong>Promotor rao social:</strong>
  <%= @signatura_promotor.promotor_rao_social %>
</p>

<p>
  <strong>Promotor nom representant:</strong>
  <%= @signatura_promotor.promotor_nom_representant %>
</p>

<%= link_to 'Edit', edit_signatura_promotor_path(@signatura_promotor) %> |
<%= link_to 'Back', signatura_promotors_path %>
