<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @tancaments_vertical.edifici_id %>
</p>

<p>
  <strong>Acabat vist paredat:</strong>
  <%= @tancaments_vertical.acabat_vist_paredat %>
</p>

<p>
  <strong>Acabat vist carreus:</strong>
  <%= @tancaments_vertical.acabat_vist_carreus %>
</p>

<p>
  <strong>Acabat vist fabrica mao:</strong>
  <%= @tancaments_vertical.acabat_vist_fabrica_mao %>
</p>

<p>
  <strong>Acabat vist fabrica bloc ceramic:</strong>
  <%= @tancaments_vertical.acabat_vist_fabrica_bloc_ceramic %>
</p>

<p>
  <strong>Acabat vist bloc formigo:</strong>
  <%= @tancaments_vertical.acabat_vist_bloc_formigo %>
</p>

<p>
  <strong>Acabat vist panell formigo:</strong>
  <%= @tancaments_vertical.acabat_vist_panell_formigo %>
</p>

<p>
  <strong>Acabat vist panell metalic sandwich:</strong>
  <%= @tancaments_vertical.acabat_vist_panell_metalic_sandwich %>
</p>

<p>
  <strong>Acabat revestit arrebossat pintat:</strong>
  <%= @tancaments_vertical.acabat_revestit_arrebossat_pintat %>
</p>

<p>
  <strong>Acabat revestit estucat:</strong>
  <%= @tancaments_vertical.acabat_revestit_estucat %>
</p>

<p>
  <strong>Acabat revestit morter monocapa:</strong>
  <%= @tancaments_vertical.acabat_revestit_morter_monocapa %>
</p>

<p>
  <strong>Acabat revestit aplacat ceramic:</strong>
  <%= @tancaments_vertical.acabat_revestit_aplacat_ceramic %>
</p>

<p>
  <strong>Acabat revestit aplacat pedra:</strong>
  <%= @tancaments_vertical.acabat_revestit_aplacat_pedra %>
</p>

<p>
  <strong>Acabat revestit xapa metalica:</strong>
  <%= @tancaments_vertical.acabat_revestit_xapa_metalica %>
</p>

<p>
  <strong>Cambra aire facana:</strong>
  <%= @tancaments_vertical.cambra_aire_facana %>
</p>

<p>
  <strong>Fusteria fusta:</strong>
  <%= @tancaments_vertical.fusteria_fusta %>
</p>

<p>
  <strong>Fusteria acer:</strong>
  <%= @tancaments_vertical.fusteria_acer %>
</p>

<p>
  <strong>Fusteria alumini:</strong>
  <%= @tancaments_vertical.fusteria_alumini %>
</p>

<p>
  <strong>Fusteria pvc:</strong>
  <%= @tancaments_vertical.fusteria_pvc %>
</p>

<p>
  <strong>Vidre simple:</strong>
  <%= @tancaments_vertical.vidre_simple %>
</p>

<p>
  <strong>Vidre doble:</strong>
  <%= @tancaments_vertical.vidre_doble %>
</p>

<p>
  <strong>Vidre triple:</strong>
  <%= @tancaments_vertical.vidre_triple %>
</p>

<p>
  <strong>Vidre baix emissiu:</strong>
  <%= @tancaments_vertical.vidre_baix_emissiu %>
</p>

<p>
  <strong>Vidre control solar:</strong>
  <%= @tancaments_vertical.vidre_control_solar %>
</p>

<%= link_to 'Edit', edit_tancaments_vertical_path(@tancaments_vertical) %> |
<%= link_to 'Back', tancaments_verticals_path %>
