<div id="modal-signatura-llibre" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.signatura_llibre') %></h3>
  <div id="formulari-signatura-llibre" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-signatura-instruccion" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.signatura_instruccion') %></h3>
  <div id="formulari-signatura-instruccion" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_configuracio_document') %>
			</div>
			<div>
				<p><%= t('.text_configuracio_document') %></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="medium-6 columns">
					<div class="agents-container">
						<div class="agents-title">
							<%= t('.titol_signatura_llibre') %>
						</div>
						<div id="signatura-llibres">
							<%= render  :partial => '/signatura_llibres/llistat_llibres' %>
						</div>
						<div class="agents-footer">
							<div class="agents-footer-link right">
								<%= link_to (new_edifici_signatura_llibre_path), remote: true do %>
									<span class="suma">+</span> <%= t('.afegir_llibre') %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="medium-6 columns">
					<div class="agents-container">
						<div class="agents-title">
							<%= t('.titol_signatura_instruccion') %>
						</div>
						<div id="signatura-instruccions">
							<%= render  :partial => '/signatura_instruccions/llistat_instruccions' %>
						</div>
						<div class="agents-footer">
							<div class="agents-footer-link right">
								<%= link_to (new_edifici_signatura_instruccion_path), remote: true do %>
									<span class="suma">+</span> <%= t('.afegir_instruccion') %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			
			<%= render 'form' %>
		</div>
	</div>

</div>