<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @checklist_existent_plurifamiliar.edifici_id %>
</p>

<p>
  <strong>Iite:</strong>
  <%= @checklist_existent_plurifamiliar.iite %>
</p>

<p>
  <strong>Document lliurament iite:</strong>
  <%= @checklist_existent_plurifamiliar.document_lliurament_iite %>
</p>

<p>
  <strong>Comunicat ens local:</strong>
  <%= @checklist_existent_plurifamiliar.comunicat_ens_local %>
</p>

<p>
  <strong>Programa rehabilitacio:</strong>
  <%= @checklist_existent_plurifamiliar.programa_rehabilitacio %>
</p>

<p>
  <strong>Certificat final obra:</strong>
  <%= @checklist_existent_plurifamiliar.certificat_final_obra %>
</p>

<p>
  <strong>Certificat aptitud:</strong>
  <%= @checklist_existent_plurifamiliar.certificat_aptitud %>
</p>

<p>
  <strong>Certificacio energetica:</strong>
  <%= @checklist_existent_plurifamiliar.certificacio_energetica %>
</p>

<p>
  <strong>Instruccions us:</strong>
  <%= @checklist_existent_plurifamiliar.instruccions_us %>
</p>

<p>
  <strong>Documents justificatius operacions:</strong>
  <%= @checklist_existent_plurifamiliar.documents_justificatius_operacions %>
</p>

<p>
  <strong>Pressupostos obres:</strong>
  <%= @checklist_existent_plurifamiliar.pressupostos_obres %>
</p>

<p>
  <strong>Certificats instalacions comunes:</strong>
  <%= @checklist_existent_plurifamiliar.certificats_instalacions_comunes %>
</p>

<p>
  <strong>Certificats inspeccions tecniques:</strong>
  <%= @checklist_existent_plurifamiliar.certificats_inspeccions_tecniques %>
</p>

<%= link_to 'Edit', edit_checklist_existent_plurifamiliar_path(@checklist_existent_plurifamiliar) %> |
<%= link_to 'Back', checklist_existent_plurifamiliars_path %>
