<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @dades_edifici_existent.edifici_id %>
</p>

<p>
  <strong>Tipus via edifici:</strong>
  <%= @dades_edifici_existent.tipus_via_edifici %>
</p>

<p>
  <strong>Via edifici:</strong>
  <%= @dades_edifici_existent.via_edifici %>
</p>

<p>
  <strong>Numero edifici:</strong>
  <%= @dades_edifici_existent.numero_edifici %>
</p>

<p>
  <strong>Bloc edifici:</strong>
  <%= @dades_edifici_existent.bloc_edifici %>
</p>

<p>
  <strong>Escala edifici:</strong>
  <%= @dades_edifici_existent.escala_edifici %>
</p>

<p>
  <strong>Cp edifici:</strong>
  <%= @dades_edifici_existent.cp_edifici %>
</p>

<p>
  <strong>Poblacio edifici:</strong>
  <%= @dades_edifici_existent.poblacio_edifici %>
</p>

<p>
  <strong>Provincia edifici:</strong>
  <%= @dades_edifici_existent.provincia_edifici %>
</p>

<p>
  <strong>Ref cadastral:</strong>
  <%= @dades_edifici_existent.ref_cadastral %>
</p>

<p>
  <strong>Us edifici:</strong>
  <%= @dades_edifici_existent.us_edifici %>
</p>

<%= link_to 'Edit', edit_dades_edifici_existent_path(@dades_edifici_existent) %> |
<%= link_to 'Back', dades_edifici_existents_path %>
