<p id="notice"><%= notice %></p>

<h1>Listing Control Entitats</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Nom entitat control</th>
      <th>Nif entitat control</th>
      <th>Tipus via entitat control</th>
      <th>Via entitat control</th>
      <th>Numero entitat control</th>
      <th>Bloc entitat control</th>
      <th>Escala entitat control</th>
      <th>Pis entitat control</th>
      <th>Cp entitat control</th>
      <th>Poblacio entitat control</th>
      <th>Provincia entitat control</th>
      <th>Pais entitat control</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @control_entitats.each do |control_entitat| %>
      <tr>
        <td><%= control_entitat.edifici_id %></td>
        <td><%= control_entitat.nom_entitat_control %></td>
        <td><%= control_entitat.nif_entitat_control %></td>
        <td><%= control_entitat.tipus_via_entitat_control %></td>
        <td><%= control_entitat.via_entitat_control %></td>
        <td><%= control_entitat.numero_entitat_control %></td>
        <td><%= control_entitat.bloc_entitat_control %></td>
        <td><%= control_entitat.escala_entitat_control %></td>
        <td><%= control_entitat.pis_entitat_control %></td>
        <td><%= control_entitat.cp_entitat_control %></td>
        <td><%= control_entitat.poblacio_entitat_control %></td>
        <td><%= control_entitat.provincia_entitat_control %></td>
        <td><%= control_entitat.pais_entitat_control %></td>
        <td><%= link_to 'Show', control_entitat %></td>
        <td><%= link_to 'Edit', edit_control_entitat_path(control_entitat) %></td>
        <td><%= link_to 'Destroy', control_entitat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Control entitat', new_control_entitat_path %>
