<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @control_entitat.edifici_id %>
</p>

<p>
  <strong>Nom entitat control:</strong>
  <%= @control_entitat.nom_entitat_control %>
</p>

<p>
  <strong>Nif entitat control:</strong>
  <%= @control_entitat.nif_entitat_control %>
</p>

<p>
  <strong>Tipus via entitat control:</strong>
  <%= @control_entitat.tipus_via_entitat_control %>
</p>

<p>
  <strong>Via entitat control:</strong>
  <%= @control_entitat.via_entitat_control %>
</p>

<p>
  <strong>Numero entitat control:</strong>
  <%= @control_entitat.numero_entitat_control %>
</p>

<p>
  <strong>Bloc entitat control:</strong>
  <%= @control_entitat.bloc_entitat_control %>
</p>

<p>
  <strong>Escala entitat control:</strong>
  <%= @control_entitat.escala_entitat_control %>
</p>

<p>
  <strong>Pis entitat control:</strong>
  <%= @control_entitat.pis_entitat_control %>
</p>

<p>
  <strong>Cp entitat control:</strong>
  <%= @control_entitat.cp_entitat_control %>
</p>

<p>
  <strong>Poblacio entitat control:</strong>
  <%= @control_entitat.poblacio_entitat_control %>
</p>

<p>
  <strong>Provincia entitat control:</strong>
  <%= @control_entitat.provincia_entitat_control %>
</p>

<p>
  <strong>Pais entitat control:</strong>
  <%= @control_entitat.pais_entitat_control %>
</p>

<%= link_to 'Edit', edit_control_entitat_path(@control_entitat) %> |
<%= link_to 'Back', control_entitats_path %>
