<%= simple_form_for [@edifici, @checklist_nou_plurifamiliar] do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="medium-12 columns">
      <div class="container-document">
        <p><%= t('.text_arxiu') %>:</p>
        <br>
        <div class="form-inputs">
          <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
          <div class="row">
            <div class="medium-6 columns">
              <%= f.input :llicencies_preceptives %>
              <%= f.input :certificat_final_obra %>
              <%= f.input :acta_recepcio_obra %>
              <%= f.input :escriptura_publica %>
              <%= f.input :documents_garantia %>
              <%= f.input :documents_garantia_parts_comunes %>
              <%= f.input :certificacio_energetica %>
              <%= f.input :polissa_assegurances %>
              <%= f.input :escriptura_propietat_horitzontal %>
            </div>
            <div class="medium-6 columns">
              <%= f.input :estatus_comunitat %>
              <%= f.input :cedules_regims_juridics %>
              <%= f.input :carregues_reals %>
              <%= f.input :documents_complementaris %>
              <%= f.input :documents_acreditatius_ajuts %>
              <%= f.input :documents_justificacio_operacions %>
              <%= f.input :certificat_final_obra_instalacions %>
              <%= f.input :declaracions_ce_ascensors %>
            </div>
          </div>
          
          
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <div class="form-actions">
              <%= f.button :submit, t('.guardar'), :class => 'button small radius right botodreta' %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
