<p id="notice"><%= notice %></p>

<h1>Listing Checklist Nou Plurifamiliars</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Llicencies preceptives</th>
      <th>Certificat final obra</th>
      <th>Acta recepcio obra</th>
      <th>Escriptura publica</th>
      <th>Documents garantia</th>
      <th>Documents garantia parts comunes</th>
      <th>Certificacio energetica</th>
      <th>Polissa assegurances</th>
      <th>Escriptura propietat horitzontal</th>
      <th>Estatus comunitat</th>
      <th>Cedules regims juridics</th>
      <th>Carregues reals</th>
      <th>Documents complementaris</th>
      <th>Documents acreditatius ajuts</th>
      <th>Documents justificacio operacions</th>
      <th>Certificat final obra instalacions</th>
      <th>Declaracions ce ascensors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklist_nou_plurifamiliars.each do |checklist_nou_plurifamiliar| %>
      <tr>
        <td><%= checklist_nou_plurifamiliar.edifici_id %></td>
        <td><%= checklist_nou_plurifamiliar.llicencies_preceptives %></td>
        <td><%= checklist_nou_plurifamiliar.certificat_final_obra %></td>
        <td><%= checklist_nou_plurifamiliar.acta_recepcio_obra %></td>
        <td><%= checklist_nou_plurifamiliar.escriptura_publica %></td>
        <td><%= checklist_nou_plurifamiliar.documents_garantia %></td>
        <td><%= checklist_nou_plurifamiliar.documents_garantia_parts_comunes %></td>
        <td><%= checklist_nou_plurifamiliar.certificacio_energetica %></td>
        <td><%= checklist_nou_plurifamiliar.polissa_assegurances %></td>
        <td><%= checklist_nou_plurifamiliar.escriptura_propietat_horitzontal %></td>
        <td><%= checklist_nou_plurifamiliar.estatus_comunitat %></td>
        <td><%= checklist_nou_plurifamiliar.cedules_regims_juridics %></td>
        <td><%= checklist_nou_plurifamiliar.carregues_reals %></td>
        <td><%= checklist_nou_plurifamiliar.documents_complementaris %></td>
        <td><%= checklist_nou_plurifamiliar.documents_acreditatius_ajuts %></td>
        <td><%= checklist_nou_plurifamiliar.documents_justificacio_operacions %></td>
        <td><%= checklist_nou_plurifamiliar.certificat_final_obra_instalacions %></td>
        <td><%= checklist_nou_plurifamiliar.declaracions_ce_ascensors %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checklist nou plurifamiliar', new_checklist_nou_plurifamiliar_path %>
