<div class="sessions-container session-background-image">
  <div class="row">
    <div class="medium-6 medium-offset-3 columns">
      <div class="session-form-container">
        <div class="session-title">
          <span class="login-title"><%= t('.change_password_title') %></span>
        </div>

        <div class="session-form">

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.full_error :reset_password_token %>

            <div class="form-inputs">
              <%= f.input :password, label: t('.nova_contrasenya'), required: true, autofocus: true, error_html: { class: 'error'} %>
              <%= f.input :password_confirmation, label: t('.confirma_nova_contrasenya'), required: true, error_html: { class: 'error'} %>
            </div>

            <div class="form-actions session-form-button">
              <%= f.button :submit, t('.change_password'), :class => 'button small radius right botodreta' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
