<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @particio.edifici_id %>
</p>

<p>
  <strong>Envans ceramica:</strong>
  <%= @particio.envans_ceramica %>
</p>

<p>
  <strong>Envans cartro guix:</strong>
  <%= @particio.envans_cartro_guix %>
</p>

<p>
  <strong>Envans bloc formigo:</strong>
  <%= @particio.envans_bloc_formigo %>
</p>

<p>
  <strong>Envans paves:</strong>
  <%= @particio.envans_paves %>
</p>

<p>
  <strong>Envans fusta:</strong>
  <%= @particio.envans_fusta %>
</p>

<p>
  <strong>Envans plaques alveolades:</strong>
  <%= @particio.envans_plaques_alveolades %>
</p>

<p>
  <strong>Celras fibres vegetals:</strong>
  <%= @particio.celras_fibres_vegetals %>
</p>

<p>
  <strong>Celras fibres minerals:</strong>
  <%= @particio.celras_fibres_minerals %>
</p>

<p>
  <strong>Celras plaques guix:</strong>
  <%= @particio.celras_plaques_guix %>
</p>

<p>
  <strong>Celras metalic:</strong>
  <%= @particio.celras_metalic %>
</p>

<p>
  <strong>Celras fusta:</strong>
  <%= @particio.celras_fusta %>
</p>

<p>
  <strong>Aillament sota sostre:</strong>
  <%= @particio.aillament_sota_sostre %>
</p>

<p>
  <strong>Aillament sobre sostre:</strong>
  <%= @particio.aillament_sobre_sostre %>
</p>

<p>
  <strong>Aillament plaques:</strong>
  <%= @particio.aillament_plaques %>
</p>

<p>
  <strong>Aillament mantes:</strong>
  <%= @particio.aillament_mantes %>
</p>

<p>
  <strong>Aillament amorf:</strong>
  <%= @particio.aillament_amorf %>
</p>

<p>
  <strong>Aillament fibra vidre:</strong>
  <%= @particio.aillament_fibra_vidre %>
</p>

<p>
  <strong>Aillament polietile reticulat:</strong>
  <%= @particio.aillament_polietile_reticulat %>
</p>

<p>
  <strong>Aillament llana roca:</strong>
  <%= @particio.aillament_llana_roca %>
</p>

<p>
  <strong>Aillament escuma fenolica:</strong>
  <%= @particio.aillament_escuma_fenolica %>
</p>

<p>
  <strong>Aillament escuma poliureta:</strong>
  <%= @particio.aillament_escuma_poliureta %>
</p>

<p>
  <strong>Aillament polietile expandit:</strong>
  <%= @particio.aillament_polietile_expandit %>
</p>

<p>
  <strong>Aillament fibres textils:</strong>
  <%= @particio.aillament_fibres_textils %>
</p>

<p>
  <strong>Aillament argila expandida:</strong>
  <%= @particio.aillament_argila_expandida %>
</p>

<p>
  <strong>Aillament escuma melamina:</strong>
  <%= @particio.aillament_escuma_melamina %>
</p>

<p>
  <strong>Aillament poliestire extrudit:</strong>
  <%= @particio.aillament_poliestire_extrudit %>
</p>

<p>
  <strong>Aillament celulosa:</strong>
  <%= @particio.aillament_celulosa %>
</p>

<p>
  <strong>Aillament perlita expandida:</strong>
  <%= @particio.aillament_perlita_expandida %>
</p>

<p>
  <strong>Aillament suro aglomerat:</strong>
  <%= @particio.aillament_suro_aglomerat %>
</p>

<p>
  <strong>Revestiment vertical enguixat:</strong>
  <%= @particio.revestiment_vertical_enguixat %>
</p>

<p>
  <strong>Revestiment vertical arrebossat:</strong>
  <%= @particio.revestiment_vertical_arrebossat %>
</p>

<p>
  <strong>Revestiment horitzontal enguixat:</strong>
  <%= @particio.revestiment_horitzontal_enguixat %>
</p>

<p>
  <strong>Revestiment horitzontal arrebossat:</strong>
  <%= @particio.revestiment_horitzontal_arrebossat %>
</p>

<p>
  <strong>Acabat pintat:</strong>
  <%= @particio.acabat_pintat %>
</p>

<p>
  <strong>Acabat aplacat ceramica:</strong>
  <%= @particio.acabat_aplacat_ceramica %>
</p>

<p>
  <strong>Acabat empaperat:</strong>
  <%= @particio.acabat_empaperat %>
</p>

<p>
  <strong>Acabat taulell fusta:</strong>
  <%= @particio.acabat_taulell_fusta %>
</p>

<p>
  <strong>Acabat sintetic:</strong>
  <%= @particio.acabat_sintetic %>
</p>

<p>
  <strong>Acabat textil:</strong>
  <%= @particio.acabat_textil %>
</p>

<p>
  <strong>Acabat estuc:</strong>
  <%= @particio.acabat_estuc %>
</p>

<p>
  <strong>Acabat aplacat pedra:</strong>
  <%= @particio.acabat_aplacat_pedra %>
</p>

<p>
  <strong>Acabat fusta:</strong>
  <%= @particio.acabat_fusta %>
</p>

<p>
  <strong>Acabat suro:</strong>
  <%= @particio.acabat_suro %>
</p>

<p>
  <strong>Paviment formigo:</strong>
  <%= @particio.paviment_formigo %>
</p>

<p>
  <strong>Paviment pedra natural:</strong>
  <%= @particio.paviment_pedra_natural %>
</p>

<p>
  <strong>Paviment terratzo:</strong>
  <%= @particio.paviment_terratzo %>
</p>

<p>
  <strong>Paviment mosaic hidraulic:</strong>
  <%= @particio.paviment_mosaic_hidraulic %>
</p>

<p>
  <strong>Paviment suro:</strong>
  <%= @particio.paviment_suro %>
</p>

<p>
  <strong>Paviment ceramica natural:</strong>
  <%= @particio.paviment_ceramica_natural %>
</p>

<p>
  <strong>Paviment ceramica esmaltada:</strong>
  <%= @particio.paviment_ceramica_esmaltada %>
</p>

<p>
  <strong>Paviment gres natural:</strong>
  <%= @particio.paviment_gres_natural %>
</p>

<p>
  <strong>Paviment goma:</strong>
  <%= @particio.paviment_goma %>
</p>

<p>
  <strong>Paviment parquet encolat:</strong>
  <%= @particio.paviment_parquet_encolat %>
</p>

<p>
  <strong>Paviment parquet flotant:</strong>
  <%= @particio.paviment_parquet_flotant %>
</p>

<p>
  <strong>Paviment parquet llates:</strong>
  <%= @particio.paviment_parquet_llates %>
</p>

<p>
  <strong>Paviment pvc:</strong>
  <%= @particio.paviment_pvc %>
</p>

<p>
  <strong>Paviment moqueta:</strong>
  <%= @particio.paviment_moqueta %>
</p>

<p>
  <strong>Paviment linoleum:</strong>
  <%= @particio.paviment_linoleum %>
</p>

<p>
  <strong>Porta bastiment fusta:</strong>
  <%= @particio.porta_bastiment_fusta %>
</p>

<p>
  <strong>Porta bastiment metalic:</strong>
  <%= @particio.porta_bastiment_metalic %>
</p>

<p>
  <strong>Porta fulla massissa fusta:</strong>
  <%= @particio.porta_fulla_massissa_fusta %>
</p>

<p>
  <strong>Porta fulla aplacat fusta:</strong>
  <%= @particio.porta_fulla_aplacat_fusta %>
</p>

<p>
  <strong>Porta fulla vidre:</strong>
  <%= @particio.porta_fulla_vidre %>
</p>

<p>
  <strong>Porta fulla alumini:</strong>
  <%= @particio.porta_fulla_alumini %>
</p>

<p>
  <strong>Porta fulla ferro:</strong>
  <%= @particio.porta_fulla_ferro %>
</p>

<p>
  <strong>Porta acabat pintat:</strong>
  <%= @particio.porta_acabat_pintat %>
</p>

<p>
  <strong>Porta acabat lacat:</strong>
  <%= @particio.porta_acabat_lacat %>
</p>

<p>
  <strong>Porta acabat envernissat:</strong>
  <%= @particio.porta_acabat_envernissat %>
</p>

<p>
  <strong>Porta ferratge llauto:</strong>
  <%= @particio.porta_ferratge_llauto %>
</p>

<p>
  <strong>Porta ferratge acer llautonat:</strong>
  <%= @particio.porta_ferratge_acer_llautonat %>
</p>

<p>
  <strong>Porta ferratge acer niquelat:</strong>
  <%= @particio.porta_ferratge_acer_niquelat %>
</p>

<p>
  <strong>Porta ferratge acer inoxidable:</strong>
  <%= @particio.porta_ferratge_acer_inoxidable %>
</p>

<p>
  <strong>Porta ferratge alumini:</strong>
  <%= @particio.porta_ferratge_alumini %>
</p>

<p>
  <strong>Barana ferro forjat:</strong>
  <%= @particio.barana_ferro_forjat %>
</p>

<p>
  <strong>Barana perfils acer:</strong>
  <%= @particio.barana_perfils_acer %>
</p>

<p>
  <strong>Barana perfils alumini:</strong>
  <%= @particio.barana_perfils_alumini %>
</p>

<p>
  <strong>Barana fusta:</strong>
  <%= @particio.barana_fusta %>
</p>

<p>
  <strong>Barana pvc:</strong>
  <%= @particio.barana_pvc %>
</p>

<p>
  <strong>Barana vidre laminat:</strong>
  <%= @particio.barana_vidre_laminat %>
</p>

<p>
  <strong>Barana metacrilat:</strong>
  <%= @particio.barana_metacrilat %>
</p>

<%= link_to 'Edit', edit_particio_path(@particio) %> |
<%= link_to 'Back', particions_path %>
