<p id="notice"><%= notice %></p>

<h1>Listing Projectista</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Nom projectista</th>
      <th>Titulacio projectista</th>
      <th>Rao social projectista</th>
      <th>Nif projectista</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectista.each do |projectistum| %>
      <tr>
        <td><%= projectistum.edifici_id %></td>
        <td><%= projectistum.nom_projectista %></td>
        <td><%= projectistum.titulacio_projectista %></td>
        <td><%= projectistum.rao_social_projectista %></td>
        <td><%= projectistum.nif_projectista %></td>
        <td><%= link_to 'Show', projectistum %></td>
        <td><%= link_to 'Edit', edit_projectistum_path(projectistum) %></td>
        <td><%= link_to 'Destroy', projectistum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projectistum', new_projectistum_path %>
