<%= simple_form_for([@edifici, @promotor], remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
    <%= f.input :nom_promotor %>
    <%= f.input :nif_promotor %>
    <%= f.input :tipus_via_promotor %>
    <%= f.input :via_promotor %>
    <%= f.input :numero_promotor %>
    <%= f.input :bloc_promotor %>
    <%= f.input :escala_promotor %>
    <%= f.input :pis_promotor %>
    <%= f.input :cp_promotor %>
    <%= f.input :poblacio_promotor %>
    <%= f.input :provincia_promotor %>
    <%= f.input :pais_promotor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

