<%= form_for(@promotor) do |f| %>
  <% if @promotor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotor.errors.count, "error") %> prohibited this promotor from being saved:</h2>

      <ul>
      <% @promotor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :edifici_id %><br>
    <%= f.number_field :edifici_id %>
  </div>
  <div class="field">
    <%= f.label :nom_promotor %><br>
    <%= f.text_field :nom_promotor %>
  </div>
  <div class="field">
    <%= f.label :nif_promotor %><br>
    <%= f.text_field :nif_promotor %>
  </div>
  <div class="field">
    <%= f.label :tipus_via_promotor %><br>
    <%= f.text_field :tipus_via_promotor %>
  </div>
  <div class="field">
    <%= f.label :via_promotor %><br>
    <%= f.text_field :via_promotor %>
  </div>
  <div class="field">
    <%= f.label :numero_promotor %><br>
    <%= f.text_field :numero_promotor %>
  </div>
  <div class="field">
    <%= f.label :bloc_promotor %><br>
    <%= f.text_field :bloc_promotor %>
  </div>
  <div class="field">
    <%= f.label :escala_promotor %><br>
    <%= f.text_field :escala_promotor %>
  </div>
  <div class="field">
    <%= f.label :pis_promotor %><br>
    <%= f.text_field :pis_promotor %>
  </div>
  <div class="field">
    <%= f.label :cp_promotor %><br>
    <%= f.number_field :cp_promotor %>
  </div>
  <div class="field">
    <%= f.label :poblacio_promotor %><br>
    <%= f.text_field :poblacio_promotor %>
  </div>
  <div class="field">
    <%= f.label :provincia_promotor %><br>
    <%= f.text_field :provincia_promotor %>
  </div>
  <div class="field">
    <%= f.label :pais_promotor %><br>
    <%= f.text_field :pais_promotor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
