<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @promotor.edifici_id %>
</p>

<p>
  <strong>Nom promotor:</strong>
  <%= @promotor.nom_promotor %>
</p>

<p>
  <strong>Nif promotor:</strong>
  <%= @promotor.nif_promotor %>
</p>

<p>
  <strong>Tipus via promotor:</strong>
  <%= @promotor.tipus_via_promotor %>
</p>

<p>
  <strong>Via promotor:</strong>
  <%= @promotor.via_promotor %>
</p>

<p>
  <strong>Numero promotor:</strong>
  <%= @promotor.numero_promotor %>
</p>

<p>
  <strong>Bloc promotor:</strong>
  <%= @promotor.bloc_promotor %>
</p>

<p>
  <strong>Escala promotor:</strong>
  <%= @promotor.escala_promotor %>
</p>

<p>
  <strong>Pis promotor:</strong>
  <%= @promotor.pis_promotor %>
</p>

<p>
  <strong>Cp promotor:</strong>
  <%= @promotor.cp_promotor %>
</p>

<p>
  <strong>Poblacio promotor:</strong>
  <%= @promotor.poblacio_promotor %>
</p>

<p>
  <strong>Provincia promotor:</strong>
  <%= @promotor.provincia_promotor %>
</p>

<p>
  <strong>Pais promotor:</strong>
  <%= @promotor.pais_promotor %>
</p>

<%= link_to 'Edit', edit_edifici_promotor_path(@edifici, @promotor) %> |
<%= link_to 'Back', edifici_promotors_path %>
