<div id="modal-promotor" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.promotor') %></h3>
  <div id="formulari-promotor" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-projectista" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.projectista') %></h3>
  <div id="formulari-projectista" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-constructor" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.constructor') %></h3>
  <div id="formulari-constructor" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-director" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.director_obra') %></h3>
  <div id="formulari-director" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-execucio-director" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.director_execucio') %></h3>
  <div id="formulari-execucio-director" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-laboratori" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.laboratori') %></h3>
  <div id="formulari-laboratori" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-entitat-control" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.entitat') %></h3>
  <div id="formulari-entitat-control" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-subministrador" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.subministrador') %></h3>
  <div id="formulari-subministrador" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-industrial" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.industrial') %></h3>
  <div id="formulari-industrial" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-colaborador" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.colaborador') %></h3>
  <div id="formulari-colaborador" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-coordinador" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.coordinador') %></h3>
  <div id="formulari-coordinador" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_agents') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="seccio-agents-container">
				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_promotor') %>
							</div>
							<div id="promotors">
								<%= render  :partial => '/promotors/llistat_promotors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_promotor_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_promotor') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_projectista') %>
							</div>
							<div id="projectistes">
								<%= render  :partial => '/projectistes/llistat_projectistes' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_projectista_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_projectista') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_colaborador') %>
							</div>
							<div id="colaboradors">
								<%= render  :partial => '/colaboradors/llistat_colaboradors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_colaborador_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_colaborador') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_constructor') %>
							</div>
							<div id="constructors">
								<%= render  :partial => '/constructors/llistat_constructors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_constructor_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_constructor') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_director_obra') %>
							</div>
							<div id="directors">
								<%= render  :partial => '/directors/llistat_directors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_director_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_director_obra') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_director_execucio') %>
							</div>
							<div id="execucio-directors">
								<%= render  :partial => '/execucio_directors/llistat_execucio_directors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_execucio_director_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_director_execucio') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_coordinador') %>
							</div>
							<div id="coordinadors">
								<%= render  :partial => '/coordinadors/llistat_coordinadors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_coordinador_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_coordinador') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_laboratori') %>
							</div>
							<div id="laboratoris">
								<%= render  :partial => '/laboratoris/llistat_laboratoris' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_laboratori_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_laboratori') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_entitat') %>
							</div>
							<div id="entitat-controls">
								<%= render  :partial => '/entitat_controls/llistat_entitat_controls' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_entitat_control_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_entitat') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_subministrador') %>
							</div>
							<div id="subministradors">
								<%= render  :partial => '/subministradors/llistat_subministradors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_subministrador_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_subministrador') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								<%= t('.titol_industrial') %>
							</div>
							<div id="industrials">
								<%= render  :partial => '/industrials/llistat_industrials' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_industrial_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_industrial') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
