<div id="modal-promotor" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Promotor</h3>
  <div id="formulari-promotor" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-projectista" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Projectista</h3>
  <div id="formulari-projectista" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-constructor" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Constructor</h3>
  <div id="formulari-constructor" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-director" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Director d'obra</h3>
  <div id="formulari-director" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-execucio-director" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Director d'execució d'obra</h3>
  <div id="formulari-execucio-director" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-laboratori" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Laboratori de control</h3>
  <div id="formulari-laboratori" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-entitat-control" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Entitat de control</h3>
  <div id="formulari-entitat-control" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-subministrador" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Subministrador de productes</h3>
  <div id="formulari-subministrador" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-industrial" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">Industrial</h3>
  <div id="formulari-industrial" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_agents') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="seccio-agents-container">
				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								PROMOTOR
							</div>
							<div id="promotors">
								<%= render  :partial => '/promotors/llistat_promotors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_promotor_path), remote: true do %>
										<span class="suma">+</span> Afegir un promotor
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								PROJECTISTA
							</div>
							<div id="projectistes">
								<%= render  :partial => '/projectistes/llistat_projectistes' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_projectista_path), remote: true do %>
										<span class="suma">+</span> Afegir un projectista
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								CONSTRUCTOR
							</div>
							<div id="constructors">
								<%= render  :partial => '/constructors/llistat_constructors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_constructor_path), remote: true do %>
										<span class="suma">+</span> Afegir un constructor
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								DIRECTOR D'OBRA
							</div>
							<div id="directors">
								<%= render  :partial => '/directors/llistat_directors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_director_path), remote: true do %>
										<span class="suma">+</span> Afegir un director d'obra
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								DIRECTOR D'EXECUCIÓ D'OBRA
							</div>
							<div id="execucio-directors">
								<%= render  :partial => '/execucio_directors/llistat_execucio_directors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_execucio_director_path), remote: true do %>
										<span class="suma">+</span> Afegir un director d'execució d'obra
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								LABORATORIS DE CONTROL
							</div>
							<div id="laboratoris">
								<%= render  :partial => '/laboratoris/llistat_laboratoris' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_laboratori_path), remote: true do %>
										<span class="suma">+</span> Afegir un laboratori
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								ENTITATS DE CONTROL
							</div>
							<div id="entitat-controls">
								<%= render  :partial => '/entitat_controls/llistat_entitat_controls' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_entitat_control_path), remote: true do %>
										<span class="suma">+</span> Afegir una entitat de control
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								SUBMINISTRADORS DE PRODUCTES
							</div>
							<div id="subministradors">
								<%= render  :partial => '/subministradors/llistat_subministradors' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_subministrador_path), remote: true do %>
										<span class="suma">+</span> Afegir un subministrador
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="agents-container">
							<div class="agents-title">
								INDUSTRIALS
							</div>
							<div id="industrials">
								<%= render  :partial => '/industrials/llistat_industrials' %>
							</div>
							<div class="agents-footer">
								<div class="agents-footer-link right">
									<%= link_to (new_edifici_industrial_path), remote: true do %>
										<span class="suma">+</span> Afegir un industrial
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
