<%= simple_form_for(@signatura_instruccion) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id %>
    <%= f.input :autor_instruccions_nom %>
    <%= f.input :autor_instruccions_titulacio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
