<% @edifici.promotors.each do |promotor| %>
	<p class="titol-taula">PROMOTOR:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= promotor.nom_promotor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= promotor.nif_promotor %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Adreça:</span><br/><%= promotor.adreca_promotor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Codi postal:</span><br/><%= promotor.cp_promotor %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Població:</span><br/><%= promotor.poblacio_promotor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Província:</span><br/><%= promotor.provincia_promotor %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">País:</span><br/><%= promotor.pais_promotor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= promotor.telefon %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= promotor.email %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= promotor.web %></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.projectistes.each do |projectista| %>
	<p class="titol-taula">PROJECTISTA:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= projectista.nom_projectista %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Titulació:</span><br/><%= projectista.titulacio_projectista %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Raó social:</span><br/><%= projectista.rao_social_projectista %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= projectista.nif_projectista %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= projectista.telefon %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= projectista.email %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= projectista.web %></td>
	      <td class="taula-dos-columnes"></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.colaboradors.each do |colaborador| %>
	<p class="titol-taula">COL·LABORADOR AL PROJECTISTA:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= colaborador.nom_colaborador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Titulació:</span><br/><%= colaborador.titulacio_colaborador %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Raó social:</span><br/><%= colaborador.rao_social_colaborador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= colaborador.nif_colaborador %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Àmbit de col·laboració:</span><br/><%= colaborador.ambit_colaboracio %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Projecte parcial:</span><br/><%= colaborador.projecte_parcial %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= colaborador.telefon %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= colaborador.email %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= colaborador.web %></td>
	      <td class="taula-dos-columnes"></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.constructors.each do |constructor| %>
	<p class="titol-taula">CONSTRUCTOR:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= constructor.nom_constructor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= constructor.nif_constructor %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Adreça:</span><br/><%= constructor.adreca_constructor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Codi postal:</span><br/><%= constructor.cp_constructor %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Població:</span><br/><%= constructor.poblacio_constructor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Província:</span><br/><%= constructor.provincia_constructor %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">País:</span><br/><%= constructor.pais_constructor %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= constructor.telefon %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= constructor.email %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= constructor.web %></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.directors.each do |director| %>
	<p class="titol-taula">DIRECTOR D'OBRA:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= director.nom_director %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Titulació:</span><br/><%= director.titulacio_director %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Raó social:</span><br/><%= director.rao_social_director %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= director.nif_director %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= director.telefon %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= director.email %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= director.web %></td>
	      <td class="taula-dos-columnes"></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.execucio_directors.each do |execucio_director| %>
	<p class="titol-taula">DIRECTOR D'EXECUCIÓ D'OBRA:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= execucio_director.nom_director_execucio %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Titulació:</span><br/><%= execucio_director.titulacio_director_execucio %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Raó social:</span><br/><%= execucio_director.rao_social_director_execucio %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= execucio_director.nif_director_execucio %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= execucio_director.telefon %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= execucio_director.email %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= execucio_director.web %></td>
	      <td class="taula-dos-columnes"></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.coordinadors.each do |coordinador| %>
	<p class="titol-taula">COORDINADOR DE SEGURETAT:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= coordinador.nom_coordinador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Titulació:</span><br/><%= coordinador.titulacio_coordinador %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Raó social:</span><br/><%= coordinador.rao_social_coordinador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= coordinador.nif_coordinador %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= coordinador.telefon %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= coordinador.email %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= coordinador.web %></td>
	      <td class="taula-dos-columnes"></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.laboratoris.each do |laboratori| %>
	<p class="titol-taula">LABORATORI DE CONTROL:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= laboratori.nom_laboratori %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= laboratori.nif_laboratori %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= laboratori.telefon %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= laboratori.email %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= laboratori.web %></td>
	      <td class="taula-dos-columnes"></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.entitat_controls.each do |entitat_control| %>
	<p class="titol-taula">ENTITAT DE CONTROL:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= entitat_control.nom_entitat_control %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= entitat_control.nif_entitat_control %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Adreça:</span><br/><%= entitat_control.adreca_entitat_control %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Codi postal:</span><br/><%= entitat_control.cp_entitat_control %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Població:</span><br/><%= entitat_control.poblacio_entitat_control %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Província:</span><br/><%= entitat_control.provincia_entitat_control %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">País:</span><br/><%= entitat_control.pais_entitat_control %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= entitat_control.telefon %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= entitat_control.email %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= entitat_control.web %></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.subministradors.each do |subministrador| %>
	<p class="titol-taula">SUBMINISTRADOR DE PRODUCTES:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= subministrador.nom_subministrador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= subministrador.nif_subministrador %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Adreça:</span><br/><%= subministrador.adreca_subministrador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Codi postal:</span><br/><%= subministrador.cp_subministrador %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Població:</span><br/><%= subministrador.poblacio_subministrador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Província:</span><br/><%= subministrador.provincia_subministrador %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">País:</span><br/><%= subministrador.pais_subministrador %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= subministrador.telefon %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= subministrador.email %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= subministrador.web %></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>

<% @edifici.industrials.each do |industrial| %>
	<p class="titol-taula">SUBCONTRACTISTA PRINCIPAL:</p>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= industrial.nom_industrial %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span><br/><%= industrial.nif_industrial %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Servei a l'obra:</span><br/><%= industrial.servei_obra %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Adreça:</span><br/><%= industrial.adreca_industrial %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Codi postal:</span><br/><%= industrial.cp_industrial %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Població:</span><br/><%= industrial.poblacio_industrial %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Província:</span><br/><%= industrial.provincia_industrial %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">País:</span><br/><%= industrial.pais_industrial %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Telèfon:</span><br/><%= industrial.telefon %></td>
	    </tr>
	  </tbody>
	</table>
	<table class="taula-dades">
	  <tbody>
	    <tr>
	      <td class="taula-dos-columnes"><span class="titol-taula">Correu electrònic:</span><br/><%= industrial.email %></td>
	      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span><br/><%= industrial.web %></td>
	    </tr>
	  </tbody>
	</table>
	<div class="espaiador"></div>
<% end %>