<% @edifici.promotors.each do |promotor| %>
	<div class="taula-container">
		<p class="titol-taula">PROMOTOR:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= promotor.nom_promotor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= promotor.nif_promotor %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Dirección:</span> <%= promotor.adreca_promotor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Código postal:</span> <%= promotor.cp_promotor %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Población:</span> <%= promotor.poblacio_promotor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Provincia:</span> <%= promotor.provincia_promotor %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">País:</span> <%= promotor.pais_promotor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= promotor.telefon %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= promotor.email %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= promotor.web %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.projectistes.each do |projectista| %>
	<div class="taula-container">
		<p class="titol-taula">PROYECTISTA:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= projectista.nom_projectista %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Titulación:</span> <%= projectista.titulacio_projectista %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Razón social:</span> <%= projectista.rao_social_projectista %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= projectista.nif_projectista %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= projectista.telefon %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= projectista.email %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= projectista.web %></td>
		      <td class="taula-dos-columnes"></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.colaboradors.each do |colaborador| %>
	<div class="taula-container">
		<p class="titol-taula">COLABORADOR AL PROYECTISTA:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= colaborador.nom_colaborador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Titulación:</span> <%= colaborador.titulacio_colaborador %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Razón social:</span> <%= colaborador.rao_social_colaborador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= colaborador.nif_colaborador %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Ámbito de colaboración:</span> <%= colaborador.ambit_colaboracio %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Proyecto parcial:</span> <%= colaborador.projecte_parcial %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= colaborador.telefon %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= colaborador.email %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= colaborador.web %></td>
		      <td class="taula-dos-columnes"></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.constructors.each do |constructor| %>
	<div class="taula-container">
		<p class="titol-taula">CONSTRUCTOR:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= constructor.nom_constructor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= constructor.nif_constructor %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Dirección:</span> <%= constructor.adreca_constructor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Código postal:</span> <%= constructor.cp_constructor %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Población:</span> <%= constructor.poblacio_constructor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Provincia:</span> <%= constructor.provincia_constructor %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">País:</span> <%= constructor.pais_constructor %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= constructor.telefon %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= constructor.email %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= constructor.web %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.directors.each do |director| %>
	<div class="taula-container">
		<p class="titol-taula">DIRECTOR DE OBRA:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= director.nom_director %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Titulación:</span> <%= director.titulacio_director %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Razón social:</span> <%= director.rao_social_director %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= director.nif_director %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= director.telefon %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= director.email %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= director.web %></td>
		      <td class="taula-dos-columnes"></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.execucio_directors.each do |execucio_director| %>
	<div class="taula-container">
		<p class="titol-taula">DIRECTOR DE EJECUCIÓN DE OBRA:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= execucio_director.nom_director_execucio %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Titulación:</span> <%= execucio_director.titulacio_director_execucio %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Razón social:</span> <%= execucio_director.rao_social_director_execucio %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= execucio_director.nif_director_execucio %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= execucio_director.telefon %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= execucio_director.email %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= execucio_director.web %></td>
		      <td class="taula-dos-columnes"></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.coordinadors.each do |coordinador| %>
	<div class="taula-container">
		<p class="titol-taula">COORDINADOR DE SEGURIDAD:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= coordinador.nom_coordinador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Titulación:</span> <%= coordinador.titulacio_coordinador %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Razón social:</span> <%= coordinador.rao_social_coordinador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= coordinador.nif_coordinador %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= coordinador.telefon %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= coordinador.email %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= coordinador.web %></td>
		      <td class="taula-dos-columnes"></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.laboratoris.each do |laboratori| %>
	<div class="taula-container">
		<p class="titol-taula">LABORATORIO DE CONTROL:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= laboratori.nom_laboratori %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= laboratori.nif_laboratori %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= laboratori.telefon %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= laboratori.email %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= laboratori.web %></td>
		      <td class="taula-dos-columnes"></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.entitat_controls.each do |entitat_control| %>
	<div class="taula-container">
		<p class="titol-taula">ENTIDAD DE CONTROL:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= entitat_control.nom_entitat_control %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= entitat_control.nif_entitat_control %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Dirección:</span> <%= entitat_control.adreca_entitat_control %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Código postal:</span> <%= entitat_control.cp_entitat_control %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Población:</span> <%= entitat_control.poblacio_entitat_control %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Provincia:</span> <%= entitat_control.provincia_entitat_control %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">País:</span> <%= entitat_control.pais_entitat_control %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= entitat_control.telefon %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= entitat_control.email %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= entitat_control.web %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.subministradors.each do |subministrador| %>
	<div class="taula-container">
		<p class="titol-taula">SUMINISTRADOR DE PRODUCTOS:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= subministrador.nom_subministrador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= subministrador.nif_subministrador %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Dirección:</span> <%= subministrador.adreca_subministrador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Código postal:</span> <%= subministrador.cp_subministrador %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Población:</span> <%= subministrador.poblacio_subministrador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Provincia:</span> <%= subministrador.provincia_subministrador %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">País:</span> <%= subministrador.pais_subministrador %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= subministrador.telefon %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= subministrador.email %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= subministrador.web %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.industrials.each do |industrial| %>
	<div class="taula-container">
		<p class="titol-taula">SUBCONTRATISTA PRINCIPAL:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre:</span> <%= industrial.nom_industrial %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">NIF o CIF:</span> <%= industrial.nif_industrial %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Servicio en la obra:</span> <%= industrial.servei_obra %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Dirección:</span> <%= industrial.adreca_industrial %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Código postal:</span> <%= industrial.cp_industrial %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Población:</span> <%= industrial.poblacio_industrial %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Provincia:</span> <%= industrial.provincia_industrial %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">País:</span> <%= industrial.pais_industrial %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Teléfono:</span> <%= industrial.telefon %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Correo electrónico:</span> <%= industrial.email %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Web:</span> <%= industrial.web %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>