<% @edifici.llicencies.each do |llicencia| %>
	<div class="taula-container">
		<p class="titol-taula">LLICÈNCIES:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Classe:</span><br/><%= llicencia.classe %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Data:</span><br/><%= llicencia.data_llicencia %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.declaracions.each do |declaracio| %>
	<div class="taula-container">
		<p class="titol-taula">DECLARACIÓ D'OBRA NOVA:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td><span class="titol-taula">Notari:</span><br/><%= declaracio.notari %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Número de protocol:</span><br/><%= declaracio.n_protocol %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Data:</span><br/><%= declaracio.data_declaracio %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.regim_propietats.each do |regim_propietat| %>
	<div class="taula-container">
		<p class="titol-taula">RÈGIM DE PROPIETAT:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipus:</span><br/><%= regim_propietat.tipus_regim_propietat %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Escriptura, divisió i estatuts:</span><br/><%= regim_propietat.document_escriptura %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.regim_especials.each do |regim_especial| %>
	<div class="taula-container">
		<p class="titol-taula">RÈGIMS ESPECIALS:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipus:</span><br/><%= regim_especial.tipus_regim_especial %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Referència del document acreditatiu:</span><br/><%= regim_especial.referencia_document %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.carregues.each do |carrega| %>
	<div class="taula-container">
		<p class="titol-taula">CÀRREGUES REALS:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipus:</span><br/><%= carrega.tipus_carrega %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Referència del document acreditatiu:</span><br/><%= carrega.document_carrega %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.entitats.order(nom_entitat: :asc).each do |entitat| %>
	<div class="taula-container">
		<p class="titol-taula">ENTITATS JURÍDIQUES:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nom:</span><br/><%= entitat.nom_entitat %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Superfície (m<sup>2</sup>):</span><br/><%= entitat.superficie %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Destinació:</span><br/><%= entitat.destinacio %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Quota (%):</span><br/><%= entitat.quota %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.garantia_promotors.each do |garantia_promotor| %>
	<div class="taula-container">
		<p class="titol-taula">GARANTIES DEL PROMOTOR:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipus:</span><br/><%= garantia_promotor.tipus %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Data de venciment:</span><br/><%= garantia_promotor.venciment %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td><span class="titol-taula">Referència de la pòlissa o altre document acreditatiu de l’atorgament de la garantia:</span><br/><%= garantia_promotor.referencia %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.garantia_constructors.each do |garantia_constructor| %>
	<div class="taula-container">
		<p class="titol-taula">GARANTIES DEL CONSTRUCTOR:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipus:</span><br/><%= garantia_constructor.tipus %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Data de venciment:</span><br/><%= garantia_constructor.venciment %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td><span class="titol-taula">Referència de la pòlissa o altre document acreditatiu de l’atorgament de la garantia:</span><br/><%= garantia_constructor.referencia %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.garantia_instalacions.each do |garantia_instalacio| %>
	<div class="taula-container">
		<p class="titol-taula">GARANTIES DE LES INSTAL·LACIONS:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipus:</span><br/><%= garantia_instalacio.tipus %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Data de venciment:</span><br/><%= garantia_instalacio.venciment %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Instal·lació:</span><br/><%= garantia_instalacio.instalacio %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nom de l'empresa garant:</span><br/><%= garantia_instalacio.empresa %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.energia_certificats.each do |energia_certificat| %>
	<div class="taula-container">
		<p class="titol-taula">CERTIFICACIÓ D'EFICIÈNCIA ENERGÈTICA:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Número de registre:</span><br/><%= energia_certificat.numero_registre %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Data de finalització de la vigència:</span><br/><%= energia_certificat.vigencia %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Consum d’energia primària (kWh/a):</span><br/><%= energia_certificat.consum_energia_primaria %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Emissions de CO<sub>2</sub> (kg/m<sup>2</sup>a):</span><br/><%= energia_certificat.emissions_co2 %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Qualificació energètica:</span><br/><%= energia_certificat.qualificacio_energetica %></td>
		      <td class="taula-dos-columnes"></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.iites.each do |iite| %>
	<div class="taula-container">
		<p class="titol-taula">Informe de la inspecció tècnica de l'edifici (IITE):</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Referència:</span><br/><%= iite.referencia %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Data:</span><br/><%= iite.data %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>



