<% @edifici.garantia_promotors.each do |garantia_promotor| %>
	<div class="taula-container">
		<p class="titol-taula">GARANTÍAS DEL PROMOTOR:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipo:</span><br/><%= garantia_promotor.tipus %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Fecha de vencimiento:</span><br/><%= garantia_promotor.venciment %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td><span class="titol-taula">Referencia de la póliza u otro documento acreditativo del otorgamiento de la garantía:</span><br/><%= garantia_promotor.referencia %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.garantia_constructors.each do |garantia_constructor| %>
	<div class="taula-container">
		<p class="titol-taula">GARANTÍAS DEL CONSTRUCTOR:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipo:</span><br/><%= garantia_constructor.tipus %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Fecha de vencimiento:</span><br/><%= garantia_constructor.venciment %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td><span class="titol-taula">Referencia de la póliza u otro documento acreditativo del otorgamiento de la garantía:</span><br/><%= garantia_constructor.referencia %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>

<% @edifici.garantia_instalacions.each do |garantia_instalacio| %>
	<div class="taula-container">
		<p class="titol-taula">GARANTÍAS DE LAS INSTALACIONES:</p>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Tipo:</span><br/><%= garantia_instalacio.tipus %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Fecha de vencimiento:</span><br/><%= garantia_instalacio.venciment %></td>
		    </tr>
		  </tbody>
		</table>
		<table class="taula-dades">
		  <tbody>
		    <tr>
		      <td class="taula-dos-columnes"><span class="titol-taula">Instalación:</span><br/><%= garantia_instalacio.instalacio %></td>
		      <td class="taula-dos-columnes"><span class="titol-taula">Nombre de la empresa garante:</span><br/><%= garantia_instalacio.empresa %></td>
		    </tr>
		  </tbody>
		</table>
		<div class="espaiador"></div>
	</div>
<% end %>
