<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_documents') %>
			</div>

		</div>
	</div>

	<% if @edifici.tipus_edifici == 'nou_plurifamiliar' %>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-4 columns">
						<%= image_tag('document_configuracio.png', :alt => t('.configurar_document'), :class => 'imatge-document') %>
						<%= link_to t('.configurar_document'), edit_edifici_checklist_nou_plurifamiliar_path(@edifici.id, @edifici.checklist_nou_plurifamiliar.id), :class=> "button small radius" %>
						<p><%= t('.text_configurar_document') %></p>
						
					</div>
					<div class="medium-4 columns">
						<%= image_tag('document_llibre.png', :alt => t('.generar_llibre'), :class => 'imatge-document') %>
						<a href="documents/llibre_nou.docx" class="button small radius"><%= t('.generar_llibre') %></a>
						<a href="documents/llibre_nou.docx" class="button small radius"><%= t('.generar_llibre') %></a>
						<p><%= t('.text_generar_llibre') %></p>
						
					</div>
					<div class="medium-4 columns">
						<%= image_tag('document_manual.png', :alt => t('.generar_manual'), :class => 'imatge-document') %>
						<a href="documents/manual_habitatge.docx" class="button small radius"><%= t('.generar_manual') %></a>
						<p><%= t('.text_generar_manual') %></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-6 columns">
						<%= image_tag('document_calendari.png', :alt => t('.generar_calendari'), :class => 'imatge-document') %>
						<a href="documents/calendari_manteniment.docx" class="button small radius"><%= t('.generar_calendari') %></a>
						<p><%= t('.text_generar_calendari') %></p>	
						<a href="http://llibreedifici.herokuapp.com/edificis/1/documents/doc_pdf?locale=ca">PDF</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% end %>

	<% if @edifici.tipus_edifici == 'nou_unifamiliar' %>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-6 columns">
						<%= image_tag('document_configuracio.png', :alt => t('.configurar_document'), :class => 'imatge-document') %>
						<%= link_to t('.configurar_document'), edit_edifici_checklist_nou_unifamiliar_path(@edifici.id, @edifici.checklist_nou_unifamiliar.id), :class=> "button small radius" %>
						<p><%= t('.text_configurar_document_unifamiliar') %></p>
						
					</div>
					<div class="medium-6 columns end">
						<%= image_tag('document_llibre.png', :alt => t('.generar_llibre'), :class => 'imatge-document') %>
						<a href="documents/llibre_nou.docx" class="button small radius"><%= t('.generar_llibre') %></a>
						<p><%= t('.text_generar_llibre') %></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-6 columns">
						<%= image_tag('document_manteniment.png', :alt => t('.generar_manual_manteniment'), :class => 'imatge-document') %>
						<a href="documents/manual_manteniment.docx" class="button small radius"><%= t('.generar_manual_manteniment') %></a>
						<p><%= t('.text_generar_manual_manteniment') %></p>	
					</div>
					<div class="medium-6 columns">
						<%= image_tag('document_calendari.png', :alt => t('.generar_calendari'), :class => 'imatge-document') %>
						<a href="documents/calendari_manteniment.docx" class="button small radius"><%= t('.generar_calendari') %></a>
						<p><%= t('.text_generar_calendari') %></p>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>

	<% if @edifici.tipus_edifici == 'existent_plurifamiliar' || @edifici.tipus_edifici == 'existent_unifamiliar' %>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-6 columns">
						<%= image_tag('document_configuracio.png', :alt => t('.configurar_document'), :class => 'imatge-document') %>
						<%= link_to t('.configurar_document'), edit_edifici_checklist_existent_plurifamiliar_path(@edifici.id, @edifici.checklist_existent_plurifamiliar.id), :class=> "button small radius" %>
						<p><%= t('.text_configurar_document') %></p>
						
					</div>
					<div class="medium-6 columns end">
						<%= image_tag('document_llibre.png', :alt => t('.generar_llibre'), :class => 'imatge-document') %>
						<a href="documents/llibre_existent.docx" class="button small radius"><%= t('.generar_llibre') %></a>
						<p><%= t('.text_generar_llibre') %></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-6 columns">
						<%= image_tag('document_calendari.png', :alt => t('.generar_calendari'), :class => 'imatge-document') %>
						<a href="documents/calendari_manteniment.docx" class="button small radius"><%= t('.generar_calendari') %></a>
						<p><%= t('.text_generar_calendari') %></p>	

					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>

</div>
