<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_documents') %>
			</div>

		</div>
	</div>

	<% if @edifici.tipus_edifici == 'nou_plurifamiliar' %>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-7 columns">
						<p><%= t('.text_generar_llibre') %></p>
						<br/>
						<p><%= t('.text_generar_manual') %></p>
					</div>
					<div class="medium-4 medium-offset-1 columns">
						<%= link_to t('.tornar_apartats'), edit_edifici_checklist_nou_plurifamiliar_path(@edifici.id, @edifici.checklist_nou_plurifamiliar.id), :class=> "button small radius" %>
						<br/>
						<a href="documents/nou.docx" class="button small radius"><%= t('.generar_llibre') %></a>
						<br/>
						<a href="documents/manual_habitatge.docx" class="button small radius"><%= t('.generar_manual') %></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>

	<% if @edifici.tipus_edifici == 'nou_unifamiliar' %>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-7 columns">
						<p><%= t('.text_generar_llibre') %></p>
					</div>
					<div class="medium-4 medium-offset-1 columns">
						<%= link_to t('.tornar_apartats'), edit_edifici_checklist_nou_unifamiliar_path(@edifici.id, @edifici.checklist_nou_unifamiliar.id), :class=> "button small radius" %>
						<br/>
						<a href="documents/nou.docx" class="button small radius"><%= t('.generar_llibre') %></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>

	<% if @edifici.tipus_edifici == 'existent_plurifamiliar' || @edifici.tipus_edifici == 'existent_unifamiliar' %>
	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-12 columns">
						<a href="documents/existents.docx" class="button small radius"><%= t('.generar_llibre_existent') %></a>
						<br/>
						<p><%= t('.text_generar_llibre') %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<p><%= t('.seguents_passos') %>:</p>
				<ul>
					<li><%= t('.pas1') %></li>
					<li><%= t('.pas2') %></li>
					<li><%= t('.pas3') %></li>
				</ul>
			</div>
		</div>
	</div>

</div>
