<h1 class="titol-document">LLIBRE DE L'EDIFICI</h1>

<% if @edifici.identificacio.bloc_edifici.blank?
    adreca = @edifici.identificacio.tipus_via_edifici.to_s + ' ' + @edifici.identificacio.via_edifici.to_s + ' ' + @edifici.identificacio.numero_edifici.to_s
  else
    adreca = @edifici.identificacio.tipus_via_edifici.to_s + ' ' + @edifici.identificacio.via_edifici.to_s + ' ' + @edifici.identificacio.numero_edifici.to_s + ', bloc ' + @edifici.identificacio.bloc_edifici.to_s
  end
  %>
<p class="dades-portada"><%= adreca %><br/><%= @edifici.identificacio.cp_edifici %>, <%= @edifici.identificacio.poblacio_edifici %><br/><%= @edifici.identificacio.provincia_edifici %></p>
<div class="salt-pagina"></div>

<p class="titol-seccio-document">QUADERN DE REGISTRE</p>
<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Dades inicials de l'edifici</p>
<p class="titol-apartat-document">Dades d'identificació</p>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Adreça:</span><br/><%= adreca %></td>
    </tr>
  </tbody>
</table>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Codi postal:</span><br/><%= @edifici.identificacio.cp_edifici %></td>
      <td><span class="titol-taula">Municipi:</span><br/><%= @edifici.identificacio.poblacio_edifici %></td>
      <td><span class="titol-taula">Província:</span><br/><%= @edifici.identificacio.provincia_edifici %></td>
    </tr>
 	</tbody>
</table>
<table class="taula-dades">
  <tbody>   
    <tr>
      <td><span class="titol-taula">Referència cadastral:</span><br/><%= @edifici.identificacio.ref_cadastral %></td>
    </tr>
  </tbody>
</table>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Any d'inici de la construcció:</span><br/><%= @edifici.identificacio.any_inici_construccio %></td>
      <td><span class="titol-taula">Any de finalització de la construcció:</span><br/><%= @edifici.identificacio.any_fi_construccio %></td>
    </tr>
   </tbody>
</table>

<div class="espaiador"></div>
<p class="titol-taula">Fotografia de la façana:</p>
<%= image_tag @edifici.identificacio.foto_facana.url(:original) %>
<div class="salt-pagina"></div>

<p class="titol-taula">Plànol d'emplaçament:</p>
<%= image_tag @edifici.identificacio.planol_emplacament.url(:original) %>
<div class="salt-pagina"></div>

<p class="titol-apartat-document">Agents de l'edificació</p>


