<h1 class="titol-document">LLIBRE DE L'EDIFICI</h1>
<div class="separacio-gran"></div>
<% if @edifici.identificacio.bloc_edifici.blank?
    adreca = @edifici.identificacio.tipus_via_edifici.to_s + ' ' + @edifici.identificacio.via_edifici.to_s + ' ' + @edifici.identificacio.numero_edifici.to_s
  else
    adreca = @edifici.identificacio.tipus_via_edifici.to_s + ' ' + @edifici.identificacio.via_edifici.to_s + ' ' + @edifici.identificacio.numero_edifici.to_s + ', bloc ' + @edifici.identificacio.bloc_edifici.to_s
  end
  %>
<p class="dades-portada"><%= adreca %><br/><%= @edifici.identificacio.cp_edifici %>, <%= @edifici.identificacio.poblacio_edifici %><br/><%= @edifici.identificacio.provincia_edifici %></p>
<div class="salt-pagina"></div>

<p class="titol-seccio-document">Introducció</p>
<p>El llibre de l’edifici dels edificis d’habitatges existents està format pel conjunt de documents que acrediten el seu estat de conservació, i conté les instruccions o recomanacions d’ús i de manteniment que permetran allargar-ne la vida útil i evitar-ne la degradació. Consta dels documents següents:</p>
<ul>
<li>Les instruccions d’ús i manteniment</li>
<li>L’arxiu de documents</li>
<li>El registre d’incidències</li>
</ul>
<p>L’obligatorietat de la formalització del llibre de l’edifici correspon a la persona propietària o a la comunitat de propietaris, en el cas d’edificis amb règim de propietat horitzontal, i es constitueix a partir de la data de recepció de l’informe de la inspecció tècnica de l’edifici.</p>
<p>Les inscripcions d’incidències i d’operacions de manteniment han de fer-se dins del termini d’un mes després d’haver-se produït o executat.</p>
<p>El llibre de l’edifici ha d’estar a disposició de tots els copropietaris de l’edifici.</p>
<div class="salt-pagina"></div>

<p class="titol-seccio-document">DADES D'IDENTIFICACIÓ DE L'EDIFICI</p>
<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Dades inicials de l'edifici</p>
<p class="titol-apartat-document">Dades d'identificació</p>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Adreça:</span><br/><%= adreca %></td>
    </tr>
  </tbody>
</table>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Codi postal:</span><br/><%= @edifici.identificacio.cp_edifici %></td>
      <td><span class="titol-taula">Municipi:</span><br/><%= @edifici.identificacio.poblacio_edifici %></td>
      <td><span class="titol-taula">Província:</span><br/><%= @edifici.identificacio.provincia_edifici %></td>
    </tr>
 	</tbody>
</table>
<table class="taula-dades">
  <tbody>   
    <tr>
      <td><span class="titol-taula">Referència cadastral:</span><br/><%= @edifici.identificacio.ref_cadastral %></td>
    </tr>
  </tbody>
</table>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Any de finalització de la construcció:</span><br/><%= @edifici.identificacio.any_fi_construccio %></td>
      <td><span class="titol-taula">Font de l'any de construcció:</span><br/><%= @edifici.identificacio.origen_any_construccio %></td>
    </tr>
   </tbody>
</table>

<div class="espaiador"></div>
<p class="titol-taula">Observacions:</p>
<p><%= @edifici.identificacio.observacions %></p>

<div class="salt-pagina"></div>
<p class="titol-taula">Fotografia de la façana:</p>
<%= image_tag @edifici.identificacio.foto_facana.url(:original) %>

<div class="salt-pagina"></div>
<p class="titol-taula">Plànol d'emplaçament:</p>
<%= image_tag @edifici.identificacio.planol_emplacament.url(:original) %>
<div class="salt-pagina"></div>

<p class="titol-apartat-document">Agents de l'edificació</p>

<%= render 'agents' %>

<div class="salt-pagina"></div>
<p class="titol-apartat-document">Dades administratives i jurídiques</p>

<%= render 'dades' %>

<div class="salt-pagina"></div>

<p class="titol-seccio-document">INSTRUCCIONS D'ÚS I MANTENIMENT DE L'EDIFICI</p>
<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Instruccions d'ús i manteniment</p>
<p class="titol-apartat-document">El manteniment</p>

<p>Les cases, tant en el seu conjunt com per a cadascun dels seus components, han de tenir un ús i un manteniment adequats. És per aquest motiu, que els seus propietaris i usuaris han de conèixer les seves característiques i les de les diferents parts. Una casa en bon estat ha de ser:
<ul>
<li>Segura. La casa ens proporciona seguretat, però els edificis, a mesura que envelleixen presenten perills: el simple accident domèstic, la fuita de gas, la descàrrega elèctrica o el despreniment d’una part de la façana. Si tenim la casa en bon estat eliminem els perills i augmentem la nostra seguretat.</li>
<li>Durable i econòmica. Si la casa està en bon estat dura més, envelleix més dignament i en podem gaudir molts més anys. Al mateix temps, amb un manteniment periòdic, evitem les fortes despeses que hem d’efectuar si, de sobte, cal fer reparacions importants originades per un petit problema que s’ha anat agreujant amb el temps. Tenir la casa en bon estat ens surt a compte.</li>
<li>Ecològica. L’aïllament tèrmic i el bon funcionament de les instal·lacions (electricitat, gas, calefacció, aire condicionat, etc.) permeten un important estalvi energètic. Si els aparells funcionen bé, no gastem més energia del que cal i respectem el medi ambient. Una casa en bon estat és ecològica.</li>
<li>Confortable. Podem gaudir d’una casa amb les màximes prestacions de totes les seves parts i instal·lacions. Podem aconseguir un nivell òptim de confort amb una temperatura i humitat adequades, un bon aïllament dels sons i una il·luminació i ventilació òptimes. Una casa en bon estat ens proporciona qualitat de vida.</li>
<li>Agradable. Una casa en bon estat té millor aspecte i fa més agradables els carrers del nostre poble o ciutat.</li>
</ul>
</p>

<p>Els nostres edificis són complexos. S’han construït per donar resposta a les necessitats de la vida diària. Cada part té una missió específica i ha de complir-la sempre.</p>

<p>A. L’Estructura. Suporta el pes de la casa. Té elements horitzontals (sostres), verticals (pilars o parets mestres) i soterrats (fonaments). Els sostres (el sòl que trepitgem) aguanten el seu propi pes, el dels envans, els paviments, els mobles i les persones. Els pilars o les parets de càrrega aguanten els sostres i porten els pesos als fonaments i al terreny.</p>

<p>B. Les Façanes. Ens protegeixen de la calor, el fred, el vent, la pluja i els sorolls. Proporcionen intimitat, i, al mateix temps, ens relacionen amb l’exterior mitjançant les finestres i els balcons.</p>

<p>C. La Coberta. A l’igual que la façana, protegeix dels agents atmosfèrics i aïlla de les temperatures extremes. Hi ha dos tipus de coberta: les planes o els terrats, i les inclinades o teulades.</p>

<p>D. Les Parets Interiors. Divideixen la casa en diferents espais, on fem les nostres activitats (dormir, cuinar, descansar, menjar, rentar). Les parets que només tenen funció divisòria s’anomenen envans. En canvi, les que suporten pes s’anomenen parets mestres.</p>

<p>E. Els Acabats. Donen qualitat i confort als espais interiors. Habitualment l’usuari podrà introduir els canvis o les variacions que desitgi.</p>

<p>F. Les Instal·lacions. Són l’equipament i la maquinària que introdueix l’energia dins l’edifici i la distribueix.</p>

<div class="espaiador"></div>
<%= @text_manual_manteniment %>

<div class="salt-pagina"></div>
<p class="subtitol-seccio-document">Documents de substitució, modificació o ampliació de les instruccions d'ús i manteniment per incidències produïdes</p>
<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Recomanacions per emergències</p>
<p class="titol-apartat-document">Accions de cas d’incendi</p>
<ul>
<li>Si trobeu foc en una habitació, no s’ha d’obrir la finestra, cal tancar la porta i, si és possible, mullar-la per fora.</li>
<li>S’han d’avisar tot els ocupants de l’edifici.</li>
<li>Cal avisar als bombers.</li>
<li>Si hi ha instal·lació de gas s’ha de procurar tancar la clau de pas. Si hi ha bombones de butà o qualsevol altre producte inflamable, s’ha d’intentar allunyar-los de la zona de l’incendi.</li>
<li>Si la situació és extrema i l’evacuació difícil, s’han de tancar totes les portes entre vosaltres i el fum. Cal tapar totes les possibles entrades de fum amb roba i coixins, posats a les escletxes de les portes.</li><li>Mulleu-los si teniu aigua. Busqueu una habitació sense foc, amb finestra a l’exterior i , si es pot, cal obri-la una mica, sempre amb la porta tancada.</li>
</ul>
<p>Evacuació en cas d’incendi:</p>
<ul>
<li>Si l’incendi és en un pis per sobre del vostre, per regla general es pot procedir a l’evacuació.</li>
<li>Mai no s’ha d’utilitzar l’ascensor.</li>
<li>Si el foc es exterior a l’habitatge i a l’escala hi ha fum, cal no sortir de l’habitatge, s’han de cobrir les escletxes de la porta amb draps mullats, obrir la finestra i donar senyals de presència.</li>
<li>Si s’intenta sortir d’un lloc, cal temptejar les portes amb la mà per a veure si són calentes. En cas afirmatiu no s’han d’obrir.</li>
<li>No s’ha de saltar per la finestra ni despenjar-se amb llençols o flassades.</li>
<li>Quan s’evacua l’edifici no s’han d’agafar pertinences i encara menys tornar a entrar-hi a buscar-ne.</li>
<li>Si la via d’escapament passa per llocs on hi ha fum, cal ajupir-se i caminar a quatre grapes. A les zones baixes hi ha més oxigen i menys gasos tòxics. Cal retenir la respiració i tancar els ulls tant com es pugui.</li>
<li>Llevat de casos en que sigui impossible sortir, l’evacuació sempre s’ha de fer cap avall, mai cap amunt.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas de fuita d’aigua</p>
<ul>
<li>S’ha de tancar l’aixeta de pas de l’aigua. Si la fuita te lloc abans de la aixeta de pas, aleshores s’ha de tancar l’aixeta a la sortida del comptador de l’aigua. Si la fuita es localitza abans del comptador, aleshores s’ha de tancar a clau de pas general de l’edifici i comunicar l’avaria a la companyia subministradora.</li>
<li>S’ha de desconnectar la instal·lació elèctrica.</li>
<li>S’ha de recollir l’aigua el més aviat possible, evitant embassaments que podrien afectar a elements de l’edifici.</li>
<li>Procurar moure’s amb cura per a evitar caigudes.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas de fallida del subministrament elèctric</p>
<ul>
<li>S’ha de tancar l’interruptor general de la vivenda o local.</li>
<li>S’ha de comunicar l’avaria a la companyia subministradora.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas de ventades</p>
<ul>
<li>Tancar les portes i les finestres.</li>
<li>Recollir i subjectar les persianes i finestrons. S’han de recollir els tendals.</li>
<li>Enretirar dels llocs exposats al vent els testos o d’altres objectes que puguin caure a l’exterior.</li>
<li>Després de la ventada s’ha de comprovar que no hagin quedat objectes amb risc de despreniment com ara teules, antenes, etc.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas d’inundació</p>
<ul>
<li>Taponar les portes que accedeixin al carrer.</li>
<li>Desconnectar la instal·lació elèctrica.</li>
<li>No s’ha de frenar el pas de l’aigua, ja que aquesta es pot acumular i provocar danys estructurals a l’edifici.</li>
<li>Si la situació és extrema s’han d’ocupar les parts altes de l’immoble.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas de gran nevada</p>
<ul>
<li>Comprovar que les ventilacions no quedin obturades.</li>
<li>No s’ha de llençar la neu de la coberta al carrer. S’ha de desfer amb sal o potassa.</li>
<li>S’han de recollir els tendals.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas de calamarçada</p>
<ul>
<li>S’ha d’evitar que els canalons i les buneres quedin obstruïts.</li>
<li>S’han de recollir els tendals.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas de tempesta</p>
<ul>
<li>S’han de tancar portes i finestres.</li>
<li>Recollir i subjectar les persianes i finestrons.</li>
<li>S’han de recollir els tendals.</li>
<li>Quan acabi la tempesta s’ha de revisar el parallamps i comprovar les connexions.</li>
<li>S’han de desconnectar els aparells elèctrics i l’antena de la televisió.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Accions en cas de moviments en l’estructura</p>
<ul>
<li>Mantenir-se allunyat de finestres, vidres i objectes pesants que es puguin despendre.</li>
<li>Protegir-se sota dels llindes de les portes o d’algun mobles sòlid com ara taules o llits.</li>
<li>No s’han de fer servir els ascensors.</li>
</ul>

<div class="salt-pagina"></div>
<p class="titol-seccio-document">ARXIU DE DOCUMENTS</p>

<p>L'arxiu de documents ha de contenir els següents documents:</p>
<ul>
<li>Informe d’inspecció tècnica obligatòria (IITE)</li>
<li>Document acreditatiu del lliurament a l’Administració de les dades bàsiques de la IITE</li>
<li>El comunicat a l’ens local del municipi al qual pertany l’edifici en cas de situació de risc per a les persones</li>
<li>Programa de rehabilitació que adopti les mesures correctores</li>
<li>Certificats de final d’obra de totes les obres que s’executin en l’edifici</li>
<li>Certificat d’aptitud</li>
<li>Certificat d’eficiència energètica de l’edifici</li>
<li>Documents que justifiquin la realització d’operacions de reparació, manteniment i rehabilitació de caràcter obligatori, així com la identificació de les empreses o professionals que les han realitzades i les garanties que s’han donat</li>
<li>Pressupostos i contractes d’obres, manteniments i honoraris professionals</li>
<li>Certificats d’inscripció en el Registre d’instal·lacions tècniques de seguretat industrial de Catalunya de les instal·lacions comunes de l’edifici de baixa tensió, gasos combustibles, instal·lacions petrolíferes, instal·lacions tèrmiques i d’ascensors que s’hagin realitzat</li>
<li>Certificats d’inspeccions tècniques de les instal·lacions comunes sotmeses a reglamentació de seguretat industrial</li>
<li>Altra documentació que sigui rellevant per al coneixement de l’estat de l’edifici i tota la documentació de què ja es disposi sobre l’edifici</li>
</ul>
<p>El propietari de l’edifici o, en el seu cas, el president de la Comunitat de Propietaris són els responsables de mantenir al dia l’Arxiu de Documents. Cada nova incorporació estarà autentificada i signada per ells, i s’especificarà al registre, indicant el tipus de document i la data d’incorporació. La incorporació de documents que sigui d’obligació arxivar, s’ha de fer dins del mes següent a la seva obtenció.</p>
<div class="salt-pagina"></div>

<%= @titols_arxiu %>

