<h1 class="titol-document">LIBRO DEL EDIFICIO</h1>
<div class="separacio-gran"></div>
<% if @edifici.identificacio.bloc_edifici.blank?
    adreca = @edifici.identificacio.tipus_via_edifici.to_s + ' ' + @edifici.identificacio.via_edifici.to_s + ' ' + @edifici.identificacio.numero_edifici.to_s
  else
    adreca = @edifici.identificacio.tipus_via_edifici.to_s + ' ' + @edifici.identificacio.via_edifici.to_s + ' ' + @edifici.identificacio.numero_edifici.to_s + ', bloc ' + @edifici.identificacio.bloc_edifici.to_s
  end
  %>
<p class="dades-portada"><%= adreca %><br/><%= @edifici.identificacio.cp_edifici %>, <%= @edifici.identificacio.poblacio_edifici %><br/><%= @edifici.identificacio.provincia_edifici %></p>
<div class="salt-pagina"></div>

<p class="titol-seccio-document">Introducción</p>
<p>El libro del edificio de los edificios de viviendas existentes está formado por el conjunto de documentos que acrediten su estado de conservación, y contiene las instrucciones o recomendaciones de uso y de mantenimiento que permitirán alargar su vida útil y evitar su la degradación. Consta de los siguientes documentos:</p>
<ul>
<li>Las instrucciones de conservación o mantenimiento y las exigencias técnicas, ajustadas a la normativa</li>
<li>El archivo de documentos para edificios existentes</li>
<li>El registro de incidencias</li>
</ul>
<p>La obligatoriedad de la formalización del libro del edificio corresponde a la persona propietaria o la comunidad de propietarios, en el caso de edificios en régimen de propiedad horizontal, y se constituye a partir de la fecha de recepción del informe de la inspección técnica del edificio.</p>
<p>Las inscripciones de incidencias y de operaciones de mantenimiento deben hacerse dentro del plazo de un mes después de haberse producido o ejecutado.</p>
<p>El libro del edificio debe estar a disposición de todos los copropietarios del edificio.</p>
<div class="salt-pagina"></div>

<p class="titol-seccio-document">CUADERNO DE REGISTRO</p>
<ol type="a">
  <li>Datos iniciales del edificio</li>
  <ol type="1">
    <li>Datos de identificación del edificio</li>
    <li>Observaciones</li>
  </ol>
  <li>Registro de incidencias</li>
  <ol type="1">
    <li>Acta de entrega del libro del edificio al presidente de la comunidad</li>
    <li>Los cambios de titularidad de la propiedad y los cambios en los órganos de la comunidad de propietarios</li>
    <li>Las reformas, rehabilitaciones y cambios de uso</li>
    <li>Datos que modifiquen o complementen los datos iniciales del edificio</li>
    <li>Ayudas y beneficios que se otorguen al edificio</li>
    <li>Seguros contratados</li>
    <li>Registro de incidencias</li>
  </ol>
  <li>Registro de operaciones de mantenimiento y reparaciones</li>
  <ol type="1">
    <li>Operaciones de mantenimiento y de revisión reglamentariamente</li>
    <li>Operaciones de reparación hechas para subsanar vicios y defectos de la construcción y las instalaciones comunes</li>
    <li>Obras de mejora que se hagan para adaptar los edificios a las exigencias tecnológicas y de confort</li>
    <li>Actuaciones para garantizar la cohesión social, la accesibilidad, la sostenibilidad, la ecoeficiencia y la innovación</li>
  </ol>
</ol>


<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Datos iniciales del edificio</p>
<p class="titol-apartat-document">Datos de identificación del edificio</p>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Dirección:</span><br/><%= adreca %></td>
    </tr>
  </tbody>
</table>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Código postal:</span><br/><%= @edifici.identificacio.cp_edifici %></td>
      <td><span class="titol-taula">Municipio:</span><br/><%= @edifici.identificacio.poblacio_edifici %></td>
      <td><span class="titol-taula">Provincia:</span><br/><%= @edifici.identificacio.provincia_edifici %></td>
    </tr>
  </tbody>
</table>
<table class="taula-dades">
  <tbody>   
    <tr>
      <td><span class="titol-taula">Referencia catastral:</span><br/><%= @edifici.ref_cadastral %></td>
    </tr>
  </tbody>
</table>
<table class="taula-dades">
  <tbody>
    <tr>
      <td><span class="titol-taula">Año de finalización de la construcción:</span><br/><%= @edifici.identificacio.any_fi_construccio %></td>
      <td><span class="titol-taula">Fuente del año de construcción:</span><br/><%= @edifici.identificacio.origen_any_construccio %></td>
    </tr>
   </tbody>
</table>

<div class="salt-pagina"></div>
<p class="titol-taula">Fotografía de la fachada:</p>
<%= image_tag @edifici.identificacio.foto_facana.url(:original), class: 'imatge-pdf' %>
<% if @edifici.identificacio.foto_facana_2.exists? %>
  <div class="espaiador"></div>
  <%= image_tag @edifici.identificacio.foto_facana_2.url(:original), class: 'imatge-pdf' %>
<% end %>
<% if @edifici.identificacio.foto_facana_3.exists? %>
  <div class="espaiador"></div>
  <%= image_tag @edifici.identificacio.foto_facana_3.url(:original), class: 'imatge-pdf' %>
<% end %>

<div class="salt-pagina"></div>
<p class="titol-taula">Plano de emplazamiento:</p>
<%= image_tag @edifici.identificacio.planol_emplacament.url(:original) %>
<div class="salt-pagina"></div>


<% if @agents == true %>
  <p class="titol-apartat-document">Datos de los agentes de la edificación participantes en el proceso de edificación</p>
  <%= render 'agents_es' %>
  <div class="salt-pagina"></div>
<% end %>

<p class="titol-apartat-document">Datos references a la licencia y el régimen jurídico del edificio</p>

<%= render 'dades_es' %>

<div class="salt-pagina"></div>
<p class="titol-apartat-document">Datos referentes a las garantías</p>

<%= render 'garanties_es' %>



<div class="salt-pagina"></div>

<p class="titol-taula">Observaciones:</p>
<p><%= @edifici.identificacio.observacions %></p>

<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Registro de incidencias</p>
<p> El propietario del edificio o, en su defecto, el presidente de la comunidad de propietarios, debe inscribirse en este registro las siguientes incidencias:
  <ul>
    <li>El acta de entrega del libro del edificio al propietario o presidente de la comunidad de propietarios. </li>
    <li>Los cambios de titularidad de la propiedad del edificio, si éste es en régimen de propiedad vertical. Si está constituido en régimen de propiedad horizontal, los cambios en los órganos de la comunidad de propietarios. </li>
    <li>Las reformas, las rehabilitaciones y los cambios de uso de destino hechos en el edificio que afecten a su estado original. </li>
    <li>Todas aquellas que modifiquen los datos iniciales que se hayan consignado en el libro del edificio, así como las que puedan complementar la información facilitada por los promotores en el capítulo de datos iniciales. </li>
    <li>Las ayudas y beneficios que se otorguen en el edificio, con especificación de sus características. </li>
    <li>Los seguros contratados que afecten a la totalidad del edificio o las partes comunes. </li>
    <li>En cada incidencia se deberá hacer un breve enunciado del asunto tratado, la fecha y su descripción. </li>
  </ul>
</p>


<p class="subtitol-petit-seccio-document">Inscripción de incidencias</p>
<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Incidencia</th>
    <th class="cell-incidencies"></th>
    <th class="cell-incidencies"></th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-incidencies num-incidencies">Núm</td>
      <td class="cell-incidencies assumpte-incidencies">Asunto</td>
      <td class="cell-incidencies data-incidencies">Fecha</td>
    </tr>
  </tbody>
</table>
<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Descripción</th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-descripcio-incidencia"></td>
    </tr>
  </tbody>
</table>

<div class="salt-pagina"></div>

<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Incidencia</th>
    <th class="cell-incidencies"></th>
    <th class="cell-incidencies"></th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-incidencies num-incidencies">Núm</td>
      <td class="cell-incidencies assumpte-incidencies">Asunto</td>
      <td class="cell-incidencies data-incidencies">Fecha</td>
    </tr>
  </tbody>
</table>
<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Descripción</th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-descripcio-incidencia"></td>
    </tr>
  </tbody>
</table>
<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Incidencia</th>
    <th class="cell-incidencies"></th>
    <th class="cell-incidencies"></th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-incidencies num-incidencies">Núm</td>
      <td class="cell-incidencies assumpte-incidencies">Asunto</td>
      <td class="cell-incidencies data-incidencies">Fecha</td>
    </tr>
  </tbody>
</table>
<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Descripción</th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-descripcio-incidencia"></td>
    </tr>
  </tbody>
</table>
<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Incidencia</th>
    <th class="cell-incidencies"></th>
    <th class="cell-incidencies"></th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-incidencies num-incidencies">Núm</td>
      <td class="cell-incidencies assumpte-incidencies">Asunto</td>
      <td class="cell-incidencies data-incidencies">Fecha</td>
    </tr>
  </tbody>
</table>
<table class="taula-incidencies">
  <thead>
    <th class="cell-incidencies">Descripción</th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-descripcio-incidencia"></td>
    </tr>
  </tbody>
</table>

<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Registro de operaciones de mantenimiento</p>

<table class="taula-registre">
  <thead>
    <th class="cell-registre cell-principal">Descripción</th>
    <th class="cell-registre">Fecha</th>
    <th class="cell-registre">Realizado por</th>
    <th class="cell-registre">Firma</th>
  </thead>
  <tbody>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
    <tr>
      <td class="cell-registre cell-principal"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
      <td class="cell-registre"></td>
    </tr>
  </tbody>
</table>

<div class="salt-pagina"></div>

<p class="titol-seccio-document">DOCUMENTO DE ESPECIFICACIONES TÉCNICAS</p>

<p>El documento de especificaciones técnicas recoge los siguientes documentos:
<ul>
  <li>Los planos del proyecto del edificio con la incorporación de sus modificaciones aprobadas por la dirección facultativa.</li>
  <li>Esquemas de red de instalaciones y sistemas de seguridad</li>
  <li>El Manual de Uso y Mantenimiento del edificio</li>
</ul>
</p>
<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Instrucciones de uso y mantenimiento</p>
<p class="titol-apartat-document">El mantenimiento</p>

<p>Las casas, tanto en su conjunto como para cada uno de sus componentes, deben tener un uso y un mantenimiento adecuados. Es por este motivo, que sus propietarios y usuarios deben conocer sus características y las de las diferentes partes. Una casa en buen estado debe ser:
<ul>
<li>Segura. La casa nos proporciona seguridad, pero los edificios, a medida que envejecen presentan peligros: el simple accidente doméstico, el escape de gas, la descarga eléctrica o el desprendimiento de una parte de la fachada. Si tenemos la casa en buen estado eliminamos los peligros y aumentamos nuestra seguridad.</li>
<li>Durable y económica. Si la casa está en buen estado dura más, envejece más dignamente y podemos disfrutar muchos más años. Al mismo tiempo, con un mantenimiento periódico, evitamos los fuertes gastos que debemos efectuar si, de repente, hay que hacer reparaciones importantes originadas por un pequeño problema que se ha ido agravando con el tiempo. Tener la casa en buen estado nos sale a cuenta.</li>
<li>Ecológica. El aislamiento térmico y el buen funcionamiento de las instalaciones (electricidad, gas, calefacción, aire acondicionado, etc.) permiten un importante ahorro energético. Si los aparatos funcionan bien, no gastamos más energía de lo que hay y respetamos el medio ambiente. Una casa en buen estado es ecológica.</li>
<li>Confortable. Podemos disfrutar de una casa con las máximas prestaciones de todas sus partes e instalaciones. Podemos conseguir un nivel óptimo de confort con una temperatura y humedad adecuadas, un buen aislamiento de los sonidos y una iluminación y ventilación óptimas. Una casa en buen estado nos proporciona calidad de vida.</li>
<li>Agradable. Una casa en buen estado tiene mejor aspecto y hace más agradables las calles de nuestro pueblo o ciudad.</li>
</ul>
</p>

<p>Nuestros edificios son complejos. Se han construido para dar respuesta a las necesidades de la vida diaria. Cada parte tiene una misión específica y debe cumplir siempre.</p>

<p>A. La Estructura. Soporta el peso de la casa. Tiene elementos horizontales (techos), verticales (pilares o paredes maestras) y enterrados (cimientos). Los techos (el suelo que pisamos) aguantan su propio peso, el de los tabiques, los pavimentos, los muebles y las personas. Los pilares o paredes de carga aguantan los techos y llevan los pesos a los fundamentos y al terreno.</p>

<p>B. Las Fachadas. Nos protegen del calor, el frío, el viento, la lluvia y los ruidos. Proporcionan intimidad, y, al mismo tiempo, nos relacionan con el exterior mediante las ventanas y los balcones.</p>

<p>C. La Cubierta. Al igual que la fachada, protege de los agentes atmosféricos y aísla de las temperaturas extremas. Hay dos tipos de cubierta: las planas o las azoteas, y las inclinadas o tejados.</p>

<p>D. Las Paredes Interiores. Dividen la casa en diferentes espacios, donde hacemos nuestras actividades (dormir, cocinar, descansar, comer, lavar). Las paredes que sólo tienen función divisoria denominan tabiques. En cambio, las que soportan peso denominan paredes maestras.</p>

<p>E. Los Acabados. Dan calidad y confort a los espacios interiores. Habitualmente el usuario podrá introducir los cambios o variaciones que desee.</p>

<p>F. Las Instalaciones. Son el equipamiento y la maquinaria que introduce la energía dentro del edificio y la distribuye.</p>

<div class="espaiador"></div>
<%= @text_manual_manteniment %>

<div class="salt-pagina"></div>
<p class="subtitol-seccio-document">Modificaciones</p>
<p class="titol-apartat-document">Documentos que sustituyan, modifiquen o amplíen el documento de especificaciones técnicas, como resultado de incidencias producidas.</p>
<div class="salt-pagina"></div>

<p class="subtitol-seccio-document">Recomendaciones por emergencias</p>
<p class="titol-apartat-document">Acciones en caso de incendio</p>
<ul>
<li>Si encuentra fuego en una habitación, no se debe abrir la ventana, hay que cerrar la puerta y, si es posible, mojarla por fuera.</li>
<li>Se deben avisar a los ocupantes del edificio.</li>
<li>Hay que avisar a los bomberos.</li>
<li>Si hay instalación de gas se debe procurar cerrar la llave de paso. Si hay bombonas de butano o cualquier otro producto inflamable, se debe intentar alejarlos de la zona del incendio.</li>
<li>Si la situación es extrema y la evacuación difícil, se deben cerrar todas las puertas entre vosotros y el humo. Hay que tapar todas las posibles entradas de humo con ropa y almohadas, puestos en las rendijas de las puertas.</li>
<li>Mójese si tiene agua. Busque una habitación sin fuego, con ventana al exterior y, si se puede, hay abra un poco, siempre con la puerta cerrada.</li>
</ul>
<p>Evacuación en caso de incendio:</p>
<ul>
<li>Si el incendio es en un piso por encima de su, por regla general se puede proceder a la evacuación.</li>
<li>Nunca se debe utilizar el ascensor.</li>
<li>Si el fuego se exterior a la vivienda y en la escalera hay humo, hay que salir de la vivienda, se han de cubrir las rendijas de la puerta con trapos mojados, abrir la ventana y dar señales de presencia.</li>
<li>Si se intenta salir de un lugar, hay que tantear las puertas con la mano para ver si son calientes. En caso afirmativo no se abrirán.</li>
<li>No hay que saltar por la ventana ni descolgarse con sábanas o mantas.</li>
<li>Cuando se evacua el edificio no se deben coger pertenencias y menos volver a entrar a buscar.</li>
<li>Si la vía de escape pasa por lugares donde hay humo, hay que agacharse y caminar a cuatro patas. En las zonas bajas hay más oxígeno y menos gases tóxicos. Hay que retener la respiración y cerrar los ojos lo más posible.</li>
<li>Salvo casos en que sea imposible salir, la evacuación se hará siempre hacia abajo, nunca hacia arriba.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Acciones en caso de fuga de agua</p>
<ul>
<li>Se debe cerrar la llave de paso del agua. Si la fuga tiene lugar antes de la llave de paso, entonces se tiene que cerrar el grifo a la salida del contador del agua. Si la fuga se localiza antes del contador, entonces debe cerrarse a llave de paso general del edificio y comunicar la avería a la compañía suministradora.</li>
<li>Se debe desconectar la instalación eléctrica.</li>
<li>Se recogerá el agua lo antes posible, evitando embalses que podrían afectar a elementos del edificio.</li>
<li>Procurar moverse con cuidado para evitar caídas.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Acciones en caso de fallo del suministro eléctrico</p>
<ul>
<li>Se debe cerrar el interruptor general de la vivienda o local.</li>
<li>Se debe comunicar la avería a la compañía suministradora.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Acciones en caso de ráfagas de viento</p>
<ul>
<li>Cerrar las puertas y las ventanas.</li>
<li>Recoger y sujetar las persianas y ventanas. Se deben recoger los toldos.</li>
<li>Retirar los lugares expuestos al viento las macetas y otros objetos que puedan caer en el exterior.</li>
<li>Después del vendaval se debe comprobar que no hayan quedado objetos con riesgo de desprendimiento como tejas, antenas, etc.</li>
</ul>

<div class="salt-pagina"></div>
<p class="titol-apartat-document">Acciones en caso de inundación</p>
<ul>
<li>Taponar las puertas que accedan a la calle.</li>
<li>Desconectar la instalación eléctrica.</li>
<li>No se debe frenar el paso del agua, ya que ésta se puede acumular y provocar daños estructurales en el edificio.</li>
<li>Si la situación es extrema se ha de ocupar las partes altas del inmueble.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Acciones en caso de gran nevada</p>
<ul>
<li>Comprovar que les ventilacions no quedin obturades.</li>
<li>No se debe tirar la nieve de la cubierta en la calle. Hay que deshacer con sal o potasa.</li>
<li>Se deben recoger los toldos.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Acciones en caso de granizo</p>
<ul>
<li>Se debe evitar que los canelones y los sumideros queden obstruidos.</li>
<li>Se deben recoger los toldos.</li>
</ul>

<div class="espaiador"></div>
<p class="titol-apartat-document">Acciones en caso de tormenta</p>
<ul>
<li>Se deben cerrar puertas y ventanas.</li>
<li>Recoger y sujetar las persianas y contraventanas.</li>
<li>Se deben recoger los toldos.</li>
<li>Cuando acabe la tormenta se revisará el pararrayos y comprobar las conexiones.</li>
<li>Se debe desconectar los aparatos eléctricos y la antena de la televisión.</li>
</ul>

<div class="salt-pagina"></div>
<p class="titol-apartat-document">Acciones en caso de movimientos en la estructura</p>
<ul>
<li>Mantenerse alejado de ventanas, cristales y objetos pesados que se puedan desprender.</li>
<li>Protegerse debajo de los dinteles de las puertas o de algún muebles sólido como mesas o camas.</li>
<li>No se debe usar los ascensores.</li>
</ul>


<div class="salt-pagina"></div>
<p class="titol-seccio-document">ARCHIVO DE DOCUMENTOS</p>

<p>El archivo de documentos debe contener los siguientes documentos:</p>
<ul>
<li>Informe de inspección técnica obligatoria (IITE)</li>
<li>Documento acreditativo de la entrega a la Administración de los datos básicos de la IITE</li>
<li>El comunicado al ente local del municipio al que pertenece el edificio en caso de situación de riesgo para las personas</li>
<li>Programa de rehabilitación que adopte las medidas correctoras</li>
<li>Certificados de final de obra de todas las obras que se ejecuten en el edificio</li>
<li>Certificado de aptitud</li>
<li>Certificado de eficiencia energética del edificio</li>
<li>Documentos que justifiquen la realización de operaciones de reparación, mantenimiento y rehabilitación de carácter obligatorio, así como la identificación de las empresas o profesionales que las han realizado y las garantías que se han dado</li>
<li>Presupuestos y contratos de obras, mantenimientos y honorarios profesionales</li>
<li>Certificados de inscripción en el Registro de instalaciones técnicas de seguridad industrial de Cataluña de las instalaciones comunes del edificio de baja tensión, gases combustibles, instalaciones petrolíferas, instalaciones térmicas y de ascensores que se hayan realizado</li>
<li>Certificados de inspecciones técnicas de las instalaciones comunes sometidas a reglamentación de seguridad industrial</li>
<li>Otra documentación que sea relevante para el conocimiento del estado del edificio y toda la documentación de que ya se disponga sobre el edificio</li>
</ul>
<p>El propietario del edificio o, en su caso, el presidente de la Comunidad de Propietarios son los responsables de mantener al día el Archivo de Documentos. Cada nueva incorporación estará autentificada y firmada por ellos, y se especificará en el registro, indicando el tipo de documento y la fecha de incorporación. La incorporación de documentos que sea de obligación archivar, debe hacerse dentro del mes siguiente a su obtención.</p>
<div class="salt-pagina"></div>

<%= @titols_arxiu %>

<div class="salt-pagina"></div>

<h5 class="titol-signatura">Autor de las instrucciones de uso y mantenimiento del edificio y sus instalaciones</h5>
<hr class="linia-signatura">
<p>
  <% if @edifici.signatura_instruccions.count == 0 %>
    <span class="label-signatura">Nombre y apellidos:</span><br/>
    <span class="label-signatura">Titulación:</span><br/>
  <% end %>
  <% @edifici.signatura_instruccions.each do |signatura_instruccion| %>
    <span class="label-signatura">Nombre y apellidos:</span> <%= signatura_instruccion.autor_instruccions_nom %><br/>
    <span class="label-signatura">Titulación:</span> <%= signatura_instruccion.autor_instruccions_titulacio %><br/>
  <% end %>
  <span class="label-signatura">Fecha:</span> _________________ a ____ de ______________ de ________<br/>
  <span class="label-signatura">Firma:</span>
</p>
<br/>
<br/>
<br/>
<br/>

<h5 class="titol-signatura">Autor del libro del edificio</h5>
<hr class="linia-signatura">
<p>
  <% if @edifici.signatura_llibres.count == 0 %>
    <span class="label-signatura">Nombre y apellidos:</span><br/>
    <span class="label-signatura">Titulación:</span><br/>
  <% end %>
  <% @edifici.signatura_llibres.each do |signatura_llibre| %>
    <span class="label-signatura">Nombre y apellidos:</span> <%= signatura_llibre.autor_llibre_nom %><br/>
    <span class="label-signatura">Titulación:</span> <%= signatura_llibre.autor_llibre_titulacio %><br/>
  <% end %>
  <span class="label-signatura">Fecha:</span> _________________ a ____ de ______________ de ________<br/>
  <span class="label-signatura">Firma:</span>
</p>


