<%= simple_form_for([@edifici, @ascensor]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
    <div class="row">
      <div class="medium-12 columns">
        <div class="titol-sistema"><%= t('.titol_ascensors') %></div>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns">
        <div class="titol-subsistema"><%= t('.caracteristiques_generals') %></div>
        <div class="row">
          <div class="medium-12 columns">
            <%= f.input :habitatge_unifamiliar %>
            <% if @edifici.tipus_edifici == 'nou_plurifamiliar' || @edifici.tipus_edifici == 'existent_plurifamiliar' %>
              <%= f.input :edifici_comunitari %>
              <%= f.input :mes_20_plantes %>
              <%= f.input :altres %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="form-actions">
        <%= f.button :submit, t('.guardar'), :class => 'button small radius right botodreta' %>
      </div>
    </div>
  </div>
<% end %>
