<div class="projectes-background">
	<div class="row">
		<div class="medium-12 columns">
      <div class="projectes-external-container">
	      <div class="projectes-title-container">
	        <span class="projectes-title"><%= t('.titol') %></span>
	      </div>
	      <div class="projectes-form-container">
	      	<%= simple_form_for([@edifici, @info_usuari]) do |f| %>
					  <%= f.error_notification %>
					  <div class="row">
					    <div class="medium-12 columns">
					      
					        <div class="form-inputs">
					          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
					          <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
					          <%= f.input :numclient, :as => :hidden, :input_html => { :value => @numclient } %>
					          <%= f.input :escolegiat, :as => :hidden, :input_html => { :value => @escolegiat } %>
					          <div class="row">
					            <div class="medium-6 columns">
					              <%= f.input :nom, :input_html => { :value => @nom } %>
					              <%= f.input :adreca, :input_html => { :value => @adreca } %>
					              <%= f.input :provincia, :input_html => { :value => @provincia } %>
					              <%= f.input :email, :input_html => { :value => @email } %>
					            </div>
					            <div class="medium-6 columns">
					              <%= f.input :nif, :input_html => { :value => @nif } %>
					              <%= f.input :poblacio, :input_html => { :value => @poblacio } %>
					              <%= f.input :codi_postal, :input_html => { :value => @codi_postal } %>
					            </div>
					          </div>
					        </div>

					        <div class="row">
					          <div class="medium-12 columns">
					            <div class="form-actions">
					              <%= f.button :submit, t('.guardar'), :class => 'button small radius right botodreta' %>
					            </div>
					          </div>
					        </div>
					      </div>
					    </div>
					  
					<% end %>

	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<%= link_to t('.tornar_projectes'), edificis_path %>
		</div>
	</div>
</div>