<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @info_usuari.user_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @info_usuari.nom %>
</p>

<p>
  <strong>Cognoms:</strong>
  <%= @info_usuari.cognoms %>
</p>

<p>
  <strong>Adreca:</strong>
  <%= @info_usuari.adreca %>
</p>

<p>
  <strong>Codi postal:</strong>
  <%= @info_usuari.codi_postal %>
</p>

<p>
  <strong>Poblacio:</strong>
  <%= @info_usuari.poblacio %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @info_usuari.provincia %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @info_usuari.pais %>
</p>

<p>
  <strong>Telefon fix:</strong>
  <%= @info_usuari.telefon_fix %>
</p>

<p>
  <strong>Telefon mobil:</strong>
  <%= @info_usuari.telefon_mobil %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @info_usuari.fax %>
</p>

<p>
  <strong>Num premaat:</strong>
  <%= @info_usuari.num_premaat %>
</p>

<p>
  <strong>Num musaat:</strong>
  <%= @info_usuari.num_musaat %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @info_usuari.sexe %>
</p>

<p>
  <strong>Any naixement:</strong>
  <%= @info_usuari.any_naixement %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @info_usuari.nif %>
</p>

<p>
  <strong>Web:</strong>
  <%= @info_usuari.web %>
</p>

<%= link_to 'Edit', edit_info_usuari_path(@info_usuari) %> |
<%= link_to 'Back', info_usuaris_path %>
