<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @especial.edifici_id %>
</p>

<p>
  <strong>Piscina estructura obra:</strong>
  <%= @especial.piscina_estructura_obra %>
</p>

<p>
  <strong>Piscina estructura composite:</strong>
  <%= @especial.piscina_estructura_composite %>
</p>

<p>
  <strong>Piscina estructura acer:</strong>
  <%= @especial.piscina_estructura_acer %>
</p>

<p>
  <strong>Piscina vores formigo:</strong>
  <%= @especial.piscina_vores_formigo %>
</p>

<p>
  <strong>Piscina vores pedra:</strong>
  <%= @especial.piscina_vores_pedra %>
</p>

<p>
  <strong>Piscina ceramica:</strong>
  <%= @especial.piscina_ceramica %>
</p>

<p>
  <strong>Piscina porcellana:</strong>
  <%= @especial.piscina_porcellana %>
</p>

<p>
  <strong>Piscina climatitzacio:</strong>
  <%= @especial.piscina_climatitzacio %>
</p>

<p>
  <strong>Piscina iluminacio:</strong>
  <%= @especial.piscina_iluminacio %>
</p>

<p>
  <strong>Piscina purificador:</strong>
  <%= @especial.piscina_purificador %>
</p>

<%= link_to 'Edit', edit_especial_path(@especial) %> |
<%= link_to 'Back', especials_path %>
