<p id="notice"><%= notice %></p>

<p>
  <strong>No sistema evacuacio:</strong>
  <%= @sanejament.no_sistema_evacuacio %>
</p>

<p>
  <strong>Si sistema evacuacio:</strong>
  <%= @sanejament.si_sistema_evacuacio %>
</p>

<p>
  <strong>Fosa septica:</strong>
  <%= @sanejament.fosa_septica %>
</p>

<p>
  <strong>Colectors vistos:</strong>
  <%= @sanejament.colectors_vistos %>
</p>

<p>
  <strong>Bomba elevacio:</strong>
  <%= @sanejament.bomba_elevacio %>
</p>

<p>
  <strong>Separador greixos:</strong>
  <%= @sanejament.separador_greixos %>
</p>

<p>
  <strong>Baixants vistos:</strong>
  <%= @sanejament.baixants_vistos %>
</p>

<p>
  <strong>Baixants encastats:</strong>
  <%= @sanejament.baixants_encastats %>
</p>

<p>
  <strong>Baixants ceramics:</strong>
  <%= @sanejament.baixants_ceramics %>
</p>

<p>
  <strong>Baixants pvc:</strong>
  <%= @sanejament.baixants_pvc %>
</p>

<p>
  <strong>Baixants fibrociment:</strong>
  <%= @sanejament.baixants_fibrociment %>
</p>

<p>
  <strong>Baixants coure:</strong>
  <%= @sanejament.baixants_coure %>
</p>

<p>
  <strong>Baixants alumini:</strong>
  <%= @sanejament.baixants_alumini %>
</p>

<p>
  <strong>Baixants polipropile:</strong>
  <%= @sanejament.baixants_polipropile %>
</p>

<p>
  <strong>Baixants zinc:</strong>
  <%= @sanejament.baixants_zinc %>
</p>

<p>
  <strong>Colectors formigo:</strong>
  <%= @sanejament.colectors_formigo %>
</p>

<p>
  <strong>Colectors ceramic:</strong>
  <%= @sanejament.colectors_ceramic %>
</p>

<p>
  <strong>Colectors fibrociment:</strong>
  <%= @sanejament.colectors_fibrociment %>
</p>

<p>
  <strong>Colectors pvc:</strong>
  <%= @sanejament.colectors_pvc %>
</p>

<%= link_to 'Edit', edit_sanejament_path(@sanejament) %> |
<%= link_to 'Back', sanejaments_path %>
