<%= simple_form_for([@edifici, @fonamentacio], remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id, :as => :hidden, :input_html => { :value => @edifici.id } %>
    <div class="row">
      <div class="medium-4 columns">
        <div class="titol-subsistema">Sistemes de contenció</div>
        <%= f.input :mur_pedra %>
        <%= f.input :mur_fabrica_mao %>
        <%= f.input :mur_fabrica_bloc %>
        <%= f.input :mur_formigo_armat %>
        <%= f.input :mur_pantalla %>
      </div>
      <div class="medium-4 columns">
        <div class="titol-subsistema">Fonamentació superficial</div>
        <%= f.input :sabates_paredat %>
        <%= f.input :sabates_formigo %>
        <%= f.input :llosa %>
      </div>
      <div class="medium-4 columns">
        <div class="titol-subsistema">Fonamentació profunda</div>
        <%= f.input :pilons %>
        <%= f.input :pantalles %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="form-actions">
        <%= f.button :submit, t('.guardar'), :class => 'button radius' %>
      </div>
    </div>
  </div>
<% end %>
