<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @fonamentacio.edifici_id %>
</p>

<p>
  <strong>Mur pedra:</strong>
  <%= @fonamentacio.mur_pedra %>
</p>

<p>
  <strong>Mur fabrica mao:</strong>
  <%= @fonamentacio.mur_fabrica_mao %>
</p>

<p>
  <strong>Mur fabrica bloc:</strong>
  <%= @fonamentacio.mur_fabrica_bloc %>
</p>

<p>
  <strong>Mur formigo armat:</strong>
  <%= @fonamentacio.mur_formigo_armat %>
</p>

<p>
  <strong>Mur pantalla:</strong>
  <%= @fonamentacio.mur_pantalla %>
</p>

<p>
  <strong>Sabates paredat:</strong>
  <%= @fonamentacio.sabates_paredat %>
</p>

<p>
  <strong>Sabates formigo:</strong>
  <%= @fonamentacio.sabates_formigo %>
</p>

<p>
  <strong>Llosa:</strong>
  <%= @fonamentacio.llosa %>
</p>

<p>
  <strong>Pilons:</strong>
  <%= @fonamentacio.pilons %>
</p>

<p>
  <strong>Pantalles:</strong>
  <%= @fonamentacio.pantalles %>
</p>

<%= link_to 'Edit', edit_fonamentacio_path(@fonamentacio) %> |
<%= link_to 'Back', fonamentacions_path %>
