<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @constructor.edifici_id %>
</p>

<p>
  <strong>Nom constructor:</strong>
  <%= @constructor.nom_constructor %>
</p>

<p>
  <strong>Nif constructor:</strong>
  <%= @constructor.nif_constructor %>
</p>

<p>
  <strong>Tipus via constructor:</strong>
  <%= @constructor.tipus_via_constructor %>
</p>

<p>
  <strong>Via constructor:</strong>
  <%= @constructor.via_constructor %>
</p>

<p>
  <strong>Numero constructor:</strong>
  <%= @constructor.numero_constructor %>
</p>

<p>
  <strong>Bloc constructor:</strong>
  <%= @constructor.bloc_constructor %>
</p>

<p>
  <strong>Escala constructor:</strong>
  <%= @constructor.escala_constructor %>
</p>

<p>
  <strong>Pis constructor:</strong>
  <%= @constructor.pis_constructor %>
</p>

<p>
  <strong>Cp constructor:</strong>
  <%= @constructor.cp_constructor %>
</p>

<p>
  <strong>Poblacio constructor:</strong>
  <%= @constructor.poblacio_constructor %>
</p>

<p>
  <strong>Provincia constructor:</strong>
  <%= @constructor.provincia_constructor %>
</p>

<p>
  <strong>Pais constructor:</strong>
  <%= @constructor.pais_constructor %>
</p>

<%= link_to 'Edit', edit_constructor_path(@constructor) %> |
<%= link_to 'Back', constructors_path %>
