<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.edifici_id %>
</p>

<p>
  <strong>Dades:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.dades %>
</p>

<p>
  <strong>Planol emplacament:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.planol_emplacament %>
</p>

<p>
  <strong>Foto facana:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.foto_facana %>
</p>

<p>
  <strong>Promotor:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.promotor %>
</p>

<p>
  <strong>Projectista:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.projectista %>
</p>

<p>
  <strong>Constructor:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.constructor %>
</p>

<p>
  <strong>Director:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.director %>
</p>

<p>
  <strong>Director execucio:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.director_execucio %>
</p>

<p>
  <strong>Laboratori:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.laboratori %>
</p>

<p>
  <strong>Entitat control:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.entitat_control %>
</p>

<p>
  <strong>Subministrador:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.subministrador %>
</p>

<p>
  <strong>Industrial:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.industrial %>
</p>

<p>
  <strong>Llicencia:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.llicencia %>
</p>

<p>
  <strong>Declaracio obra nova:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.declaracio_obra_nova %>
</p>

<p>
  <strong>Regim propietat:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.regim_propietat %>
</p>

<p>
  <strong>Carregues:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.carregues %>
</p>

<p>
  <strong>Entitats juridiques:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.entitats_juridiques %>
</p>

<p>
  <strong>Acta lliurament:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.acta_lliurament %>
</p>

<p>
  <strong>Canvis titularitat:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.canvis_titularitat %>
</p>

<p>
  <strong>Reformes:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.reformes %>
</p>

<p>
  <strong>Canvis dades inicials:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.canvis_dades_inicials %>
</p>

<p>
  <strong>Ajuts:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.ajuts %>
</p>

<p>
  <strong>Assegurances:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.assegurances %>
</p>

<p>
  <strong>Enunciats incidencies:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.enunciats_incidencies %>
</p>

<p>
  <strong>Registre operacions manteniment:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.registre_operacions_manteniment %>
</p>

<p>
  <strong>Registre operacions reparacio:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.registre_operacions_reparacio %>
</p>

<p>
  <strong>Registre operacions millora:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.registre_operacions_millora %>
</p>

<p>
  <strong>Registre actuacions arquitectoniques:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.registre_actuacions_arquitectoniques %>
</p>

<p>
  <strong>Planols:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.planols %>
</p>

<p>
  <strong>Esquemes instalacions:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.esquemes_instalacions %>
</p>

<p>
  <strong>Descripcio pes:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.descripcio_pes %>
</p>

<p>
  <strong>Instruccions us manteniment:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.instruccions_us_manteniment %>
</p>

<p>
  <strong>Documents substitucio:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.documents_substitucio %>
</p>

<p>
  <strong>Recomanacions emergencies:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.recomanacions_emergencies %>
</p>

<p>
  <strong>Planols habitatge:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.planols_habitatge %>
</p>

<p>
  <strong>Planols elements privatius:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.planols_elements_privatius %>
</p>

<p>
  <strong>Instruccions us manteniment habitatge:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.instruccions_us_manteniment_habitatge %>
</p>

<p>
  <strong>Garanties manuals equips:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.garanties_manuals_equips %>
</p>

<p>
  <strong>Llicencies preceptives:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.llicencies_preceptives %>
</p>

<p>
  <strong>Certificat final obra:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.certificat_final_obra %>
</p>

<p>
  <strong>Acta recepcio obra:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.acta_recepcio_obra %>
</p>

<p>
  <strong>Escriptura publica:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.escriptura_publica %>
</p>

<p>
  <strong>Documents garantia:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.documents_garantia %>
</p>

<p>
  <strong>Documents garantia parts comunes:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.documents_garantia_parts_comunes %>
</p>

<p>
  <strong>Certificacio energetica:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.certificacio_energetica %>
</p>

<p>
  <strong>Polissa assegurances:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.polissa_assegurances %>
</p>

<p>
  <strong>Escriptura propietat horitzontal:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.escriptura_propietat_horitzontal %>
</p>

<p>
  <strong>Estatus comunitat:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.estatus_comunitat %>
</p>

<p>
  <strong>Cedules regims juridics:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.cedules_regims_juridics %>
</p>

<p>
  <strong>Carregues reals:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.carregues_reals %>
</p>

<p>
  <strong>Documents complementaris:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.documents_complementaris %>
</p>

<p>
  <strong>Documents acreditatius ajuts:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.documents_acreditatius_ajuts %>
</p>

<p>
  <strong>Documents justificacio operacions:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.documents_justificacio_operacions %>
</p>

<p>
  <strong>Certificat final obra instalacions:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.certificat_final_obra_instalacions %>
</p>

<p>
  <strong>Declaracions ce ascensors:</strong>
  <%= @checklist_edifici_nou_plurifamiliar.declaracions_ce_ascensors %>
</p>

<%= link_to 'Edit', edit_checklist_edifici_nou_plurifamiliar_path(@checklist_edifici_nou_plurifamiliar) %> |
<%= link_to 'Back', checklist_edifici_nou_plurifamiliars_path %>
