<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @llicencia.edifici_id %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @llicencia.classe %>
</p>

<p>
  <strong>Data llicencia:</strong>
  <%= @llicencia.data_llicencia %>
</p>

<%= link_to 'Edit', edit_llicencia_path(@llicencia) %> |
<%= link_to 'Back', llicencies_path %>
