<div id="modal-llicencia" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.llicencia') %></h3>
  <div id="formulari-llicencia" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-declaracio" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.declaracio') %></h3>
  <div id="formulari-declaracio" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-regim-propietat" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.regim_propietat') %></h3>
  <div id="formulari-regim-propietat" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-regim-especial" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.regim_especial') %></h3>
  <div id="formulari-regim-especial" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-carrega" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.carrega') %></h3>
  <div id="formulari-carrega" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-entitat" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.entitat') %></h3>
  <div id="formulari-entitat" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-garantia-promotor" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.garantia_promotor') %></h3>
  <div id="formulari-garantia-promotor" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-garantia-instalacio" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.garantia_instalacio') %></h3>
  <div id="formulari-garantia-instalacio" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-garantia-constructor" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.garantia_constructor') %></h3>
  <div id="formulari-garantia-constructor" class="formulari-dades">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>



<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_dades') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="seccio-dades-container">
				<div class="row">
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_llicencia') %>
							</div>
							<div id="llicencies">
								<%= render  :partial => '/llicencies/llistat_llicencies' %>
							</div>
							<div class="dades-footer">
								<div class="dades-footer-link right">
									<%= link_to (new_edifici_llicencia_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_llicencia') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_declaracio') %>
							</div>
							<div id="declaracions">
								<%= render  :partial => '/declaracions/llistat_declaracions' %>
							</div>
							<div id="footer-declaracions">
								<% if @declaracions.count == 0 %>
									<div class="dades-footer">
										<div class="dades-footer-link right">
											<%= link_to (new_edifici_declaracio_path), remote: true do %>
												<span class="suma">+</span> <%= t('.afegir_declaracio') %>
											<% end %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_regim_propietat') %>
							</div>
							<div id="regim-propietats">
								<%= render  :partial => '/regim_propietats/llistat_regim_propietats' %>
							</div>
							<div id="footer-regim-propietats">
								<% if @regim_propietats.count == 0 %>
									<div class="dades-footer">
										<div class="dades-footer-link right">
											<%= link_to (new_edifici_regim_propietat_path), remote: true do %>
												<span class="suma">+</span> <%= t('.afegir_regim_propietat') %>
											<% end %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_regim_especial') %>
							</div>
							<div id="regim-especials">
								<%= render  :partial => '/regim_especials/llistat_regim_especials' %>
							</div>
							<div class="dades-footer">
								<div class="dades-footer-link right">
									<%= link_to (new_edifici_regim_especial_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_regim_especial') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_carrega') %>
							</div>
							<div id="carregues">
								<%= render  :partial => '/carregues/llistat_carregues' %>
							</div>
							<div class="dades-footer">
								<div class="dades-footer-link right">
									<%= link_to (new_edifici_carrega_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_carrega') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_entitat') %>
							</div>
							<div id="entitats">
								<%= render  :partial => '/entitats/llistat_entitats' %>
							</div>
							<div class="dades-footer">
								<div class="dades-footer-link right">
									<%= link_to (new_edifici_entitat_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_entitat') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_garantia_promotor') %>
							</div>
							<div id="garantia-promotors">
								<%= render  :partial => '/garantia_promotors/llistat_garantia_promotors' %>
							</div>
							<div class="dades-footer">
								<div class="dades-footer-link right">
									<%= link_to (new_edifici_garantia_promotor_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_garantia_promotor') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_garantia_instalacio') %>
							</div>
							<div id="garantia-instalacions">
								<%= render  :partial => '/garantia_instalacions/llistat_garantia_instalacions' %>
							</div>
							<div class="dades-footer">
								<div class="dades-footer-link right">
									<%= link_to (new_edifici_garantia_instalacio_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_garantia_instalacio') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns end">
						<div class="dades-container">
							<div class="dades-title">
								<%= t('.titol_garantia_constructor') %>
							</div>
							<div id="garantia-constructors">
								<%= render  :partial => '/garantia_constructors/llistat_garantia_constructors' %>
							</div>
							<div class="dades-footer">
								<div class="dades-footer-link right">
									<%= link_to (new_edifici_garantia_constructor_path), remote: true do %>
										<span class="suma">+</span> <%= t('.afegir_garantia_constructor') %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>