<p id="notice"><%= notice %></p>

<h1>Listing Entitat Controls</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Nom entitat control</th>
      <th>Nif entitat control</th>
      <th>Tipus via entitat control</th>
      <th>Via entitat control</th>
      <th>Numero entitat control</th>
      <th>Bloc entitat control</th>
      <th>Escala entitat control</th>
      <th>Pis entitat control</th>
      <th>Cp entitat control</th>
      <th>Poblacio entitat control</th>
      <th>Provincia entitat control</th>
      <th>Pais entitat control</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entitat_controls.each do |entitat_control| %>
      <tr>
        <td><%= entitat_control.edifici_id %></td>
        <td><%= entitat_control.nom_entitat_control %></td>
        <td><%= entitat_control.nif_entitat_control %></td>
        <td><%= entitat_control.tipus_via_entitat_control %></td>
        <td><%= entitat_control.via_entitat_control %></td>
        <td><%= entitat_control.numero_entitat_control %></td>
        <td><%= entitat_control.bloc_entitat_control %></td>
        <td><%= entitat_control.escala_entitat_control %></td>
        <td><%= entitat_control.pis_entitat_control %></td>
        <td><%= entitat_control.cp_entitat_control %></td>
        <td><%= entitat_control.poblacio_entitat_control %></td>
        <td><%= entitat_control.provincia_entitat_control %></td>
        <td><%= entitat_control.pais_entitat_control %></td>
        <td><%= link_to 'Show', entitat_control %></td>
        <td><%= link_to 'Edit', edit_entitat_control_path(entitat_control) %></td>
        <td><%= link_to 'Destroy', entitat_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entitat control', new_entitat_control_path %>
