<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @climatitzacio.edifici_id %>
</p>

<p>
  <strong>Escalfador pn menor 24:</strong>
  <%= @climatitzacio.escalfador_pn_menor_24 %>
</p>

<p>
  <strong>Escalfador pn 24 70:</strong>
  <%= @climatitzacio.escalfador_pn_24_70 %>
</p>

<p>
  <strong>Escalfador pn major 70:</strong>
  <%= @climatitzacio.escalfador_pn_major_70 %>
</p>

<p>
  <strong>Caldera biomassa:</strong>
  <%= @climatitzacio.caldera_biomassa %>
</p>

<p>
  <strong>Caldera solar termica:</strong>
  <%= @climatitzacio.caldera_solar_termica %>
</p>

<p>
  <strong>Altres pn menor 70:</strong>
  <%= @climatitzacio.altres_pn_menor_70 %>
</p>

<p>
  <strong>Altres pn major 70:</strong>
  <%= @climatitzacio.altres_pn_major_70 %>
</p>

<p>
  <strong>Clima pn menor 12 autonoms:</strong>
  <%= @climatitzacio.clima_pn_menor_12_autonoms %>
</p>

<p>
  <strong>Clima pn menor 12 torres:</strong>
  <%= @climatitzacio.clima_pn_menor_12_torres %>
</p>

<p>
  <strong>Clima pn menor 12 recuperador:</strong>
  <%= @climatitzacio.clima_pn_menor_12_recuperador %>
</p>

<p>
  <strong>Clima pn 12 70 autonoms:</strong>
  <%= @climatitzacio.clima_pn_12_70_autonoms %>
</p>

<p>
  <strong>Clima pn 12 70 torres:</strong>
  <%= @climatitzacio.clima_pn_12_70_torres %>
</p>

<p>
  <strong>Clima pn 12 70 recuperador:</strong>
  <%= @climatitzacio.clima_pn_12_70_recuperador %>
</p>

<p>
  <strong>Clima pn major 70 autonoms:</strong>
  <%= @climatitzacio.clima_pn_major_70_autonoms %>
</p>

<p>
  <strong>Clima pn major 70 torres:</strong>
  <%= @climatitzacio.clima_pn_major_70_torres %>
</p>

<p>
  <strong>Clima pn major 70 recuperador:</strong>
  <%= @climatitzacio.clima_pn_major_70_recuperador %>
</p>

<%= link_to 'Edit', edit_climatitzacio_path(@climatitzacio) %> |
<%= link_to 'Back', climatitzacions_path %>
