<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @dades_edifici.edifici_id %>
</p>

<p>
  <strong>Tipus via edifici:</strong>
  <%= @dades_edifici.tipus_via_edifici %>
</p>

<p>
  <strong>Via edifici:</strong>
  <%= @dades_edifici.via_edifici %>
</p>

<p>
  <strong>Numero edifici:</strong>
  <%= @dades_edifici.numero_edifici %>
</p>

<p>
  <strong>Bloc edifici:</strong>
  <%= @dades_edifici.bloc_edifici %>
</p>

<p>
  <strong>Escala edifici:</strong>
  <%= @dades_edifici.escala_edifici %>
</p>

<p>
  <strong>Cp edifici:</strong>
  <%= @dades_edifici.cp_edifici %>
</p>

<p>
  <strong>Poblacio edifici:</strong>
  <%= @dades_edifici.poblacio_edifici %>
</p>

<p>
  <strong>Provincia edifici:</strong>
  <%= @dades_edifici.provincia_edifici %>
</p>

<p>
  <strong>Ref cadastral:</strong>
  <%= @dades_edifici.ref_cadastral %>
</p>

<p>
  <strong>Us edifici:</strong>
  <%= @dades_edifici.us_edifici %>
</p>

<p>
  <strong>Any inici construccio:</strong>
  <%= @dades_edifici.any_inici_construccio %>
</p>

<p>
  <strong>Any fi construccio:</strong>
  <%= @dades_edifici.any_fi_construccio %>
</p>

<%= link_to 'Edit', edit_dades_edifici_path(@dades_edifici) %> |
<%= link_to 'Back', dades_edificis_path %>
