<p id="notice"><%= notice %></p>

<h1>Listing Signatura Llibres</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Autor llibre nom</th>
      <th>Autor llibre titulacio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signatura_llibres.each do |signatura_llibre| %>
      <tr>
        <td><%= signatura_llibre.edifici_id %></td>
        <td><%= signatura_llibre.autor_llibre_nom %></td>
        <td><%= signatura_llibre.autor_llibre_titulacio %></td>
        <td><%= link_to 'Show', signatura_llibre %></td>
        <td><%= link_to 'Edit', edit_signatura_llibre_path(signatura_llibre) %></td>
        <td><%= link_to 'Destroy', signatura_llibre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signatura llibre', new_signatura_llibre_path %>
