<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= t('.titol') %></title>

  
  <style type="text/css">
    .full {width:100% !important;}
    @media only screen and (max-width: 480px) {
      .flexible {
        width:100% !important;
        margin-left:0px !important;
        margin-right:0px !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }
      .logo {
        padding-left: 12% !important;
        width: 150px !important;
        height: 33px !important;
      }
      .footer {
        padding-left: 7% !important;
        padding-right: 7% !important;
      }
      h1 {
        font-size:21px !important;
      }
      h2 {
        font-size:17px !important;
      }
      h3 {
        font-size:17px !important;
      }
      h4 {
        font-size:14px !important;
      }
      p {
        font-size:14px !important;
      }
      .contact-info p {
        font-size:12px !important;
      }
    }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background: #edeff0;width:100% !important;-webkit-text-size-adjust:none;margin:0;padding:0;">
  <center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background:#edeff0;font-family:Helvetica,sans-serif;height:100% !important;margin:0;padding:0;width:100% !important;font-size:14px;color:#9ba6b0;">
      <tr>
        <td align="center" style="vertical-align:top;padding-bottom:15px;border-collapse:collapse;">
          <!-- // BEGIN CONTAINER -->
          <table class="flexible" border="0" cellpadding="0" cellspacing="0" style="width:90%;max-width:600px;margin-right:5%;margin-left:5%;display:block;">
            <tr>
              <td align="center" style="vertical-align:top;border-collapse:collapse;">
                <!-- // BEGIN PREHEADER -->
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <td style="vertical-align:center">
                    	<h1 style="color:#333333"><%= t('.titol') %></h1>
                    </td>
                    <td align="left" width="192" style="width:192px;vertical-align:top;padding-top:21px;padding-bottom:21px;border-collapse:collapse;">
                      <a href="http://llibreedififi.apabcn.cat"><img class="logo" width="200" height="200" style="width:200;height:200;border:0;line-height:100%;outline:none;text-decoration:none;" src="https://s3-eu-west-1.amazonaws.com/llibreedifici/maintenance/logo_llibre_edifici.png"></a>
                    </td>
                  </tr>
                </table>
                <!-- END PREHEADER \\ -->
              </td>
            </tr>

            <tr>
    <td align="center" style="vertical-align:top;border-collapse:collapse;">
        <!-- // BEGIN HEADER -->
        <table class="flexible" border="0" cellpadding="0" cellspacing="0" style="background-color:#FFF;border-top-left-radius:5px;border-top-right-radius: 5px;">
            <tr>
                <td align="center" style="vertical-align:top;border-collapse:collapse;padding-top:3%;padding-right:7%;padding-left:7%;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="vertical-align:top;font-size:18px;font-weight:bold;line-height:100%;padding-bottom:25px;text-align:left;border-collapse:collapse;">
                                <h1 style="font-family:Helvetica,sans-serif;color:#384047;display:block;font-size:24px;font-weight:bold;line-height:130%;letter-spacing:normal;margin-right:0;margin-top:15px;margin-bottom:15px;margin-left:0;text-align:left;">
                                    <%= t('.salutacio') %>
                                </h1>
                                <h2 style="font-family:Helvetica,sans-serif;color:#8d9aa5;display:block;font-size:18px;font-weight:normal;line-height:150%;letter-spacing:normal;margin-right:0;margin-top:15px;margin-bottom:10px;margin-left:0;text-align:left;">
                                    <%= t('.text1') %> <a style="font-family:Helvetica,sans-serif;font-weight:bold;color:#657380;text-decoration:none;" href="http://llibreedifici.apabcn.cat"><%= t('.titol') %></a>. <%= t('.text2') %>
                                </h2> 
                                <h2 style="font-family:Helvetica,sans-serif;color:#8d9aa5;display:block;font-size:18px;font-weight:normal;line-height:150%;letter-spacing:normal;margin-right:0;margin-top:15px;margin-bottom:10px;margin-left:0;text-align:left;">
                                    <%= t('.text3') %> <%= link_to 'visita aquest enllaç', edit_password_url(@resource, :reset_password_token => @token) %>.
                                </h2> 
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- END HEADER \\ -->
    </td>
</tr>
<tr>
    <td align="center" style="vertical-align:top;">
        <!-- // BEGIN BODY -->
        <table class="flexible" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;background-color:#FFF;border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
            <!-- GENERIC TEXT BLOCK -->
            <tr>
                <td align="center" style="vertical-align:top;border-collapse:collapse;padding-left:7%;padding-right:7%;padding-bottom:3%;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="vertical-align:top;color:#8d9aa5;font-size:14px;line-height:150%;text-align:left;border-top: 1px solid #e2e5e8;padding-top:20px;padding-bottom:10px;border-collapse:collapse;">
                                <h4 style="font-family:Helvetica,sans-serif;color:#384047;display:block;font-size:16px;font-weight:bold;line-height:130%;letter-spacing:normal;margin-right:0;margin-left:0;margin-top:15px;margin-bottom:15px;text-align:left;">
                                    <%= t('.problemes') %>
                                </h4>

                                <p style="font-family:Helvetica,sans-serif;line-height:160%;margin-top:13px;margin-bottom:15px;"><%= t('.text_problemes') %> </p>

                                <pre style="font-family:Helvetica,sans-serif;color:#8d9aa5;padding-top:15px;padding-right:20px;padding-bottom:13px;padding-left:20px;background:#f3f5f6;font-size:14px;white-space:normal;line-height:160%;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
                                  <%= edit_password_url(@resource, :reset_password_token => @token) %>
                                </pre>

                                <h4 style="font-family:Helvetica,sans-serif;color:#384047;display:block;font-size:16px;font-weight:bold;line-height:130%;letter-spacing:normal;margin-right:0;margin-left:0;margin-top:35px;margin-bottom:15px;text-align:left;">
                                    <%= t('.preguntes') %>
                                </h4>

                                <p style="font-family:Helvetica,sans-serif;line-height:160%;margin-top:15px;margin-bottom:15px;"><%= t('.text_preguntes') %> <a style="font-family:Helvetica,sans-serif;font-weight:bold;color:#657380;text-decoration:none;" href="mailto:llibreedifici@apabcn.cat">llibreedifici@apabcn.cat</a>.</p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- END BODY \\ -->
    </td>
</tr>


            <tr>
              <td align="left" style="vertical-align:top;border-collapse:collapse;">
                <!-- // BEGIN FOOTER -->
                <table class="footer" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <td class="contact-info" style="text-align:center;vertical-align:top;padding-top:25px;border-collapse:collapse;">
                      <p style="font-family:Helvetica,sans-serif;line-height:160%;font-family:Helvetica,sans-serif;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0;">
                      &copy; Col·legi d'Aparelladors, Arquitectes Tècnics i Enginyers d'Edificació de Barcelona
                      </p>
                      <p style="font-family:Helvetica,sans-serif;line-height:160%;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0;">
                      <a href="mailto:llibreedifici@apabcn.cat" style="font-weight:bold;text-decoration:none;color:#9ba6b0;">llibreedifici@apabcn.cat</a>
                      </p>
                    </td>
                  </tr>
                
                <!-- END FOOTER \\ -->
              </td>
            </tr>
          </table>
          <!-- END CONTAINER \\ -->
        </td>
      </tr>
    </table>
  </center>

</body>
</html>