<p id="notice"><%= notice %></p>

<h1>Listing Execucio Directors</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Nom director execucio</th>
      <th>Titulacio director execucio</th>
      <th>Rao social director execucio</th>
      <th>Nif director execucio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @execucio_directors.each do |execucio_director| %>
      <tr>
        <td><%= execucio_director.edifici_id %></td>
        <td><%= execucio_director.nom_director_execucio %></td>
        <td><%= execucio_director.titulacio_director_execucio %></td>
        <td><%= execucio_director.rao_social_director_execucio %></td>
        <td><%= execucio_director.nif_director_execucio %></td>
        <td><%= link_to 'Show', execucio_director %></td>
        <td><%= link_to 'Edit', edit_execucio_director_path(execucio_director) %></td>
        <td><%= link_to 'Destroy', execucio_director, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Execucio director', new_execucio_director_path %>
