<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @execucio_director.edifici_id %>
</p>

<p>
  <strong>Nom director execucio:</strong>
  <%= @execucio_director.nom_director_execucio %>
</p>

<p>
  <strong>Titulacio director execucio:</strong>
  <%= @execucio_director.titulacio_director_execucio %>
</p>

<p>
  <strong>Rao social director execucio:</strong>
  <%= @execucio_director.rao_social_director_execucio %>
</p>

<p>
  <strong>Nif director execucio:</strong>
  <%= @execucio_director.nif_director_execucio %>
</p>

<%= link_to 'Edit', edit_execucio_director_path(@execucio_director) %> |
<%= link_to 'Back', execucio_directors_path %>
