<%= simple_form_for [@edifici, @identificacio], :html => { :multipart => true } do |f| %>

  <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="medium-2 columns">
          <%= f.input :tipus_via_edifici, collection: ['Avinguda', 'Carrer', 'Carretera', 'Passeig', 'Passatge', 'Plaça', 'Rambla', 'Ronda'] %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :via_edifici %>
        </div>
        <div class="medium-2 columns">
          <%= f.input :numero_edifici %>
        </div>
        <div class="medium-2 columns">
          <%= f.input :bloc_edifici %>
        </div>
      </div>

      <div class="row">
        <div class="medium-2 columns">
          <%= f.input :cp_edifici %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :poblacio_edifici %>
        </div>
        <div class="medium-4 columns">
          <%= f.input :provincia_edifici %>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <%= f.input :ref_cadastral %>
        </div>
        <div class="medium-6 columns">
          <% if (@edifici.tipus_edifici == 'nou_plurifamiliar' || @edifici.tipus_edifici == 'nou_unifamiliar') %>
            <div class="row">
              <div class="medium-6 columns">
                <%= f.input :any_inici_construccio %>
              </div>
              <div class="medium-6 columns end">
                <%= f.input :any_fi_construccio %>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="medium-6 columns">
                <%= f.input :any_fi_construccio %>
              </div>
              <div class="medium-6 columns end">
                <%= f.input :origen_any_construccio, collection: ['Cadastre', 'Arxiu administratiu', 'Documentació propietat'] %>
              </div>
            </div>
          <% end %>
        </div>
      </div> 

      <div class="row">
        <div class="medium-12 columns">
          <%= f.input :observacions %>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <%= f.input :foto_facana, as: :file %>
          <%= image_tag @edifici.identificacio.foto_facana.url(:medium) %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :planol_emplacament, as: :file %>
          <%= image_tag @edifici.identificacio.planol_emplacament.url(:medium) %>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="medium-6 columns">
          <%= f.input :nom_empresa %>
          <%= f.input :adreca_empresa %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :logo_empresa, as: :file %>
          <%= image_tag @edifici.identificacio.logo_empresa.url(:thumb) %>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="medium-12 columns">
        <div class="form-actions right">
          <%= f.button :submit, t('.guardar'), :class => 'button small radius right botodreta' %>
        </div>
      </div>
    </div>


<% end %>
