<% 
if I18n.locale == :es
  tipus_via = ['Avenida', 'Calle', 'Carretera', 'Paseo', 'Pasaje', 'Plaza', 'Rambla', 'Ronda']
  origen = ['Cadastro', 'Archivo administrativo', 'Documentación propiedad']
else
  tipus_via = ['Avinguda', 'Carrer', 'Carretera', 'Passeig', 'Passatge', 'Plaça', 'Rambla', 'Ronda']
  origen = ['Cadastre', 'Arxiu administratiu', 'Documentació propietat']
end 
%>

<%= simple_form_for [@edifici, @identificacio], :html => { :multipart => true } do |f| %>

  <%= f.error_notification %>

    <div class="form-inputs">
      <div class="identificacio-title">
        <span class="title"><%= t('.titol_dades') %></span>
      </div>

      <div class="row">
        <div class="medium-2 columns">
          <%= f.input :tipus_via_edifici, collection: tipus_via %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :via_edifici %>
        </div>
        <div class="medium-2 columns">
          <%= f.input :numero_edifici %>
        </div>
        <div class="medium-2 columns">
          <%= f.input :bloc_edifici %>
        </div>
      </div>

      <div class="row">
        <div class="medium-2 columns">
          <%= f.input :cp_edifici %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :poblacio_edifici %>
        </div>
        <div class="medium-4 columns">
          <%= f.input :provincia_edifici %>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          Referència cadastral: <br/>
          <%= @edifici.ref_cadastral %>
        </div>
        <div class="medium-6 columns">
          <% if (@edifici.tipus_edifici == 'nou_plurifamiliar' || @edifici.tipus_edifici == 'nou_unifamiliar' || @edifici.tipus_edifici == 'nou_terciari') %>
            <div class="row">
              <div class="medium-6 columns">
                <%= f.input :any_inici_construccio %>
              </div>
              <div class="medium-6 columns end">
                <%= f.input :any_fi_construccio %>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="medium-6 columns">
                <%= f.input :any_fi_construccio %>
              </div>
              <div class="medium-6 columns end">
                <%= f.input :origen_any_construccio, collection: origen %>
              </div>
            </div>
          <% end %>
        </div>
      </div> 

      <div class="row">
        <div class="medium-12 columns">
          <%= f.input :observacions %>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <%= f.input :foto_facana, as: :file %>
          <%= image_tag @edifici.identificacio.foto_facana.url(:medium) %>
          <%= f.input :foto_facana_2, as: :file %>
          <%= image_tag @edifici.identificacio.foto_facana_2.url(:medium) %>
          <%= f.input :foto_facana_3, as: :file %>
          <%= image_tag @edifici.identificacio.foto_facana_3.url(:medium) %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :planol_emplacament, as: :file %>
          <%= image_tag @edifici.identificacio.planol_emplacament.url(:medium) %>
        </div>
      </div>

      <hr/>

      <div class="identificacio-title">
        <span class="title"><%= t('.titol_empresa') %></span>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <%= f.input :nom_empresa %>
          
        </div>
        <div class="medium-6 columns">
          <%= f.input :adreca_empresa %>
        </div>
      </div>

      <hr/>

      <% if @edifici.tipus_edifici == 'nou_plurifamiliar' %>

        <div class="identificacio-title">
          <span class="title"><%= t('.titol_dates_construccio') %></span>
        </div>

        <div class="identificacio-subtitle">
          <span class="title"><%= t('.llicencia_municipal') %></span>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <%= f.input :data_llicencia_municipal %>
          </div>
          <div class="medium-6 columns">
            <%= f.input :num_llicencia_municipal %>
          </div>
        </div>

        <div class="identificacio-subtitle">
          <span class="title"><%= t('.llicencia_primera_ocupacio') %></span>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <%= f.input :data_llicencia_primera_ocupacio %>
          </div>
          <div class="medium-6 columns">
            <%= f.input :num_llicencia_primera_ocupacio %>
          </div>
        </div>

        <div class="identificacio-subtitle">
          <span class="title"><%= t('.llicencia_activitats_parquing') %></span>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <%= f.input :data_llicencia_activitats_parquing %>
          </div>
          <div class="medium-6 columns">
            <%= f.input :num_llicencia_activitats_parquing %>
          </div>
        </div>

        <div class="identificacio-subtitle">
          <span class="title"><%= t('.qualificacio_provisional_vpo') %></span>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <%= f.input :data_qualificacio_provisional_vpo %>
          </div>
          <div class="medium-6 columns">
            <%= f.input :num_qualificacio_provisional_vpo %>
          </div>
        </div>

        <div class="identificacio-subtitle">
          <span class="title"><%= t('.qualificacio_definitiva_vpo') %></span>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <%= f.input :data_qualificacio_definitiva_vpo %>
          </div>
          <div class="medium-6 columns">
            <%= f.input :num_qualificacio_definitiva_vpo %>
          </div>
        </div>

        <div class="identificacio-subtitle">
          <span class="title"><%= t('.escriptures') %></span>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <%= f.input :data_escriptures %>
          </div>
          <div class="medium-6 columns">
            <%= f.input :num_protocol_escriptures %>
          </div>
        </div>

        <div class="identificacio-subtitle">
          <span class="title"><%= t('.declaracio_obra_nova') %></span>
        </div>

        <div class="row">
          <div class="medium-2 columns">
            <%= f.input :data_declaracio_obra_nova %>
          </div>
          <div class="medium-2 columns">
            <%= f.input :tom_inscripcio_registral %>
          </div>
          <div class="medium-2 columns">
            <%= f.input :foli_inscripcio_registral %>
          </div>
          <div class="medium-2 columns">
            <%= f.input :llibre_inscripcio_registral %>
          </div>
          <div class="medium-2 columns">
            <%= f.input :finca_inscripcio_registral %>
          </div>
          <div class="medium-2 columns">
            <%= f.input :registre_de_inscripcio_registral %>
          </div>
        </div>

      <% end %>

    </div>



    <div class="row">
      <div class="medium-12 columns">
        <div class="form-actions right">
          <%= f.button :submit, t('.guardar'), :class => 'button small radius right botodreta' %>
        </div>
      </div>
    </div>


<% end %>
