<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @identificacio.edifici_id %>
</p>

<p>
  <strong>Tipus via edifici:</strong>
  <%= @identificacio.tipus_via_edifici %>
</p>

<p>
  <strong>Via edifici:</strong>
  <%= @identificacio.via_edifici %>
</p>

<p>
  <strong>Numero edifici:</strong>
  <%= @identificacio.numero_edifici %>
</p>

<p>
  <strong>Bloc edifici:</strong>
  <%= @identificacio.bloc_edifici %>
</p>

<p>
  <strong>Escala edifici:</strong>
  <%= @identificacio.escala_edifici %>
</p>

<p>
  <strong>Cp edifici:</strong>
  <%= @identificacio.cp_edifici %>
</p>

<p>
  <strong>Poblacio edifici:</strong>
  <%= @identificacio.poblacio_edifici %>
</p>

<p>
  <strong>Provincia edifici:</strong>
  <%= @identificacio.provincia_edifici %>
</p>

<p>
  <strong>Ref cadastral:</strong>
  <%= @identificacio.ref_cadastral %>
</p>

<p>
  <strong>Us edifici:</strong>
  <%= @identificacio.us_edifici %>
</p>

<p>
  <strong>Any inici construccio:</strong>
  <%= @identificacio.any_inici_construccio %>
</p>

<p>
  <strong>Any fi construccio:</strong>
  <%= @identificacio.any_fi_construccio %>
</p>

<%= link_to 'Edit', edit_identificacio_path(@identificacio) %> |
<%= link_to 'Back', identificacions_path %>
