<%= simple_form_for(@checklist_edifici_nou) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id %>
    <%= f.input :dades %>
    <%= f.input :planol_emplacament %>
    <%= f.input :foto_facana %>
    <%= f.input :promotor %>
    <%= f.input :projectista %>
    <%= f.input :constructor %>
    <%= f.input :director %>
    <%= f.input :director_execucio %>
    <%= f.input :laboratori %>
    <%= f.input :entitat_control %>
    <%= f.input :subministrador %>
    <%= f.input :industrial %>
    <%= f.input :llicencia %>
    <%= f.input :declaracio_obra_nova %>
    <%= f.input :regim_propietat %>
    <%= f.input :carregues %>
    <%= f.input :entitats_juridiques %>
    <%= f.input :acta_lliurament %>
    <%= f.input :canvis_titularitat %>
    <%= f.input :reformes %>
    <%= f.input :canvis_dades_inicials %>
    <%= f.input :ajuts %>
    <%= f.input :assegurances %>
    <%= f.input :enunciats_incidencies %>
    <%= f.input :registre_operacions_manteniment %>
    <%= f.input :registre_operacions_reparacio %>
    <%= f.input :registre_operacions_millora %>
    <%= f.input :registre_actuacions_arquitectoniques %>
    <%= f.input :planols %>
    <%= f.input :esquemes_instalacions %>
    <%= f.input :descripcio_pes %>
    <%= f.input :instruccions_us_manteniment %>
    <%= f.input :documents_substitucio %>
    <%= f.input :recomanacions_emergencies %>
    <%= f.input :planols_habitatge %>
    <%= f.input :planols_elements_privatius %>
    <%= f.input :instruccions_us_manteniment_habitatge %>
    <%= f.input :garanties_manuals_equips %>
    <%= f.input :llicencies_preceptives %>
    <%= f.input :certificat_final_obra %>
    <%= f.input :acta_recepcio_obra %>
    <%= f.input :escriptura_publica %>
    <%= f.input :documents_garantia %>
    <%= f.input :documents_garantia_parts_comunes %>
    <%= f.input :certificacio_energetica %>
    <%= f.input :polissa_assegurances %>
    <%= f.input :escriptura_propietat_horitzontal %>
    <%= f.input :estatus_comunitat %>
    <%= f.input :cedules_regims_juridics %>
    <%= f.input :carregues_reals %>
    <%= f.input :documents_complementaris %>
    <%= f.input :documents_acreditatius_ajuts %>
    <%= f.input :documents_justificacio_operacions %>
    <%= f.input :certificat_final_obra_instalacions %>
    <%= f.input :declaracions_ce_ascensors %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
