<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @checklist_edifici_nou.edifici_id %>
</p>

<p>
  <strong>Dades:</strong>
  <%= @checklist_edifici_nou.dades %>
</p>

<p>
  <strong>Planol emplacament:</strong>
  <%= @checklist_edifici_nou.planol_emplacament %>
</p>

<p>
  <strong>Foto facana:</strong>
  <%= @checklist_edifici_nou.foto_facana %>
</p>

<p>
  <strong>Promotor:</strong>
  <%= @checklist_edifici_nou.promotor %>
</p>

<p>
  <strong>Projectista:</strong>
  <%= @checklist_edifici_nou.projectista %>
</p>

<p>
  <strong>Constructor:</strong>
  <%= @checklist_edifici_nou.constructor %>
</p>

<p>
  <strong>Director:</strong>
  <%= @checklist_edifici_nou.director %>
</p>

<p>
  <strong>Director execucio:</strong>
  <%= @checklist_edifici_nou.director_execucio %>
</p>

<p>
  <strong>Laboratori:</strong>
  <%= @checklist_edifici_nou.laboratori %>
</p>

<p>
  <strong>Entitat control:</strong>
  <%= @checklist_edifici_nou.entitat_control %>
</p>

<p>
  <strong>Subministrador:</strong>
  <%= @checklist_edifici_nou.subministrador %>
</p>

<p>
  <strong>Industrial:</strong>
  <%= @checklist_edifici_nou.industrial %>
</p>

<p>
  <strong>Llicencia:</strong>
  <%= @checklist_edifici_nou.llicencia %>
</p>

<p>
  <strong>Declaracio obra nova:</strong>
  <%= @checklist_edifici_nou.declaracio_obra_nova %>
</p>

<p>
  <strong>Regim propietat:</strong>
  <%= @checklist_edifici_nou.regim_propietat %>
</p>

<p>
  <strong>Carregues:</strong>
  <%= @checklist_edifici_nou.carregues %>
</p>

<p>
  <strong>Entitats juridiques:</strong>
  <%= @checklist_edifici_nou.entitats_juridiques %>
</p>

<p>
  <strong>Acta lliurament:</strong>
  <%= @checklist_edifici_nou.acta_lliurament %>
</p>

<p>
  <strong>Canvis titularitat:</strong>
  <%= @checklist_edifici_nou.canvis_titularitat %>
</p>

<p>
  <strong>Reformes:</strong>
  <%= @checklist_edifici_nou.reformes %>
</p>

<p>
  <strong>Canvis dades inicials:</strong>
  <%= @checklist_edifici_nou.canvis_dades_inicials %>
</p>

<p>
  <strong>Ajuts:</strong>
  <%= @checklist_edifici_nou.ajuts %>
</p>

<p>
  <strong>Assegurances:</strong>
  <%= @checklist_edifici_nou.assegurances %>
</p>

<p>
  <strong>Enunciats incidencies:</strong>
  <%= @checklist_edifici_nou.enunciats_incidencies %>
</p>

<p>
  <strong>Registre operacions manteniment:</strong>
  <%= @checklist_edifici_nou.registre_operacions_manteniment %>
</p>

<p>
  <strong>Registre operacions reparacio:</strong>
  <%= @checklist_edifici_nou.registre_operacions_reparacio %>
</p>

<p>
  <strong>Registre operacions millora:</strong>
  <%= @checklist_edifici_nou.registre_operacions_millora %>
</p>

<p>
  <strong>Registre actuacions arquitectoniques:</strong>
  <%= @checklist_edifici_nou.registre_actuacions_arquitectoniques %>
</p>

<p>
  <strong>Planols:</strong>
  <%= @checklist_edifici_nou.planols %>
</p>

<p>
  <strong>Esquemes instalacions:</strong>
  <%= @checklist_edifici_nou.esquemes_instalacions %>
</p>

<p>
  <strong>Descripcio pes:</strong>
  <%= @checklist_edifici_nou.descripcio_pes %>
</p>

<p>
  <strong>Instruccions us manteniment:</strong>
  <%= @checklist_edifici_nou.instruccions_us_manteniment %>
</p>

<p>
  <strong>Documents substitucio:</strong>
  <%= @checklist_edifici_nou.documents_substitucio %>
</p>

<p>
  <strong>Recomanacions emergencies:</strong>
  <%= @checklist_edifici_nou.recomanacions_emergencies %>
</p>

<p>
  <strong>Planols habitatge:</strong>
  <%= @checklist_edifici_nou.planols_habitatge %>
</p>

<p>
  <strong>Planols elements privatius:</strong>
  <%= @checklist_edifici_nou.planols_elements_privatius %>
</p>

<p>
  <strong>Instruccions us manteniment habitatge:</strong>
  <%= @checklist_edifici_nou.instruccions_us_manteniment_habitatge %>
</p>

<p>
  <strong>Garanties manuals equips:</strong>
  <%= @checklist_edifici_nou.garanties_manuals_equips %>
</p>

<p>
  <strong>Llicencies preceptives:</strong>
  <%= @checklist_edifici_nou.llicencies_preceptives %>
</p>

<p>
  <strong>Certificat final obra:</strong>
  <%= @checklist_edifici_nou.certificat_final_obra %>
</p>

<p>
  <strong>Acta recepcio obra:</strong>
  <%= @checklist_edifici_nou.acta_recepcio_obra %>
</p>

<p>
  <strong>Escriptura publica:</strong>
  <%= @checklist_edifici_nou.escriptura_publica %>
</p>

<p>
  <strong>Documents garantia:</strong>
  <%= @checklist_edifici_nou.documents_garantia %>
</p>

<p>
  <strong>Documents garantia parts comunes:</strong>
  <%= @checklist_edifici_nou.documents_garantia_parts_comunes %>
</p>

<p>
  <strong>Certificacio energetica:</strong>
  <%= @checklist_edifici_nou.certificacio_energetica %>
</p>

<p>
  <strong>Polissa assegurances:</strong>
  <%= @checklist_edifici_nou.polissa_assegurances %>
</p>

<p>
  <strong>Escriptura propietat horitzontal:</strong>
  <%= @checklist_edifici_nou.escriptura_propietat_horitzontal %>
</p>

<p>
  <strong>Estatus comunitat:</strong>
  <%= @checklist_edifici_nou.estatus_comunitat %>
</p>

<p>
  <strong>Cedules regims juridics:</strong>
  <%= @checklist_edifici_nou.cedules_regims_juridics %>
</p>

<p>
  <strong>Carregues reals:</strong>
  <%= @checklist_edifici_nou.carregues_reals %>
</p>

<p>
  <strong>Documents complementaris:</strong>
  <%= @checklist_edifici_nou.documents_complementaris %>
</p>

<p>
  <strong>Documents acreditatius ajuts:</strong>
  <%= @checklist_edifici_nou.documents_acreditatius_ajuts %>
</p>

<p>
  <strong>Documents justificacio operacions:</strong>
  <%= @checklist_edifici_nou.documents_justificacio_operacions %>
</p>

<p>
  <strong>Certificat final obra instalacions:</strong>
  <%= @checklist_edifici_nou.certificat_final_obra_instalacions %>
</p>

<p>
  <strong>Declaracions ce ascensors:</strong>
  <%= @checklist_edifici_nou.declaracions_ce_ascensors %>
</p>

<%= link_to 'Edit', edit_checklist_edifici_nou_path(@checklist_edifici_nou) %> |
<%= link_to 'Back', checklist_edifici_nous_path %>
