<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @checklist_nou_unifamiliar.edifici_id %>
</p>

<p>
  <strong>Llicencies preceptives:</strong>
  <%= @checklist_nou_unifamiliar.llicencies_preceptives %>
</p>

<p>
  <strong>Certificat final obra:</strong>
  <%= @checklist_nou_unifamiliar.certificat_final_obra %>
</p>

<p>
  <strong>Acta recepcio obra:</strong>
  <%= @checklist_nou_unifamiliar.acta_recepcio_obra %>
</p>

<p>
  <strong>Escriptura publica:</strong>
  <%= @checklist_nou_unifamiliar.escriptura_publica %>
</p>

<p>
  <strong>Documents garantia:</strong>
  <%= @checklist_nou_unifamiliar.documents_garantia %>
</p>

<p>
  <strong>Certificacio energetica:</strong>
  <%= @checklist_nou_unifamiliar.certificacio_energetica %>
</p>

<p>
  <strong>Polissa assegurances:</strong>
  <%= @checklist_nou_unifamiliar.polissa_assegurances %>
</p>

<p>
  <strong>Cedules regims juridics:</strong>
  <%= @checklist_nou_unifamiliar.cedules_regims_juridics %>
</p>

<p>
  <strong>Carregues reals:</strong>
  <%= @checklist_nou_unifamiliar.carregues_reals %>
</p>

<p>
  <strong>Documents complementaris:</strong>
  <%= @checklist_nou_unifamiliar.documents_complementaris %>
</p>

<p>
  <strong>Documents acreditatius ajuts:</strong>
  <%= @checklist_nou_unifamiliar.documents_acreditatius_ajuts %>
</p>

<p>
  <strong>Documents justificacio operacions:</strong>
  <%= @checklist_nou_unifamiliar.documents_justificacio_operacions %>
</p>

<p>
  <strong>Declaracions ce ascensors:</strong>
  <%= @checklist_nou_unifamiliar.declaracions_ce_ascensors %>
</p>

<%= link_to 'Edit', edit_checklist_nou_unifamiliar_path(@checklist_nou_unifamiliar) %> |
<%= link_to 'Back', checklist_nou_unifamiliars_path %>
