<%= form_for(@director_execucio) do |f| %>
  <% if @director_execucio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@director_execucio.errors.count, "error") %> prohibited this director_execucio from being saved:</h2>

      <ul>
      <% @director_execucio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :edifici_id %><br>
    <%= f.number_field :edifici_id %>
  </div>
  <div class="field">
    <%= f.label :nom_director_execucio %><br>
    <%= f.text_field :nom_director_execucio %>
  </div>
  <div class="field">
    <%= f.label :titulacio_director_execucio %><br>
    <%= f.text_field :titulacio_director_execucio %>
  </div>
  <div class="field">
    <%= f.label :rao_social_director_execucio %><br>
    <%= f.text_field :rao_social_director_execucio %>
  </div>
  <div class="field">
    <%= f.label :nif_director_execucio %><br>
    <%= f.text_field :nif_director_execucio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
