<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @director_execucio.edifici_id %>
</p>

<p>
  <strong>Nom director execucio:</strong>
  <%= @director_execucio.nom_director_execucio %>
</p>

<p>
  <strong>Titulacio director execucio:</strong>
  <%= @director_execucio.titulacio_director_execucio %>
</p>

<p>
  <strong>Rao social director execucio:</strong>
  <%= @director_execucio.rao_social_director_execucio %>
</p>

<p>
  <strong>Nif director execucio:</strong>
  <%= @director_execucio.nif_director_execucio %>
</p>

<%= link_to 'Edit', edit_director_execucio_path(@director_execucio) %> |
<%= link_to 'Back', director_execucios_path %>
