<p id="notice"><%= notice %></p>

<h1>Listing Telecomunicacions</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Porter audio</th>
      <th>Porter video</th>
      <th>Antena individual</th>
      <th>Antena colectiva</th>
      <th>Parabolica individual</th>
      <th>Parabolica colectiva</th>
      <th>Telefonia</th>
      <th>Riti</th>
      <th>Rits</th>
      <th>Ritu</th>
      <th>Ritm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telecomunicacions.each do |telecomunicacio| %>
      <tr>
        <td><%= telecomunicacio.edifici_id %></td>
        <td><%= telecomunicacio.porter_audio %></td>
        <td><%= telecomunicacio.porter_video %></td>
        <td><%= telecomunicacio.antena_individual %></td>
        <td><%= telecomunicacio.antena_colectiva %></td>
        <td><%= telecomunicacio.parabolica_individual %></td>
        <td><%= telecomunicacio.parabolica_colectiva %></td>
        <td><%= telecomunicacio.telefonia %></td>
        <td><%= telecomunicacio.riti %></td>
        <td><%= telecomunicacio.rits %></td>
        <td><%= telecomunicacio.ritu %></td>
        <td><%= telecomunicacio.ritm %></td>
        <td><%= link_to 'Show', telecomunicacio %></td>
        <td><%= link_to 'Edit', edit_telecomunicacio_path(telecomunicacio) %></td>
        <td><%= link_to 'Destroy', telecomunicacio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telecomunicacio', new_telecomunicacio_path %>
