<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @telecomunicacio.edifici_id %>
</p>

<p>
  <strong>Porter audio:</strong>
  <%= @telecomunicacio.porter_audio %>
</p>

<p>
  <strong>Porter video:</strong>
  <%= @telecomunicacio.porter_video %>
</p>

<p>
  <strong>Antena individual:</strong>
  <%= @telecomunicacio.antena_individual %>
</p>

<p>
  <strong>Antena colectiva:</strong>
  <%= @telecomunicacio.antena_colectiva %>
</p>

<p>
  <strong>Parabolica individual:</strong>
  <%= @telecomunicacio.parabolica_individual %>
</p>

<p>
  <strong>Parabolica colectiva:</strong>
  <%= @telecomunicacio.parabolica_colectiva %>
</p>

<p>
  <strong>Telefonia:</strong>
  <%= @telecomunicacio.telefonia %>
</p>

<p>
  <strong>Riti:</strong>
  <%= @telecomunicacio.riti %>
</p>

<p>
  <strong>Rits:</strong>
  <%= @telecomunicacio.rits %>
</p>

<p>
  <strong>Ritu:</strong>
  <%= @telecomunicacio.ritu %>
</p>

<p>
  <strong>Ritm:</strong>
  <%= @telecomunicacio.ritm %>
</p>

<%= link_to 'Edit', edit_telecomunicacio_path(@telecomunicacio) %> |
<%= link_to 'Back', telecomunicacions_path %>
