<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Llibre de l'edifici" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="//use.typekit.net/sad2uwa.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>