<div class="sistemes-container">
	<ul class="side-nav">
	  <li <% if @menu_sistemes_actiu == 'fonamentacio' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_fonamentacio_path(@edifici.id, @fonamentacio) do %>
		    <%= t('.fonamentacio') %>
		  <% end %>
		</li>
	  <li <% if @menu_sistemes_actiu == 'estructura' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_estructura_path(@edifici.id, @estructura) do %>
		    <%= t('.estructura') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'tancaments_verticals' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_tancaments_vertical_path(@edifici.id, @tancaments_vertical) do %>
		    <%= t('.tancaments_verticals') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'coberta' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_coberta_path(@edifici.id, @coberta) do %>
		    <%= t('.coberta') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'sanejament' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_sanejament_path(@edifici.id, @sanejament) do %>
		    <%= t('.sanejament') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'aigua' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_aigua_path(@edifici.id, @aigua) do %>
		    <%= t('.aigua') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'electricitat' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_electricitat_path(@edifici.id, @electricitat) do %>
		    <%= t('.electricitat') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'gas' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_ga_path(@edifici.id, @ga) do %>
		    <%= t('.gas') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'climatitzacio' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_climatitzacio_path(@edifici.id, @climatitzacio) do %>
		    <%= t('.climatitzacio') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'ventilacio' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_ventilacio_path(@edifici.id, @ventilacio) do %>
		    <%= t('.ventilacio') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'incendis' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_incendi_path(@edifici.id, @incendi) do %>
		    <%= t('.incendi') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'ascensors' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_ascensor_path(@edifici.id, @ascensor) do %>
		    <%= t('.ascensor') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'telecomunicacions' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_telecomunicacio_path(@edifici.id, @telecomunicacio) do %>
		    <%= t('.telecomunicacio') %>
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'especials' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_especial_path(@edifici.id, @especial) do %>
		    <%= t('.especial') %>
		  <% end %>
	  </li>
	  
	</ul>
</div>