				<div class="nom-edifici-container">
          <%= @edifici.nom_edifici %>
          <div class="submenu right">
          	<ul class="submenu-list">
          		<li class="submenu-item <% if @submenu_actiu == 'identificacio' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.identificacio'), edit_edifici_identificacio_path(@edifici.id, @edifici.identificacio.id), :class => 'submenu-link') %></li>
          		<% if @edifici.tipus_edifici == "nou_plurifamiliar" || @edifici.tipus_edifici == "nou_unifamiliar" %>
                <li class="submenu-item <% if @submenu_actiu == 'agents' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.agents'), agents_path(@edifici.id), :class => 'submenu-link') %></li>
                <li class="submenu-item <% if @submenu_actiu == 'dades' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.dades'), dades_path(@edifici.id), :class => 'submenu-link') %></li>
              <% end %>
          		<li class="submenu-item <% if @submenu_actiu == 'sistemes' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.sistemes'), edit_edifici_fonamentacio_path(@edifici.id, @edifici.fonamentacio.id), :class => 'submenu-link') %></li>
          		<li class="submenu-item <% if @submenu_actiu == 'operacions' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.operacions'), edifici_referencies_path(@edifici.id), :class => 'submenu-link') %></li>
          		<li class="submenu-item <% if @submenu_actiu == 'documents' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.documents'), documents_path(@edifici.id), :class => 'submenu-link') %></li>
          	</ul>
          </div>
        </div>