				<div class="nom-edifici-container">
          <%= @edifici.nom_edifici %>
          <div class="submenu right">
          	<ul class="submenu-list">
          		<li class="submenu-item <% if @submenu_actiu == 'identificacio' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.identificacio'), edit_edifici_identificacio_path(@edifici.id, @edifici.identificacio.id), :class => 'submenu-link') %> </li>
          		<li class="submenu-item <% if @submenu_actiu == 'agents' %>
                    submenu-actiu
                    <% end %>"><%= link_to(t('.agents'), agents_path(@edifici.id), :class => 'submenu-link') %> </li>
          		<li class="submenu-item <% if @submenu_actiu == 'elements' %>
                    submenu-actiu
                    <% end %>"><%= t('.elements') %></li>
          		<li class="submenu-item"><%= t('.operacions') %></li>
          		<li class="submenu-item"><%= t('.document') %></li>
          	</ul>
          </div>
        </div>